openapi: 3.2.0
info:
  title: Clio API Documentation Custom Field Sets API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Custom Field Sets
  description: ''
paths:
  /custom_field_sets.json:
    get:
      tags:
      - Custom Field Sets
      summary: Return the data for all CustomFieldSets
      operationId: CustomFieldSet#index
      description: Outlines the parameters, optional and required, used when requesting the data for all CustomFieldSets
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter CustomFieldSet records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: displayed
        in: query
        description: Filter CustomFieldSet records to those that should be displayed by default.
        required: false
        schema:
          type: boolean
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter CustomFieldSet records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of CustomFieldSet records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the CustomFieldSet records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - name(asc)
          - name(desc)
          - id(asc)
          - id(desc)
          - parent_type(asc)
          - parent_type(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: parent_type
        in: query
        description: Filter CustomFieldSet records to those that have the specified `parent_type`.
        required: false
        schema:
          type: string
          enum:
          - Matter
          - Contact
      - name: query
        in: query
        description: Wildcard search for `name` matching a given string.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter CustomFieldSet records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomFieldSet_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Custom Field Sets
      summary: Create a new CustomFieldSet
      operationId: CustomFieldSet#create
      description: Outlines the parameters and data fields used when creating a new CustomFieldSet
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomFieldSet_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Custom Field Sets
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
                  required:
                  - name
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
                  required:
                  - name
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
                  required:
                  - name
        required: false
  /custom_field_sets/{id}.json:
    get:
      tags:
      - Custom Field Sets
      summary: Return the data for a single CustomFieldSet
      operationId: CustomFieldSet#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single CustomFieldSet
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CustomFieldSet.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomFieldSet_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Custom Field Sets
      summary: Update a single CustomFieldSet
      operationId: CustomFieldSet#update
      description: Outlines the parameters and data fields used when updating a single CustomFieldSet
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CustomFieldSet.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomFieldSet_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Custom Field Sets
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    custom_field_ids:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: The unique identifiers of the custom fields associated with the CustomFieldSet.
                    displayed:
                      type: boolean
                      description: Whether or not the CustomFieldSet should be displayed by default.
                    name:
                      type: string
                      description: CustomFieldSet name.
                    parent_type:
                      type: string
                      enum:
                      - Contact
                      - Matter
                      description: Type of object the CustomFieldSet is for.
        required: false
    delete:
      tags:
      - Custom Field Sets
      summary: Delete a single CustomFieldSet
      operationId: CustomFieldSet#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single CustomFieldSet
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CustomFieldSet.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CustomFieldSet_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/CustomFieldSet'
    CustomField_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *CustomField*
        etag:
          type: string
          description: ETag for the *CustomField*
        created_at:
          type: string
          format: date-time
          description: The time the *CustomField* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CustomField* was last updated (as a ISO-8601 timestamp)
        name:
          type: string
          description: The name of the *CustomField*
        parent_type:
          type: string
          enum:
          - Contact
          - Matter
          description: Type of object the *CustomField* is for
        field_type:
          type: string
          enum:
          - checkbox
          - contact
          - currency
          - date
          - time
          - email
          - matter
          - numeric
          - picklist
          - text_area
          - text_line
          - url
          description: Field type of the *CustomField*
        displayed:
          type: boolean
          description: Whether the *CustomField* is displayed by default
        deleted:
          type: boolean
          description: Whether the *CustomField* is deleted for future use
        required:
          type: boolean
          description: Whether the *CustomField* requires a value
        display_order:
          type: integer
          format: int32
          description: The display position of the *CustomField*
    CustomFieldSet_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: CustomFieldSet List Response
          items:
            $ref: '#/components/schemas/CustomFieldSet'
    CustomFieldSet:
      allOf:
      - $ref: '#/components/schemas/CustomFieldSet_base'
      - type: object
        properties:
          custom_fields:
            type: array
            items:
              $ref: '#/components/schemas/CustomField_base'
            description: CustomField
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    CustomFieldSet_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *CustomFieldSet*
        etag:
          type: string
          description: ETag for the *CustomFieldSet*
        name:
          type: string
          description: The name of the custom field set.
        parent_type:
          type: string
          enum:
          - Contact
          - Matter
          description: Type of object the *CustomFieldSet* is for.
        displayed:
          type: boolean
          description: Whether or not the *CustomFieldSet* should be displayed by default.
        created_at:
          type: string
          format: date-time
          description: The time the *CustomFieldSet* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CustomFieldSet* was last updated (as a ISO-8601 timestamp)
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
