openapi: 3.2.0
info:
  title: Clio API Documentation Bank Accounts API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Bank Accounts
  description: 'These accounts are meant to mirror the firm’s accounts at their financial institution. Users can add a bank account to Clio to use with Clio Payments, and for use as an audit and reconciliation tool.


    Support Link'
paths:
  /bank_accounts.json:
    get:
      tags:
      - Bank Accounts
      summary: Return the data for all BankAccounts
      operationId: BankAccount#index
      description: Outlines the parameters, optional and required, used when requesting the data for all BankAccounts
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter BankAccount records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter BankAccount records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of BankAccount records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the BankAccount records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - institution(asc)
          - institution(desc)
          - account_number(asc)
          - account_number(desc)
          - transit_number(asc)
          - transit_number(desc)
          - currency(asc)
          - currency(desc)
          - updated_at(asc)
          - updated_at(desc)
          - type(asc)
          - type(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: show_empty_accounts
        in: query
        description: Filter BankAccount records to those having a zero or non zero balance.
        required: false
        schema:
          type: boolean
      - name: status
        in: query
        description: Filter BankAccount records to those having a specific status.
        required: false
        schema:
          type: string
          enum:
          - opened
          - closed
      - name: type
        in: query
        description: Filter BankAccount records to those having a specific type.
        required: false
        schema:
          type: string
          enum:
          - OperatingAccount
          - TrustAccount
      - name: updated_since
        in: query
        description: Filter BankAccount records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: user_id
        in: query
        description: The unique identifier for a single User. Use the keyword `null` to match those without a BankAccount. The list will be filtered to include only the BankAccount records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BankAccount_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Bank Accounts
      summary: Create a new BankAccount
      operationId: BankAccount#create
      description: Outlines the parameters and data fields used when creating a new BankAccount
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BankAccount_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Bank Accounts
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    balance:
                      type: number
                      format: double
                      description: BankAccount balance.
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
                    type:
                      type: string
                      enum:
                      - Operating
                      - Trust
                      description: Type of BankAccount.
                  required:
                  - currency
                  - type
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    balance:
                      type: number
                      format: double
                      description: BankAccount balance.
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
                    type:
                      type: string
                      enum:
                      - Operating
                      - Trust
                      description: Type of BankAccount.
                  required:
                  - currency
                  - type
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    balance:
                      type: number
                      format: double
                      description: BankAccount balance.
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
                    type:
                      type: string
                      enum:
                      - Operating
                      - Trust
                      description: Type of BankAccount.
                  required:
                  - currency
                  - type
        required: false
  /bank_accounts/{id}.json:
    get:
      tags:
      - Bank Accounts
      summary: Return the data for a single BankAccount
      operationId: BankAccount#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single BankAccount
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the BankAccount.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BankAccount_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Bank Accounts
      summary: Update a single BankAccount
      operationId: BankAccount#update
      description: Outlines the parameters and data fields used when updating a single BankAccount
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the BankAccount.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BankAccount_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Bank Accounts
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    account_number:
                      type: string
                      description: 'Account number for the BankAccount.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts and controlled trust accounts.

                        '
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the client associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and cannot be updated after the account is created.

                            '
                    controlled_account:
                      type: boolean
                      description: 'Whether this BankAccount is a controlled bank account (Controlled Money Account / Interest Bearing Deposit).


                        When Compliant Trust Accounting is enabled, controlled bank accounts must be of type "Trust" and require bank name, client, and matter details. Client and matter cannot be updated after the account is created.

                        '
                    currency:
                      type: string
                      description: Currency the BankAccount is in.
                    default_account:
                      type: boolean
                      description: Whether or not the BankAccount should be the default account.
                    domicile_branch:
                      type: string
                      description: Branch where the BankAccount was opened.
                    general_ledger_number:
                      type: string
                      description: General ledger number used for the Law Society of Alberta.
                    holder:
                      type: string
                      description: BankAccount holder.
                    institution:
                      type: string
                      description: 'Financial institution (bank name).


                        When Compliant Trust Accounting is enabled and the BankAccount is controlled, this field is required.

                        '
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: 'The unique identifier for the matter associated with a controlled BankAccount.


                            When Compliant Trust Accounting is enabled and creating a controlled bank account, this field is required and the matter must belong to the same client specified in `client[id]`. This association cannot be updated after the account is created.

                            '
                    name:
                      type: string
                      description: BankAccount name.
                    swift:
                      type: string
                      description: Identification code for the financial institution.
                    transit_number:
                      type: string
                      description: 'Transit number for the BankAccount branch.


                        When Compliant Trust Accounting is enabled, this field is required for operating accounts.

                        '
        required: false
    delete:
      tags:
      - Bank Accounts
      summary: Delete a single BankAccount
      operationId: BankAccount#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single BankAccount
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the BankAccount.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    BankAccount_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BankAccount'
    BankAccount_base:
      type: object
      properties:
        account_number:
          type: string
          description: The account number for *BankAccount*
        balance:
          type: number
          format: double
          description: The current balance of the *BankAccount*
        bank_transactions_count:
          type: integer
          format: int32
          description: The number of bank transactions associated with the account.
        clio_payment_page_link:
          type: string
          description: Link to Single Payment Page which allows to transfer funds without logging in.
        clio_payment_page_qr_code:
          type: string
          description: A QR code that links to a Single Payment Page which allows to transfer funds without logging in.
        clio_payments_enabled:
          type: boolean
          description: Whether the bank account is connected to Clio Payments
        controlled_account:
          type: boolean
          description: Whether is a controlled account
        created_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was created (as a ISO-8601 timestamp)
        currency:
          type: string
          description: The currency type of the *BankAccount*
        currency_symbol:
          type: string
          description: The currency symbol of the *BankAccount*
        currency_id:
          type: number
          format: double
          description: The currency ID of the *BankAccount*
        default_account:
          type: boolean
          description: Whether it is the default account
        domicile_branch:
          type: string
          description: The name of the branch where the account was opened
        etag:
          type: string
          description: ETag for the *BankAccount*
        general_ledger_number:
          type: string
          description: General ledger number
        holder:
          type: string
          description: The name of the person or business that owns the *BankAccount*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BankAccount*
        institution:
          type: string
          description: The financial institution where the *BankAccount* is registered
        name:
          type: string
          description: The name of the *BankAccount*
        swift:
          type: string
          description: A unique identification code for the financial institution
        transit_number:
          type: string
          description: Transit number for the bank account branch
        type:
          type: string
          enum:
          - Operating
          - Trust
          description: The type of the *BankAccount*
        updated_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    BankAccount_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BankAccount List Response
          items:
            $ref: '#/components/schemas/BankAccount'
    BankAccount:
      allOf:
      - $ref: '#/components/schemas/BankAccount_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
