openapi: 3.2.0
info:
  title: Clio API Documentation Criminal Controlled Rates API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Criminal Controlled Rates
  description: 'This endpoint provides the Legal Aid criminal controlled rates, which are the prescribed reimbursement rates for legal services provided under the Legal Aid Scheme.


    Support Link'
paths:
  /lauk_criminal_controlled_rates.json:
    get:
      tags:
      - Criminal Controlled Rates
      summary: List Criminal Controlled Rates
      operationId: LaukCriminalControlledRate#index
      description: Outlines the parameters, optional and required, used when requesting the data for all LaukCriminalControlledRates
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: activity
        in: query
        description: Filter by activity.
        required: false
        schema:
          type: string
      - name: category_of_law
        in: query
        description: Filter by category of law.
        required: false
        schema:
          type: string
      - name: counsel
        in: query
        description: Filter by counsel.
        required: false
        schema:
          type: string
      - name: court
        in: query
        description: Filter by court.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: key
        in: query
        description: Filter by key.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of LaukCriminalControlledRate records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: rate_type
        in: query
        description: Filter by rate type.
        required: false
        schema:
          type: string
      - name: region
        in: query
        description: Filter by region.
        required: false
        schema:
          type: string
      - name: solicitor_type
        in: query
        description: Filter by solicitor type.
        required: false
        schema:
          type: string
      - name: standard_fee_category
        in: query
        description: Filter by standard fee category.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LaukCriminalControlledRate_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LaukCriminalControlledRate:
      allOf:
      - $ref: '#/components/schemas/LaukCriminalControlledRate_base'
      - type: object
        properties: {}
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    LaukCriminalControlledRate_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: LaukCriminalControlledRate List Response
          items:
            $ref: '#/components/schemas/LaukCriminalControlledRate'
    LaukCriminalControlledRate_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *LaukCriminalControlledRate*
        activity:
          type: string
          description: Activity of the *LaukCriminalControlledRate*
        activity_type:
          type: string
          description: Activity type
        category_of_law:
          type: string
          description: Category of law
        counsel:
          type: string
          description: Associated counsel
        court:
          type: string
          description: Court associated
        created_at:
          type: string
          format: date-time
          description: The time the *LaukCriminalControlledRate* was created (as a ISO-8601 timestamp)
        etag:
          type: string
          description: ETag for the *LaukCriminalControlledRate*
        exceptional:
          type: number
          format: decimal
          description: Fee applied for high activity count
        fee:
          type: number
          format: decimal
          description: Fee amount
        fee_scheme:
          type: string
          description: Fee scheme
        post_nov_24_exceptional:
          type: number
          format: decimal
          description: Exceptional amount to be used for matters with start dates post Nov 2024
        post_nov_24_fee:
          type: number
          format: decimal
          description: Fee amount to be used for matters with start dates post Nov 2024
        post_sept_22_exceptional:
          type: number
          format: decimal
          description: Exceptional amount to be used for matters with start dates post Sep 2022
        post_sept_22_fee:
          type: number
          format: decimal
          description: Fee amount to be used for matters with start dates post Sep 2022
        post_dec25_exceptional:
          type: number
          format: decimal
          description: Exceptional amount to be used for matters with start dates post Dec 2025
        post_dec25_fee:
          type: number
          format: decimal
          description: Fee amount to be used for matters with start dates post Dec 2025
        key:
          type: string
          description: Unique key
        rate_type:
          type: string
          description: Rate type
        region:
          type: string
          description: Region
        solicitor_type:
          type: string
          description: Solicitor type
        updated_at:
          type: string
          format: date-time
          description: The time the *LaukCriminalControlledRate* was last updated (as a ISO-8601 timestamp)
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
