openapi: 3.2.0
info:
  title: Clio API Documentation Task Template Lists API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Task Template Lists
  description: 'With Task Template Lists, users can create groups of Task Templates for the types of projects they work on most often. Each Task in a list can be given a separate due date in relation to the due dates for other Tasks in the list.


    Users can then assign individual tasks on a list to different users, or they can batch assign an entire list.


    Support Link


    Task Template Lists in Clio'
paths:
  /task_template_lists/{id}/copy.json:
    post:
      tags:
      - Task Template Lists
      summary: Copy a TaskTemplateList
      operationId: TaskTemplateList#copy
      description: Creates a copy of the TaskTemplateList identified by the `id` path parameter.
      parameters:
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaskTemplateList.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaskTemplateList_Show'
      requestBody:
        description: Request Body for Task Template Lists
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: The description of the TaskTemplateList copy.
                    name:
                      type: string
                      description: The name of the TaskTemplateList copy.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for the practice area of the TaskTemplateList copy.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: The description of the TaskTemplateList copy.
                    name:
                      type: string
                      description: The name of the TaskTemplateList copy.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for the practice area of the TaskTemplateList copy.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: The description of the TaskTemplateList copy.
                    name:
                      type: string
                      description: The name of the TaskTemplateList copy.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for the practice area of the TaskTemplateList copy.
        required: false
  /task_template_lists.json:
    get:
      tags:
      - Task Template Lists
      summary: Return the data for all TaskTemplateLists
      operationId: TaskTemplateList#index
      description: Outlines the parameters, optional and required, used when requesting the data for all TaskTemplateLists
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter TaskTemplateList records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: empty
        in: query
        description: Filter TaskTemplateList records to those that either contain at least one task template or contain none.
        required: false
        schema:
          type: boolean
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter TaskTemplateList records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of TaskTemplateList records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the TaskTemplateList records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - practice_area.name(asc)
          - practice_area.name(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: practice_area_id
        in: query
        description: The unique identifier for a single PracticeArea. Use the keyword `null` to match those without a TaskTemplateList. The list will be filtered to include only the TaskTemplateList records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: query
        in: query
        description: Wildcard search for `name` matching a given string.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter TaskTemplateList records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaskTemplateList_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Task Template Lists
      summary: Create a new TaskTemplateList
      operationId: TaskTemplateList#create
      description: Outlines the parameters and data fields used when creating a new TaskTemplateList
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaskTemplateList_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Task Template Lists
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
                  required:
                  - name
                  - description
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
                  required:
                  - name
                  - description
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
                  required:
                  - name
                  - description
        required: false
  /task_template_lists/{id}.json:
    get:
      tags:
      - Task Template Lists
      summary: Return the data for a single TaskTemplateList
      operationId: TaskTemplateList#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single TaskTemplateList
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaskTemplateList.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaskTemplateList_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Task Template Lists
      summary: Update a single TaskTemplateList
      operationId: TaskTemplateList#update
      description: Outlines the parameters and data fields used when updating a single TaskTemplateList
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaskTemplateList.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaskTemplateList_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Task Template Lists
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the TaskTemplateList.
                    name:
                      type: string
                      description: Name of the TaskTemplateList.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the TaskTemplateList. The keyword `null` is not valid for this field.
        required: false
    delete:
      tags:
      - Task Template Lists
      summary: Delete a single TaskTemplateList
      operationId: TaskTemplateList#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single TaskTemplateList
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaskTemplateList.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TaskTemplateList_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/TaskTemplateList'
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    TaskTemplateList:
      allOf:
      - $ref: '#/components/schemas/TaskTemplateList_base'
      - type: object
        properties:
          practice_area:
            $ref: '#/components/schemas/PracticeArea_base'
            description: PracticeArea
          creator:
            $ref: '#/components/schemas/User_base'
            description: User
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    PracticeArea_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *PracticeArea*
        etag:
          type: string
          description: ETag for the *PracticeArea*
        created_at:
          type: string
          format: date-time
          description: The time the *PracticeArea* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *PracticeArea* was last updated (as a ISO-8601 timestamp)
        name:
          type: string
          description: The name of the *PracticeArea*
        category:
          type: string
          enum:
          - administrative
          - admiralty_and_maritime
          - anti_trust_and_competition
          - appellate
          - banking_and_finance
          - bankruptcy
          - business_formation_and_compliance
          - civil_litigation
          - civil_rights_and_constitutional
          - collections_and_debt
          - commercial_and_sale_of_goods
          - commercial_litigation
          - construction
          - consumer_protection
          - contracts
          - corporate_litigation
          - criminal
          - disability_and_social_security
          - education
          - elder
          - employment_and_labor
          - energy_and_environmental
          - ethics
          - family
          - food_and_drug
          - general_practice
          - government
          - healthcare
          - immigration
          - in_house_counsel
          - insurance
          - intellectual_property
          - international
          - juvenile
          - legal_aid
          - mediation_and_arbitration
          - medical_malpractice
          - military
          - multi_practice
          - non_profit_and_pro_bono
          - other
          - personal_injury
          - privacy_and_information_security
          - private_client
          - product_liability
          - real_estate
          - science_and_technology
          - securities_and_mergers_and_acquisitions
          - small_claims
          - sports_and_entertainment_and_gaming
          - tax
          - telecommunications
          - traffic_offenses
          - transportation
          - tribal
          - trusts
          - wills_and_estates
          - workers_compensation
          description: 'The practice area category associated with the *PracticeArea*

            '
        code:
          type: string
          description: The code of the *PracticeArea*
    TaskTemplateList_base:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The time the *TaskTemplateList* was created (as a ISO-8601 timestamp)
        description:
          type: string
          description: A detailed description of the *TaskTemplateList*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *TaskTemplateList*
        etag:
          type: string
          description: ETag for the *TaskTemplateList*
        name:
          type: string
          description: The name of the *TaskTemplateList*
        templates_count:
          type: integer
          format: int32
          description: How many task templates exist as an association to the *TaskTemplateList*
        updated_at:
          type: string
          format: date-time
          description: The time the *TaskTemplateList* was last updated (as a ISO-8601 timestamp)
    TaskTemplateList_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: TaskTemplateList List Response
          items:
            $ref: '#/components/schemas/TaskTemplateList'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
