openapi: 3.2.0
info:
  title: Clio API Documentation Calendar Visibilities API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Calendar Visibilities
  description: ''
paths:
  /task_calendars.json:
    get:
      tags:
      - Calendar Visibilities
      summary: Return the data for all CalendarVisibilities
      operationId: CalendarVisibility#index
      description: Outlines the parameters, optional and required, used when requesting the data for all CalendarVisibilities
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter CalendarVisibility records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter CalendarVisibility records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of CalendarVisibility records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter CalendarVisibility records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarVisibility_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /task_calendars/{id}.json:
    get:
      tags:
      - Calendar Visibilities
      summary: Return the data for a single CalendarVisibility
      operationId: CalendarVisibility#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single CalendarVisibility
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CalendarVisibility.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarVisibility_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Calendar Visibilities
      summary: Update a single CalendarVisibility
      operationId: CalendarVisibility#update
      description: Outlines the parameters and data fields used when updating a single CalendarVisibility
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CalendarVisibility.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarVisibility_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Task Calendars
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    visible:
                      type: string
                      description: Whether or not the CalendarVisibility should be visible by default in the Clio Web UI.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    visible:
                      type: string
                      description: Whether or not the CalendarVisibility should be visible by default in the Clio Web UI.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    visible:
                      type: string
                      description: Whether or not the CalendarVisibility should be visible by default in the Clio Web UI.
        required: false
components:
  schemas:
    CalendarVisibility_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/CalendarVisibility'
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    CalendarVisibility_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *CalendarVisibility*
        etag:
          type: string
          description: ETag for the *CalendarVisibility*
        color:
          type: string
          enum:
          - '#658CDA'
          - '#DA6666'
          - '#49B050'
          - '#E7804C'
          - '#8C66DA'
          - '#C4A882'
          - '#64AD88'
          - '#84AAA5'
          - '#56BFB3'
          - '#E77399'
          - '#BFBF4B'
          - '#8BBF3C'
          - '#B473B4'
          - '#A7A77D'
          - '#F2A53D'
          - '#658CB3'
          - '#BE9494'
          - '#A992A9'
          - '#8897A5'
          - '#93A2BE'
          description: Calendar color
        light_color:
          type: string
          enum:
          - '#5DA5C7'
          - '#F95957'
          - '#209412'
          - '#FF7715'
          - '#DE649D'
          - '#FF6B02'
          - '#56C4FC'
          - '#00B177'
          - '#50D19B'
          - '#F14A8C'
          - '#A3A2A2'
          - '#84AB3B'
          - '#B091EE'
          - '#BD9E69'
          - '#F2A000'
          - '#00A5CA'
          - '#CB5A3D'
          - '#959CD0'
          - '#B0B0B0'
          - '#7BA6CD'
          description: Accent color to complement the main calendar color.
        visible:
          type: boolean
          description: Whether the *CalendarVisibility* will be shown by default in the Clio Web UI.
        name:
          type: string
          description: Calendar name
        created_at:
          type: string
          format: date-time
          description: The time the *CalendarVisibility* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CalendarVisibility* was last updated (as a ISO-8601 timestamp)
    CalendarVisibility_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: CalendarVisibility List Response
          items:
            $ref: '#/components/schemas/CalendarVisibility'
    CalendarVisibility:
      allOf:
      - $ref: '#/components/schemas/CalendarVisibility_base'
      - type: object
        properties: {}
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
