openapi: 3.0.0
info:
  title: Clio API Documentation Activities Expense Categories API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Expense Categories
  description: 'This endpoint provides the Legal Aid expense category rates, which are the prescribed reimbursement rates for legal services provided under the Legal Aid Scheme.


    [Support Link](https://help.clio.com/hc/en-150/sections/9591010772379-Legal-Aid)

    '
paths:
  /expense_categories.json:
    get:
      tags:
      - Expense Categories
      summary: Return the data for all ExpenseCategories
      operationId: ExpenseCategory#index
      description: Outlines the parameters, optional and required, used when requesting the data for all ExpenseCategories
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter ExpenseCategory records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: entry_type
        in: query
        description: Filter ExpenseCategory records to those that match the given type.
        required: false
        schema:
          type: string
          enum:
          - hard_cost
          - soft_cost
          - unassociated
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of ExpenseCategory records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the ExpenseCategory records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - rate(asc)
          - rate(desc)
          - entry_type(asc)
          - entry_type(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Allows matching search on expense category name.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter ExpenseCategory records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExpenseCategory_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Expense Categories
      summary: Create a new ExpenseCategory
      operationId: ExpenseCategory#create
      description: Outlines the parameters and data fields used when creating a new ExpenseCategory
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExpenseCategory_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Expense Categories
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                        required:
                        - tax_rate_configuration_id
                        - order
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                  required:
                  - name
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                        required:
                        - tax_rate_configuration_id
                        - order
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                  required:
                  - name
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                        required:
                        - tax_rate_configuration_id
                        - order
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                  required:
                  - name
        required: false
  /expense_categories/{id}.json:
    get:
      tags:
      - Expense Categories
      summary: Return the data for a single ExpenseCategory
      operationId: ExpenseCategory#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single ExpenseCategory
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the ExpenseCategory.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExpenseCategory_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Expense Categories
      summary: Update a single ExpenseCategory
      operationId: ExpenseCategory#update
      description: Outlines the parameters and data fields used when updating a single ExpenseCategory
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the ExpenseCategory.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExpenseCategory_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Expense Categories
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    currency:
                      type: object
                      description: Currency of the Expense Category.
                    entry_type:
                      type: string
                      enum:
                      - hard_cost
                      - soft_cost
                      - unassociated
                      description: Defaults to unassociated.
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Group associated with the ExpenseCategory. The keyword `null` is not valid for this field.
                          _deleted:
                            type: boolean
                            description: A flag to determine if this Group should lose access to this ExpenseCategory.
                    name:
                      type: string
                      description: Name of the Expense Category.
                    rate:
                      type: number
                      format: double
                      description: Rate of the Expense Category, default is null.
                    tax_settings:
                      type: array
                      items:
                        type: object
                        properties:
                          tax_rate_configuration_id:
                            type: integer
                            format: int64
                            description: The unique identifier of the tax rate configuration associated with the tax setting.
                          order:
                            type: integer
                            format: int32
                            description: The order that the tax setting should be applied in.
                          rule:
                            type: string
                            enum:
                            - Pre
                            - Post
                            description: The rule that the tax setting should be applied in.
                      description: Array of objects, with each object representing a tax setting with 'tax_rate_configuration_id', 'order', and 'rule' properties.
                    utbms_code:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single UtbmsCode associated with the ExpenseCategory. The keyword `null` is not valid for this field.
        required: false
    delete:
      tags:
      - Expense Categories
      summary: Delete a single ExpenseCategory
      operationId: ExpenseCategory#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single ExpenseCategory
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the ExpenseCategory.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /lauk_expense_categories.json:
    get:
      tags:
      - Expense Categories
      summary: List Expense Categories
      operationId: LaukExpenseCategory#index
      description: Outlines the parameters, optional and required, used when requesting the data for all LaukExpenseCategories
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: key
        in: query
        description: Filter by key.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of LaukExpenseCategory records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: name
        in: query
        description: Filter by expense name.
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: practice_area
        in: query
        description: Filter by expense practice area.
        required: false
        schema:
          type: string
      - name: region
        in: query
        description: Sets the expense rate returned based on the region. If the region is set to London, it will return the London rate; otherwise, it will return the non-London rate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LaukExpenseCategory_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Group_base:
      type: object
      properties:
        client_connect_user:
          type: boolean
          description: Whether or not the Group is a UserGroup for a Clio Connect User
        etag:
          type: string
          description: ETag for the *Group*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Group*
        name:
          type: string
          description: The name of the *Group*
        type:
          type: string
          enum:
          - UserGroup
          - AdhocGroup
          - AccountGroup
          - TeamGroup
          description: The type of the *Group*
        updated_at:
          type: string
          format: date-time
          description: The time the *Group* was last updated (as a ISO-8601 timestamp)
    ExpenseCategory_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: ExpenseCategory List Response
          items:
            $ref: '#/components/schemas/ExpenseCategory'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    LaukExpenseCategory:
      allOf:
      - $ref: '#/components/schemas/LaukExpenseCategory_base'
      - type: object
        properties: {}
    TaxSetting_base:
      type: object
      properties:
        tax_rate_configuration_id:
          type: integer
          format: int64
          description: The unique identifier of the tax rate configuration associated with the tax setting
        tax_rate_configuration_name:
          type: string
          description: The name of the tax rate configuration
        tax_rate_configuration_rate:
          type: number
          format: decimal
          description: The rate of the tax rate configuration
        tax_rate_configuration_formatted_rate:
          type: string
          description: The formatted rate of the tax rate configuration as a percentage
        order:
          type: integer
          format: int32
          description: The order in which this tax setting should be applied
        rule:
          type: string
          description: The rule that the tax setting should be applied in
    UtbmsCode_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *UtbmsCode*
        etag:
          type: string
          description: ETag for the *UtbmsCode*
        name:
          type: string
          description: The name of the *UtbmsCode*
        code:
          type: string
          description: The UTBMS code for the *UtbmsCode*
        description:
          type: string
          description: The UTBMS description for the *UtbmsCode*
        type:
          type: string
          enum:
          - UtbmsTask
          - UtbmsExpense
          - UtbmsActivity
          description: The type of the *UtbmsCode*
        utbms_set_id:
          type: integer
          format: int64
          description: Set id for the *UtbmsCode*
        created_at:
          type: string
          format: date-time
          description: The time the *UtbmsCode* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *UtbmsCode* was last updated (as a ISO-8601 timestamp)
    ExpenseCategory_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ExpenseCategory*
        etag:
          type: string
          description: ETag for the *ExpenseCategory*
        name:
          type: string
          description: The name of the expense category
        rate:
          type: integer
          format: int32
          description: The price charged per unit cost
        entry_type:
          type: string
          description: The type of expense entry the category is associated to. Can be either "hard_cost", "soft_cost" or "unassociated"
        created_at:
          type: string
          format: date-time
          description: The time the *ExpenseCategory* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ExpenseCategory* was last updated (as a ISO-8601 timestamp)
        xero_expense_code:
          type: string
          description: Custom Xero expense code for an expense category
        accessible_to_user:
          type: boolean
          description: Determines if expense category is accessible to user
        currency:
          type: object
          description: The currency details for the expense category
        tax_setting:
          type: string
          description: The type of tax rate applied to the expense category.
        tax_settings:
          type: array
          items:
            type: object
          description: Array of objects, with each object representing a tax setting.
    ExpenseCategory:
      allOf:
      - $ref: '#/components/schemas/ExpenseCategory_base'
      - type: object
        properties:
          groups:
            type: array
            items:
              $ref: '#/components/schemas/Group_base'
            description: Group
          utbms_code:
            $ref: '#/components/schemas/UtbmsCode_base'
            description: UtbmsCode
          currency:
            $ref: '#/components/schemas/Currency_base'
            description: Currency
          tax_settings:
            type: array
            items:
              $ref: '#/components/schemas/TaxSetting_base'
            description: TaxSetting
    LaukExpenseCategory_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: LaukExpenseCategory List Response
          items:
            $ref: '#/components/schemas/LaukExpenseCategory'
    ExpenseCategory_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ExpenseCategory'
    Currency_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Currency*
        etag:
          type: string
          description: ETag for the *Currency*
        code:
          type: string
          description: ISO 4217 code for the *Currency*
        sign:
          type: string
          description: Symbol used to denote monetary values using this *Currency*
        created_at:
          type: string
          format: date-time
          description: The time the *Currency* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Currency* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    LaukExpenseCategory_base:
      type: object
      properties:
        certificated:
          type: boolean
          description: Certificated boolean identifier for expense
        civil:
          type: boolean
          description: Civil boolean identifier for expense
        created_at:
          type: string
          format: date-time
          description: The time the *LaukExpenseCategory* was created (as a ISO-8601 timestamp)
        criminal:
          type: boolean
          description: Criminal boolean identifier for expense
        etag:
          type: string
          description: ETag for the *LaukExpenseCategory*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *LaukExpenseCategory*
        key:
          type: string
          description: Unique key
        name:
          type: string
          description: Expense name
        rate:
          type: number
          format: decimal
          description: Determines rate based on region param
        updated_at:
          type: string
          format: date-time
          description: The time the *LaukExpenseCategory* was last updated (as a ISO-8601 timestamp)
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
