openapi: 3.0.0
info:
  title: Clio API Documentation Activities Bills API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Bills
  description: 'Bills are statements of what a user’s client owes for their services over a particular billing period, including legal fees, expenses, and taxes.


    Users customize, preview, edit, and approve bills before sending them to a client.


    [Support Link](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills)

    '
paths:
  /bills/{id}/preview.json:
    get:
      tags:
      - Bills
      summary: Returns the pre-rendered html for the Bill
      operationId: Bill#preview
      description: 'This endpoint returns a pre-rendered HTML object that you can use to view a preview of your bills.

        The HTML provided contains all of the CSS rules it requires to show the bill correctly,

        as well as the DOCTYPE setting it requires.

        It''s best to use an iframe, or similar object, to render the results of this endpoint.

        '
      parameters:
      - name: id
        in: path
        description: The unique identifier for the Bill.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /bills.json:
    get:
      tags:
      - Bills
      summary: Return the data for all Bills
      operationId: Bill#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Bills
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: bill_number
        in: query
        description: Filter Bill records to those with this exact bill number
        required: false
        schema:
          type: string
      - name: client_id
        in: query
        description: The unique identifier for a single Contact. The keyword `null` is not valid for this field. The list will be filtered to include only the Bill records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Bill records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: currency_id
        in: query
        description: Filter Bill records to those of a specific currency.
        required: false
        schema:
          type: integer
          format: int64
      - name: custom_field_values
        in: query
        description: 'Filter records to only those with the given custom field(s) set. The value is compared using the operator provided, or,

          if the value type only supports one operator, the supported operator is used. In the latter case, no check for operator is performed on the input string.

          The key for the custom field value filter is the custom_field.id. e.g. `custom_field_values[12345]`

          If an operator is used for a type that does not support it, an `400 Bad Request` is returned.


          *Supported operators:*

          * `checkbox`, `contact`, `matter`, `picklist` : `=`


          e.g. `?custom_field_values[1]=42`


          * `currency`, `date`, `time`, `numeric` : `=`, `<`, `>`, `<=`, `>=`


          e.g. `?custom_field_values[1]=>=105.4`


          * `email`, `text_area`, `text_line`, `url` : `=`


          e.g. `?custom_field_values[1]=url_encoded`


          *Multiple conditions for the same custom field:*


          If you want to use more than one operator to filter a custom field, you can do so by passing in an array of values.

          e.g. `?custom_field_values[1]=[<=50, >=45]`

          '
        required: false
        schema:
          type: string
          enum:
          - '='
          - <
          - '>'
          - <=
          - '>='
      - name: due_after
        in: query
        description: Filter Bill records to those that have a `due_date` after the one provided (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: due_at
        in: query
        description: Filter Bill records to those that have a specific `due_date` (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: due_before
        in: query
        description: Filter Bill records to those that have a `due_date` before the one provided (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Bill records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: issued_after
        in: query
        description: Filter Bill records to those that have an `issue_date` after the one provided (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: issued_before
        in: query
        description: Filter Bill records to those that have an `issue_date` before the one provided (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: last_sent_end_date
        in: query
        description: Filter Bill records for those whose bills have been sent before the specified date
        required: false
        schema:
          type: string
          format: date
      - name: last_sent_start_date
        in: query
        description: Filter Bill records for those whose bills have been sent after the specified date
        required: false
        schema:
          type: string
          format: date
      - name: limit
        in: query
        description: 'A limit on the number of Bill records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Bill. The list will be filtered to include only the Bill records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Bill records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - due_at(asc)
          - due_at(desc)
          - issued_at(asc)
          - issued_at(desc)
          - paid_at(asc)
          - paid_at(desc)
          - last_sent_at(asc)
          - last_sent_at(desc)
          - client_name(asc)
          - client_name(desc)
          - matter_display_number(asc)
          - matter_display_number(desc)
          - balance(asc)
          - balance(desc)
          - number(asc)
          - number(desc)
      - name: originating_attorney_id
        in: query
        description: The unique identifier for a single User. Use the keyword `null` to match those without a Bill. The list will be filtered to include only the Bill records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: overdue_only
        in: query
        description: Filter Bill records to those that are overdue.
        required: false
        schema:
          type: boolean
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Allows matching search on invoice number.
        required: false
        schema:
          type: integer
          format: int32
      - name: responsible_attorney_id
        in: query
        description: The unique identifier for a single User. Use the keyword `null` to match those without a Bill. The list will be filtered to include only the Bill records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: state
        in: query
        description: Filter Bill records to those in a given state.
        required: false
        schema:
          type: string
          enum:
          - draft
          - awaiting_approval
          - awaiting_payment
          - paid
          - void
          - deleted
      - name: status
        in: query
        description: Filter Bill records to those with particular payment status.
        required: false
        schema:
          type: string
          enum:
          - all
          - overdue
      - name: type
        in: query
        description: Filter Bill records to those of a specific type.
        required: false
        schema:
          type: string
          enum:
          - revenue
          - trust
      - name: updated_since
        in: query
        description: Filter Bill records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Bill_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /bills/{id}.json:
    get:
      tags:
      - Bills
      summary: Return the data for a single Bill
      operationId: Bill#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Bill
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Bill.
        required: true
        schema:
          type: integer
          format: int64
      - name: navigation.next
        in: query
        description: The id of the next *Bill* available for viewing
        required: false
        schema:
          type: integer
          format: int32
      - name: navigation.previous
        in: query
        description: The id of the previous *Bill* available for viewing
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Bill_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Bills
      summary: Update a single Bill
      operationId: Bill#update
      description: Outlines the parameters and data fields used when updating a single Bill
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Bill.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Bill_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Bills
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bill_theme:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the bill theme applied to the Bill.
                    currency_id:
                      type: integer
                      format: int64
                      description: ID of the currency applied to the Bill.
                    discount:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Discount amount for the Bill. This can either be a percentage or monetary value, this is determined by the `discount[type]`.
                        type:
                          type: string
                          enum:
                          - percentage
                          - money
                          description: The type of discount you are applying to your Bill with the `discount[rate]`.
                        note:
                          type: string
                          description: A note for your Bill's discount.
                    due_at:
                      type: string
                      format: date
                      description: Date the Bill is due. If `use_grace_period` is true, this field is ignored.
                    interest:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Interest amount for the Bill as percentage.
                        type:
                          type: string
                          enum:
                          - simple
                          - compound
                          description: The type of interest you are applying to your Bill with the `interest[rate]`.
                        period:
                          type: integer
                          format: int32
                          description: The interest period for how frequently your Bill will charge interest.
                    issued_at:
                      type: string
                      format: date
                      description: Date the Bill was issued.
                    memo:
                      type: string
                      description: Memo for the Bill.
                    number:
                      type: string
                      description: Bill's number.
                    purchase_order:
                      type: string
                      description: Purchase order information for the Bill.
                    secondary_tax_rate:
                      type: number
                      format: double
                      description: Secondary tax rate as percentage for the Bill.
                    state:
                      type: string
                      enum:
                      - draft
                      - awaiting_approval
                      - awaiting_payment
                      - paid
                      - void
                      - deleted
                      description: Bill's state.
                    subject:
                      type: string
                      description: Subject details for the Bill.
                    tax_rate:
                      type: number
                      format: double
                      description: Tax rate as percentage for the Bill
                    use_grace_period:
                      type: boolean
                      description: When true, sets the bill's due date based on the client's grace period. This setting overrides the `due_at` parameter.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bill_theme:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the bill theme applied to the Bill.
                    currency_id:
                      type: integer
                      format: int64
                      description: ID of the currency applied to the Bill.
                    discount:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Discount amount for the Bill. This can either be a percentage or monetary value, this is determined by the `discount[type]`.
                        type:
                          type: string
                          enum:
                          - percentage
                          - money
                          description: The type of discount you are applying to your Bill with the `discount[rate]`.
                        note:
                          type: string
                          description: A note for your Bill's discount.
                    due_at:
                      type: string
                      format: date
                      description: Date the Bill is due. If `use_grace_period` is true, this field is ignored.
                    interest:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Interest amount for the Bill as percentage.
                        type:
                          type: string
                          enum:
                          - simple
                          - compound
                          description: The type of interest you are applying to your Bill with the `interest[rate]`.
                        period:
                          type: integer
                          format: int32
                          description: The interest period for how frequently your Bill will charge interest.
                    issued_at:
                      type: string
                      format: date
                      description: Date the Bill was issued.
                    memo:
                      type: string
                      description: Memo for the Bill.
                    number:
                      type: string
                      description: Bill's number.
                    purchase_order:
                      type: string
                      description: Purchase order information for the Bill.
                    secondary_tax_rate:
                      type: number
                      format: double
                      description: Secondary tax rate as percentage for the Bill.
                    state:
                      type: string
                      enum:
                      - draft
                      - awaiting_approval
                      - awaiting_payment
                      - paid
                      - void
                      - deleted
                      description: Bill's state.
                    subject:
                      type: string
                      description: Subject details for the Bill.
                    tax_rate:
                      type: number
                      format: double
                      description: Tax rate as percentage for the Bill
                    use_grace_period:
                      type: boolean
                      description: When true, sets the bill's due date based on the client's grace period. This setting overrides the `due_at` parameter.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bill_theme:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the bill theme applied to the Bill.
                    currency_id:
                      type: integer
                      format: int64
                      description: ID of the currency applied to the Bill.
                    discount:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Discount amount for the Bill. This can either be a percentage or monetary value, this is determined by the `discount[type]`.
                        type:
                          type: string
                          enum:
                          - percentage
                          - money
                          description: The type of discount you are applying to your Bill with the `discount[rate]`.
                        note:
                          type: string
                          description: A note for your Bill's discount.
                    due_at:
                      type: string
                      format: date
                      description: Date the Bill is due. If `use_grace_period` is true, this field is ignored.
                    interest:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: Interest amount for the Bill as percentage.
                        type:
                          type: string
                          enum:
                          - simple
                          - compound
                          description: The type of interest you are applying to your Bill with the `interest[rate]`.
                        period:
                          type: integer
                          format: int32
                          description: The interest period for how frequently your Bill will charge interest.
                    issued_at:
                      type: string
                      format: date
                      description: Date the Bill was issued.
                    memo:
                      type: string
                      description: Memo for the Bill.
                    number:
                      type: string
                      description: Bill's number.
                    purchase_order:
                      type: string
                      description: Purchase order information for the Bill.
                    secondary_tax_rate:
                      type: number
                      format: double
                      description: Secondary tax rate as percentage for the Bill.
                    state:
                      type: string
                      enum:
                      - draft
                      - awaiting_approval
                      - awaiting_payment
                      - paid
                      - void
                      - deleted
                      description: Bill's state.
                    subject:
                      type: string
                      description: Subject details for the Bill.
                    tax_rate:
                      type: number
                      format: double
                      description: Tax rate as percentage for the Bill
                    use_grace_period:
                      type: boolean
                      description: When true, sets the bill's due date based on the client's grace period. This setting overrides the `due_at` parameter.
        required: false
    delete:
      tags:
      - Bills
      summary: Delete or void a Bill
      operationId: Bill#destroy
      description: 'This endpoint will transition a bill to either its deleted or voided state.

        A bill can only be deleted or voided if it has no payments recorded

        and its current state is one of the following:

        * Draft

        * Pending Approval

        * Unpaid


        A bill will automatically be moved to a deleted or void state based on its current state.

        The mappings for this are:

        * Draft -> Deleted

        * Pending Approval -> Deleted

        * Unpaid -> Void

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Bill.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Group_base:
      type: object
      properties:
        client_connect_user:
          type: boolean
          description: Whether or not the Group is a UserGroup for a Clio Connect User
        etag:
          type: string
          description: ETag for the *Group*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Group*
        name:
          type: string
          description: The name of the *Group*
        type:
          type: string
          enum:
          - UserGroup
          - AdhocGroup
          - AccountGroup
          - TeamGroup
          description: The type of the *Group*
        updated_at:
          type: string
          format: date-time
          description: The time the *Group* was last updated (as a ISO-8601 timestamp)
    Bill_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Bill List Response
          items:
            $ref: '#/components/schemas/Bill'
    Bill:
      allOf:
      - $ref: '#/components/schemas/Bill_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          client:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          discount:
            $ref: '#/components/schemas/Discount_base'
            description: Discount
          interest:
            $ref: '#/components/schemas/Interest_base'
            description: Interest
          matters:
            type: array
            items:
              $ref: '#/components/schemas/Matter_base'
            description: Matter
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          bill_theme:
            $ref: '#/components/schemas/BillTheme_base'
            description: BillTheme
          original_bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          destination_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          balances:
            type: array
            items:
              $ref: '#/components/schemas/Balance_base'
            description: Balance
          matter_totals:
            type: array
            items:
              $ref: '#/components/schemas/MatterBalance_base'
            description: MatterBalance
          currency:
            $ref: '#/components/schemas/Currency_base'
            description: Currency
          billing_setting:
            $ref: '#/components/schemas/BillingSetting_base'
            description: BillingSetting
          client_addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address_base'
            description: Address
          legal_aid_uk_bill:
            $ref: '#/components/schemas/LegalAidUkBill_base'
            description: LegalAidUkBill
          split_invoice:
            $ref: '#/components/schemas/SplitInvoice_base'
            description: SplitInvoice
    Currency_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Currency*
        etag:
          type: string
          description: ETag for the *Currency*
        code:
          type: string
          description: ISO 4217 code for the *Currency*
        sign:
          type: string
          description: Symbol used to denote monetary values using this *Currency*
        created_at:
          type: string
          format: date-time
          description: The time the *Currency* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Currency* was last updated (as a ISO-8601 timestamp)
    Interest_base:
      type: object
      properties:
        balance:
          type: number
          format: double
          description: Interest balance for the object
        period:
          type: integer
          format: int32
          description: Number of days that represent the frequency which your *Interest%* will be applied
        rate:
          type: number
          format: double
          description: Rate for the *Interest%*
        total:
          type: number
          format: double
          description: Interest total for the object
        type:
          type: string
          enum:
          - simple
          - compound
          description: Type of *Interest%* being applied
    Bill_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Bill'
    Discount_base:
      type: object
      properties:
        rate:
          type: number
          format: double
          description: The rate of the *Discount%*
        type:
          type: string
          enum:
          - percentage
          - money
          description: The type of *Discount* being applied in your *Discount* rate.
        note:
          type: string
          description: A note for your *Discount*
        early_payment_rate:
          type: integer
          format: int32
          description: The % discount that will be applied if your *Discount* is paid within the early payment period.
        early_payment_period:
          type: integer
          format: int32
          description: The number of days for your *Discount* period. If your bill is paid within this time, apply your *Discount* rate to the bill.
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    SplitInvoice_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *SplitInvoice*
        bill_id:
          type: integer
          format: int64
          description: The ID of the bill that was split.
        linked_invoices_display_numbers:
          type: array
          items:
            type: string
          description: Display numbers of all invoices split with this one.
        linked_invoices_ids:
          type: array
          items:
            type: integer
            format: int32
          description: IDs of all invoices split with this one.
        split_connection_id:
          type: string
          description: UUID to determine which invoices are split together.
        split_portion:
          type: number
          format: double
          description: The percentage of the bill that the payer is responsible for.
        etag:
          type: string
          description: ETag for the *SplitInvoice*
        created_at:
          type: string
          format: date-time
          description: The time the *SplitInvoice* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *SplitInvoice* was last updated (as a ISO-8601 timestamp)
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    BankAccount_base:
      type: object
      properties:
        account_number:
          type: string
          description: The account number for *BankAccount*
        balance:
          type: number
          format: double
          description: The current balance of the *BankAccount*
        bank_transactions_count:
          type: integer
          format: int32
          description: The number of bank transactions associated with the account.
        clio_payment_page_link:
          type: string
          description: Link to Single Payment Page which allows to transfer funds without logging in.
        clio_payment_page_qr_code:
          type: string
          description: A QR code that links to a Single Payment Page which allows to transfer funds without logging in.
        clio_payments_enabled:
          type: boolean
          description: Whether the bank account is connected to Clio Payments
        controlled_account:
          type: boolean
          description: Whether is a controlled account
        created_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was created (as a ISO-8601 timestamp)
        currency:
          type: string
          description: The currency type of the *BankAccount*
        currency_symbol:
          type: string
          description: The currency symbol of the *BankAccount*
        currency_id:
          type: number
          format: double
          description: The currency ID of the *BankAccount*
        default_account:
          type: boolean
          description: Whether it is the default account
        domicile_branch:
          type: string
          description: The name of the branch where the account was opened
        etag:
          type: string
          description: ETag for the *BankAccount*
        general_ledger_number:
          type: string
          description: General ledger number
        holder:
          type: string
          description: The name of the person or business that owns the *BankAccount*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BankAccount*
        institution:
          type: string
          description: The financial institution where the *BankAccount* is registered
        name:
          type: string
          description: The name of the *BankAccount*
        swift:
          type: string
          description: A unique identification code for the financial institution
        transit_number:
          type: string
          description: Transit number for the bank account branch
        type:
          type: string
          enum:
          - Operating
          - Trust
          description: The type of the *BankAccount*
        updated_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Address_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Address*
        etag:
          type: string
          description: ETag for the *Address*
        street:
          type: string
          description: Street of the *Address*
        city:
          type: string
          description: City of the *Address*
        province:
          type: string
          description: Province or state of the *Address*
        postal_code:
          type: string
          description: Postal code of the *Address*
        country:
          type: string
          description: Country of the *Address*
        name:
          type: string
          enum:
          - Work
          - Home
          - Billing
          - Other
          description: The name of the *Address*
        created_at:
          type: string
          format: date-time
          description: The time the *Address* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Address* was last updated (as a ISO-8601 timestamp)
        primary:
          type: boolean
          description: Whether it is the default for this contact
    Balance_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Balance*
        amount:
          type: number
          format: double
          description: The amount for this Balance.
        type:
          type: string
          enum:
          - Matter
          - Client
          description: The type of Balance this data is for.
        interest_amount:
          type: number
          format: double
          description: The interest amount for this Balance.
        due:
          type: number
          format: double
          description: The amount due for this Balance, factoring in applicable discounts.
    BillTheme_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BillTheme*
        etag:
          type: string
          description: ETag for the *BillTheme*
        created_at:
          type: string
          format: date-time
          description: The time the *BillTheme* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *BillTheme* was last updated (as a ISO-8601 timestamp)
        account_id:
          type: integer
          format: int64
          description: The account number the *BillTheme* belongs to
        default:
          type: boolean
          description: Whether the *BillTheme* is the default for its account
        name:
          type: string
          description: The name of the *BillTheme*
        config:
          type: string
          description: The configuration of the *BillTheme*
    LegalAidUkBill_base:
      type: object
      properties:
        additional_travel_payment:
          type: boolean
          description: Additional travel payment, for Legal Aid England and Wales
        adjourned_hearing_fee:
          type: string
          description: Adjourned hearing fee
        advocacy_costs:
          type: number
          format: double
          description: Advocacy costs
        advice_time:
          type: integer
          format: int32
          description: Advice time
        bill_type:
          type: integer
          format: int32
          description: Bill type
        case_concluded:
          type: string
          format: date
          description: Case concluded
        case_stage_level:
          type: integer
          format: int32
          description: Case stage level
        cla_exemption_code:
          type: string
          description: CLA exemption code
        cla_reference:
          type: string
          description: CLA reference
        cmrh_oral:
          type: integer
          format: int32
          description: CMRH oral
        cmrh_telephone:
          type: integer
          format: int32
          description: CMRH telephone
        cost_of_counsel:
          type: string
          description: Cost of counsel
        costs_are_those_of:
          type: integer
          format: int32
          description: Costs are those of
        court_location:
          type: string
          description: Court location (HPCDS matters)
        date_of_claim:
          type: string
          format: date
          description: Date of claim
        designated_accredited_representative:
          type: integer
          format: int32
          description: Designated accredited representative
        detention_travel_and_waiting_costs:
          type: string
          description: Detention travel & waiting costs ex VAT
        disbursements_vat:
          type: number
          format: double
          description: Disbursements VAT
        exceptional_case_funding_reference:
          type: string
          description: Exceptional case funding reference
        exemption_criteria_satisfied:
          type: integer
          format: int32
          description: Exemption criteria satisfied
        fee_code:
          type: string
          description: Fee code
        follow_on_work:
          type: integer
          format: int32
          description: Follow on work
        ho_interview:
          type: integer
          format: int32
          description: HO interview
        ho_ucn:
          type: integer
          format: int32
          description: HO UCN
        id:
          type: integer
          format: int64
          description: Unique identifier for the *LegalAidUkBill*
        independent_medical_reports_claimed:
          type: string
          description: Independent medical reports claimed
        jr_form_filling:
          type: string
          description: JR/Form filling ex VAT, for Legal Aid England and Wales
        maat_id:
          type: string
          description: MAAT ID
        meetings_attended:
          type: integer
          format: int32
          description: Meetings attended
        mht_ref_no:
          type: string
          description: MHT reference number
        net_disbursements:
          type: number
          format: double
          description: Net disbursements
        net_profit_costs:
          type: number
          format: double
          description: Net profit cost
        niat_disbursement_prior_authority_number:
          type: string
          description: NIAT disbursement prior authority number
        number_of_attendances:
          type: integer
          format: int32
          description: Number of attendances
        outcome_for_the_client:
          type: integer
          format: int32
          description: Outcome for the client
        profit_costs_ex_vat:
          type: integer
          format: int32
          description: Profit costs ex VAT
        prior_authority_reference:
          type: string
          description: Prior authority reference number
        representation_order_date:
          type: string
          format: date
          description: Representation order date
        stage_reached:
          type: integer
          format: int32
          description: Stage reached
        substantive_hearing:
          type: integer
          format: int32
          description: Substantive hearing
        travel_and_waiting_costs:
          type: number
          format: double
          description: Travel & waiting costs
        travel_time:
          type: integer
          format: int32
          description: Travel time
        value_of_costs:
          type: string
          description: Value of costs
        waiting_time:
          type: integer
          format: int32
          description: Waiting time
    Bill_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Bill*
        etag:
          type: string
          description: ETag for the *Bill*
        number:
          type: string
          description: The *Bill* identifier (not necessarily numeric)'
        issued_at:
          type: string
          format: date
          description: The time the *Bill* was issued (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Bill* was created (as a ISO-8601 timestamp)
        due_at:
          type: string
          format: date
          description: The date the *Bill* is due (as a ISO-8601 date)
        tax_rate:
          type: number
          format: double
          description: The tax rate to the *Bill*
        secondary_tax_rate:
          type: number
          format: double
          description: A secondary tax rate applied to the *Bill*
        updated_at:
          type: string
          format: date-time
          description: The time the *Bill* was last updated (as a ISO-8601 timestamp)
        subject:
          type: string
          description: The subject of the *Bill*
        purchase_order:
          type: string
          description: The purchase order of the *Bill*
        type:
          type: string
          enum:
          - MatterBill
          - ClientBill
          description: The type of the *Bill*
        memo:
          type: string
          description: A memo for the *Bill*
        start_at:
          type: string
          format: date
          description: The time the billing period starts (as a ISO-8601 date)
        end_at:
          type: string
          format: date
          description: The time the billing period ends (as a ISO-8601 date)
        balance:
          type: number
          format: double
          description: The outstanding balance of the *Bill*
        state:
          type: string
          enum:
          - draft
          - awaiting_approval
          - awaiting_payment
          - paid
          - void
          - deleted
          description: The billing state the *Bill* is in
        kind:
          type: string
          enum:
          - revenue_kind
          - summary_kind
          - trust_kind
          - aggregate_all
          - aggregate_split
          - aggregate_services
          - aggregate_expenses
          description: The kind of the *Bill*
        total:
          type: number
          format: double
          description: The total with interest of the *Bill*
        paid:
          type: number
          format: double
          description: The total amount paid for the *Bill*
        paid_at:
          type: string
          format: date-time
          description: The date of the last payment on the *Bill*
        pending:
          type: number
          format: double
          description: The amount of pending credit card payments on the *Bill*
        due:
          type: number
          format: double
          description: The total amount of the *Bill* with interest and less discounts
        discount_services_only:
          type: string
          description: The selected discount is applied to services only.
        can_update:
          type: boolean
          description: This value indicates if your *Bill*'s line items and information can be updated.
        credits_issued:
          type: number
          format: double
          description: The total credits issued for the *Bill*
        shared:
          type: boolean
          description: Whether the *Bill* is a shared
        last_sent_at:
          type: string
          format: date-time
          description: The last time the *Bill* was sent (as a ISO-8601 date)
        services_secondary_tax:
          type: number
          format: double
          description: The total secondary tax of the bill's line items of a service kind
        services_sub_total:
          type: number
          format: double
          description: The sub total of all the bill's line items of a service kind
        services_tax:
          type: number
          format: double
          description: The total tax of the bill's line items of a service kind
        services_taxable_sub_total:
          type: integer
          format: int64
          description: The services portion of the bill's primary tax
        services_secondary_taxable_sub_total:
          type: integer
          format: int64
          description: The services portion of the bill's secondary tax
        taxable_sub_total:
          type: integer
          format: int64
          description: The total taxable bill amount
        secondary_taxable_sub_total:
          type: integer
          format: int64
          description: The subtotal of the bill's secondary tax
        sub_total:
          type: number
          format: double
          description: Sub total for the *Bill*
        tax_sum:
          type: number
          format: double
          description: Sum of primary tax for the model
        secondary_tax_sum:
          type: number
          format: double
          description: Sum of secondary tax for the model
        total_tax:
          type: number
          format: double
          description: The total amount of tax for the bill.
        available_state_transitions:
          type: array
          items:
            type: string
            enum:
            - awaiting_approval
            - awaiting_payment
            - paid
            - void
            - deleted
          description: The available *Bill* state transitions.
    MatterBalance_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MatterBalance*
        amount:
          type: number
          format: double
          description: The amount of balance of a matter.
    BillingSetting_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BillingSetting*
        etag:
          type: string
          description: ETag for the *BillingSetting*
        rounded_duration:
          type: number
          format: float
          description: Rounded equivalent of duration submitted
        rounding:
          type: integer
          format: int32
          description: Minute increment for time rounding
        use_decimal_rounding:
          type: boolean
          description: Round time to two decimal places
        currency:
          type: string
          description: Current user setting of currency
        currency_sign:
          type: string
          description: The sign of the current currency
        tax_rate:
          type: number
          format: double
          description: Rate applied for primary tax on invoices using this BillingSetting
        tax_name:
          type: string
          description: Name shown for primary tax on invoices using this BillingSetting
        apply_tax_by_default:
          type: boolean
          description: Used to determine if primary tax should be applied to invoices by default
        apply_secondary_tax_by_default:
          type: boolean
          description: Used to determine if secondary tax should be applied to invoices by default
        time_on_flat_rate_contingency_matters_is_non_billable:
          type: boolean
          description: Used to determine if hourly time entries on flat rate or contingency fee matters should be non-billable by default
        use_secondary_tax:
          type: boolean
          description: Used to determine if secondary tax applies to invoices using this BillingSetting
        secondary_tax_rate:
          type: number
          format: double
          description: Rate applied for secondary tax on invoices using this BillingSetting
        secondary_tax_rule:
          type: string
          enum:
          - Pre
          - Post
          description: Used to determine if secondary tax should be applied separately or additionally to primary tax
        secondary_tax_name:
          type: string
          description: Name shown for secondary tax on invoices using this BillingSetting
        notify_after_bill_created:
          type: boolean
          description: Flag to indicate if users should have the option to notify other users when generating a bill
        use_utbms_codes:
          type: boolean
          description: Controls usage of UTBMS codes, allowing creation of coded time entries and expenses
        created_at:
          type: string
          format: date-time
          description: The time the *BillingSetting* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *BillingSetting* was last updated (as a ISO-8601 timestamp)
        multi_currency_billing:
          type: boolean
          description: Whether multi-currency billing is enabled
        billing_currencies:
          type: array
          items:
            type: object
          description: The currencies that an account has available for billing, if multi-currency billing is enabled
        tax_settings:
          type: array
          items:
            type: object
          description: Array of objects representing invoice tax defaults, with each object containing 'tax_rate_configuration_id', 'order', and 'rule'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
