openapi: 3.2.0
info:
  title: Clio API Documentation Document Versions API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Document Versions
  description: 'Versions contain information about the version history of a document. Versioning allows users to track changes made to a document over time.


    Support Link'
paths:
  /documents/{id}/versions/{document_version_id}/save_as_latest_version.json:
    post:
      tags:
      - Document Versions
      summary: Save a specific document version as the latest version of the document
      operationId: DocumentVersion#save_as_latest_version
      description: This operation creates a new document version based on the specified version and updates the document to point to this new version as the latest
      parameters:
      - name: document_version_id
        in: path
        description: ID of the Document Version
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the Document
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Ok
  /documents/{id}/versions.json:
    get:
      tags:
      - Document Versions
      summary: Return the data for all DocumentVersions
      operationId: DocumentVersion#index
      description: Outlines the parameters, optional and required, used when requesting the data for all DocumentVersions
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: fully_uploaded
        in: query
        description: Filter DocumentVersion records to those with the given `fully_uploaded` status.
        required: false
        schema:
          type: boolean
      - name: id
        in: query
        description: The unique identifier for the DocumentVersion.
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the Document
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of DocumentVersion records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DocumentVersion_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Multipart_base:
      type: object
      properties:
        part_number:
          type: integer
          format: int32
          description: Unique identifier of a part which defines its position within the document being uploaded.
        put_url:
          type: string
          description: A signed URL for uploading the file part. It expires in 10 minutes.
    MultipartHeader_base:
      type: object
      properties:
        name:
          type: string
          description: Required HTTP header field name for uploading.
        value:
          type: string
          description: Required HTTP header field value for uploading.
    ClioCreator_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *ClioCreator* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *ClioCreator* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *ClioCreator* is a default attendee for court rules events
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *ClioCreator*.
        email:
          type: string
          description: The email of the *ClioCreator*
        enabled:
          type: boolean
          description: Whether the *ClioCreator* is allowed to log in
        etag:
          type: string
          description: ETag for the *ClioCreator*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ClioCreator*
        type:
          type: string
          enum:
          - ManageUser
          - ClientUser
          description: The type of the *ClioCreator*
        initials:
          type: string
          description: The initials of the *ClioCreator*
        first_name:
          type: string
          description: The first name of the *ClioCreator*
        last_name:
          type: string
          description: The last name of the *ClioCreator*
        name:
          type: string
          description: The full name of the *ClioCreator*
        phone_number:
          type: string
          description: The primary phone number for the *ClioCreator*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *ClioCreator*.
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *ClioCreator*
        time_zone:
          type: string
          description: The selected time zone of the *ClioCreator*
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *ClioCreator*
        created_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    DocumentVersion_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: DocumentVersion List Response
          items:
            $ref: '#/components/schemas/DocumentVersion'
    DocumentVersion_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentVersion*
        document_id:
          type: integer
          format: int64
          description: The ID of the parent document.
        etag:
          type: string
          description: ETag for the *DocumentVersion*
        uuid:
          type: string
          description: UUID associated with the DocumentVersion. UUID is required to mark a document fully uploaded.
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was last updated (as a ISO-8601 timestamp)
        filename:
          type: string
          description: The uploaded file name of the DocumentVersion.
        size:
          type: integer
          format: int32
          description: The size of the DocumentVersion in bytes.
        version_number:
          type: integer
          format: int32
          description: The ordered number of when this DocumentVersion was uploaded.
        content_type:
          type: string
          description: A standard MIME type describing the format of the object data.
        received_at:
          type: string
          format: date-time
          description: The time the DocumentVersion was received (as an ISO-8601 timestamp)
        put_url:
          type: string
          description: A signed URL for uploading the file in a single operation. It expires in 10 minutes. If the document is fully uploaded, the field is empty.
        fully_uploaded:
          type: boolean
          description: True if the DocumentVersion is uploaded. False if the DocumentVersion is being uploaded.
    DocumentVersion:
      allOf:
      - $ref: '#/components/schemas/DocumentVersion_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          put_headers:
            type: array
            items:
              $ref: '#/components/schemas/MultipartHeader_base'
            description: MultipartHeader
          multiparts:
            type: array
            items:
              $ref: '#/components/schemas/Multipart'
            description: Multipart
    Multipart:
      allOf:
      - $ref: '#/components/schemas/Multipart_base'
      - type: object
        properties:
          put_headers:
            type: array
            items:
              $ref: '#/components/schemas/MultipartHeader_base'
            description: MultipartHeader
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
