openapi: 3.2.0
info:
  title: Clio API Documentation Conversations API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Conversations
  description: ''
paths:
  /conversations.json:
    get:
      tags:
      - Conversations
      summary: Return the data for all Conversations
      operationId: Conversation#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Conversations
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: archived
        in: query
        description: Filter archived Conversation records.
        required: false
        schema:
          type: boolean
      - name: contact_id
        in: query
        description: Filter Conversation records for the contact.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Conversation records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: date
        in: query
        description: Filter Conversation records created on a given date. (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: for_user
        in: query
        description: 'If set to true, filter Conversation records accessible to any groups of the user.

          Note that the user may not be member of the conversations.


          If set to false, filter Conversation records of which the user is a member.

          '
        required: false
        schema:
          type: boolean
      - name: ids[]
        in: query
        description: Filter Conversation records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Conversation records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Conversation. The list will be filtered to include only the Conversation records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Conversation records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - last_message_id(asc)
          - last_message_id(desc)
          - matter_id(asc)
          - matter_id(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: read_status
        in: query
        description: Filter Conversation records to those which have been read.
        required: false
        schema:
          type: boolean
      - name: time_entries
        in: query
        description: Filter Conversation records to those with or without associated time entries.
        required: false
        schema:
          type: boolean
      - name: updated_since
        in: query
        description: Filter Conversation records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Conversation_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /conversations/{id}.json:
    get:
      tags:
      - Conversations
      summary: Return the data for a single Conversation
      operationId: Conversation#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Conversation
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Conversation.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Conversation_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Conversations
      summary: Update a single Conversation
      operationId: Conversation#update
      description: Outlines the parameters and data fields used when updating a single Conversation
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Conversation.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Conversation_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Conversations
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    archived:
                      type: boolean
                      description: Whether or not the Conversation has been archived.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Conversation. The keyword `null` is not valid for this field.
                    read:
                      type: boolean
                      description: Whether or not the Conversation has been read.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    archived:
                      type: boolean
                      description: Whether or not the Conversation has been archived.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Conversation. The keyword `null` is not valid for this field.
                    read:
                      type: boolean
                      description: Whether or not the Conversation has been read.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    archived:
                      type: boolean
                      description: Whether or not the Conversation has been archived.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Conversation. The keyword `null` is not valid for this field.
                    read:
                      type: boolean
                      description: Whether or not the Conversation has been read.
        required: false
components:
  schemas:
    UnredactedParticipant_base:
      type: object
      properties: {}
    Conversation_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Conversation List Response
          items:
            $ref: '#/components/schemas/Conversation'
    Conversation_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Conversation'
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Conversation:
      allOf:
      - $ref: '#/components/schemas/Conversation_base'
      - type: object
        properties:
          last_message:
            $ref: '#/components/schemas/ConversationMessage_base'
            description: ConversationMessage
          first_message:
            $ref: '#/components/schemas/ConversationMessage_base'
            description: ConversationMessage
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          messages:
            type: array
            items:
              $ref: '#/components/schemas/ConversationMessage_base'
            description: ConversationMessage
          documents:
            type: array
            items:
              $ref: '#/components/schemas/Document_base'
            description: Document
          memberships:
            type: array
            items:
              $ref: '#/components/schemas/ConversationMembership'
            description: ConversationMembership
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    ConversationMessage_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ConversationMessage*
        etag:
          type: string
          description: ETag for the *ConversationMessage*
        date:
          type: string
          description: The creation date of the message in the current user's time zone
        body:
          type: string
          description: The main content of the *ConversationMessage*
        created_at:
          type: string
          format: date-time
          description: The time the *ConversationMessage* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ConversationMessage* was last updated (as a ISO-8601 timestamp)
    ConversationMembership:
      allOf:
      - $ref: '#/components/schemas/ConversationMembership_base'
      - type: object
        properties:
          member:
            $ref: '#/components/schemas/UnredactedParticipant_base'
            description: UnredactedParticipant
    ConversationMembership_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ConversationMembership*
        etag:
          type: string
          description: ETag for the *ConversationMembership*
        read:
          type: boolean
          description: Whether or not the ConversationMembership has been read by the member
        archived:
          type: boolean
          description: Whether or not the ConversationMembership has been archived by the member
        created_at:
          type: string
          format: date-time
          description: The time the *ConversationMembership* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ConversationMembership* was last updated (as a ISO-8601 timestamp)
    Conversation_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Conversation*
        etag:
          type: string
          description: ETag for the *Conversation*
        archived:
          type: boolean
          description: Whether the conversation has been archived
        read_only:
          type: boolean
          description: Whether the conversation is read only
        current_user_is_member:
          type: boolean
          description: Whether the current user is a member of this conversation
        subject:
          type: string
          description: The subject of the *Conversation*
        message_count:
          type: integer
          format: int64
          description: The number of messages in this conversation
        time_entries_count:
          type: integer
          format: int64
          description: The number of time entries applied to this conversation
        read:
          type: boolean
          description: Whether any messages in this conversation have been viewed
        created_at:
          type: string
          format: date-time
          description: The time the *Conversation* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Conversation* was last updated (as a ISO-8601 timestamp)
    Document_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Document*
        etag:
          type: string
          description: ETag for the *Document*
        created_at:
          type: string
          format: date-time
          description: The time the *Document* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Document* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Document* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Document
          description: The type of the *Document*
        locked:
          type: boolean
          description: Whether or not the Document is locked. Locked Document cannot be modified
        name:
          type: string
          description: The name of the Document
        received_at:
          type: string
          format: date-time
          description: The time the last document version was received (as an ISO-8601 timestamp)
        filename:
          type: string
          description: The uploaded file name of the latest document version.
        size:
          type: integer
          format: int32
          description: The file size
        content_type:
          type: string
          description: The uploaded file content type
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
