openapi: 3.2.0
info:
  title: Clio API Documentation Matter Contacts API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Matter Contacts
  description: All clients, prospective clients, companies, and external co-counsels can be viewed as Contacts under the Contacts tab in Clio Manage.
paths:
  /matters/{matter_id}/contacts.json:
    get:
      tags:
      - Matter Contacts
      summary: Return the related contact data for a single matter
      operationId: MatterContacts#index
      description: Outlines the parameters, optional and required, used when requesting the data for all MatterContacts
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: custom_field_ids[]
        in: query
        description: IDs of custom fields to include in results.
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of MatterContacts records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: path
        description: Filters contact data by matter.
        required: true
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the MatterContacts records by the given field. Note that `id` is ordered by the `id` of the nested Relationship record. Default: `is_client(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - is_client(asc)
          - is_client(desc)
          - id(asc)
          - id(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatterContacts_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Avatar_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Avatar*
        etag:
          type: string
          description: ETag for the *Avatar*
        created_at:
          type: string
          format: date-time
          description: The time the *Avatar* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Avatar* was last updated (as a ISO-8601 timestamp)
        url:
          type: string
          description: The URL for the *Avatar*
        _destroy:
          type: boolean
          description: Whether to destroy the *Avatar*
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    PhoneNumber_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *PhoneNumber*
        etag:
          type: string
          description: ETag for the *PhoneNumber*
        number:
          type: string
          description: Contact's Phone Number
        name:
          type: string
          enum:
          - Work
          - Personal
          - Other
          description: The type of *PhoneNumber* it is
        primary:
          type: boolean
          description: Whether it is default for this contact
        created_at:
          type: string
          format: date-time
          description: The time the *PhoneNumber* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *PhoneNumber* was last updated (as a ISO-8601 timestamp)
    CustomFieldValue_base:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the *CustomFieldValue*
        etag:
          type: string
          description: ETag for the *CustomFieldValue*
        field_name:
          type: string
          description: The name of the custom field
        created_at:
          type: string
          format: date-time
          description: The time the *CustomFieldValue* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CustomFieldValue* was last updated (as a ISO-8601 timestamp)
        field_type:
          type: string
          enum:
          - checkbox
          - contact
          - currency
          - date
          - time
          - email
          - matter
          - numeric
          - picklist
          - text_area
          - text_line
          - url
          description: The type of the *CustomFieldValue*
        field_required:
          type: boolean
          description: Whether the *CustomFieldValue* requires a value
        field_displayed:
          type: boolean
          description: Whether the *CustomFieldValue* is displayed by default
        field_display_order:
          type: integer
          format: int32
          description: The display position of the *CustomFieldValue*
        value:
          type: string
          description: The value of the *CustomFieldValue*
        soft_deleted:
          type: boolean
          description: Whether the value is associated with a deleted custom field
    EmailAddress_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *EmailAddress*
        etag:
          type: string
          description: ETag for the *EmailAddress*
        address:
          type: string
          description: The address of the *EmailAddress*
        name:
          type: string
          description: A descriptive name for the *EmailAddress. Common values include `Home`, `Work`, and `Other`, as these are the only selectable options within Clio Manage, but other values may be returned for this field.
        primary:
          type: boolean
          description: Whether it is the default for this contact
        created_at:
          type: string
          format: date-time
          description: The time the *EmailAddress* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *EmailAddress* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    MatterContacts_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: MatterContacts List Response
          items:
            $ref: '#/components/schemas/MatterContacts'
    WebSite_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *WebSite*
        etag:
          type: string
          description: ETag for the *WebSite*
        address:
          type: string
          description: The address of the *WebSite*
        name:
          type: string
          enum:
          - Work
          - Personal
          - Twitter
          - Facebook
          - LinkedIn
          - Instant Messenger
          - Other
          description: The type of *WebSite* it is
        default_web_site:
          type: boolean
          description: Whether it is the default for this contact
        created_at:
          type: string
          format: date-time
          description: The time the *WebSite* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *WebSite* was last updated (as a ISO-8601 timestamp)
    MatterContacts:
      allOf:
      - $ref: '#/components/schemas/MatterContacts_base'
      - type: object
        properties:
          avatar:
            $ref: '#/components/schemas/Avatar_base'
            description: Avatar
          company:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          primary_address:
            $ref: '#/components/schemas/Address_base'
            description: Address
          primary_web_site:
            $ref: '#/components/schemas/WebSite_base'
            description: WebSite
          secondary_address:
            $ref: '#/components/schemas/Address_base'
            description: Address
          secondary_web_site:
            $ref: '#/components/schemas/WebSite_base'
            description: WebSite
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address_base'
            description: Address
          custom_field_values:
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldValue_base'
            description: CustomFieldValue
          email_addresses:
            type: array
            items:
              $ref: '#/components/schemas/EmailAddress_base'
            description: EmailAddress
          phone_numbers:
            type: array
            items:
              $ref: '#/components/schemas/PhoneNumber_base'
            description: PhoneNumber
          web_sites:
            type: array
            items:
              $ref: '#/components/schemas/WebSite_base'
            description: WebSite
          relationship:
            $ref: '#/components/schemas/Relationship_base'
            description: Relationship
    Address_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Address*
        etag:
          type: string
          description: ETag for the *Address*
        street:
          type: string
          description: Street of the *Address*
        city:
          type: string
          description: City of the *Address*
        province:
          type: string
          description: Province or state of the *Address*
        postal_code:
          type: string
          description: Postal code of the *Address*
        country:
          type: string
          description: Country of the *Address*
        name:
          type: string
          enum:
          - Work
          - Home
          - Billing
          - Other
          description: The name of the *Address*
        created_at:
          type: string
          format: date-time
          description: The time the *Address* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Address* was last updated (as a ISO-8601 timestamp)
        primary:
          type: boolean
          description: Whether it is the default for this contact
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    MatterContacts_base:
      type: object
      properties:
        contact_created_at:
          type: string
          format: date-time
          description: Timestamp of the time the contact was created
        contact_updated_at:
          type: string
          format: date-time
          description: Timestamp of the time the contact was created
        created_at:
          type: string
          format: date-time
          description: The time the *MatterContacts* was created (as a ISO-8601 timestamp)
        description:
          type: string
          description: Description of the matter
        etag:
          type: string
          description: ETag for the *MatterContacts*
        first_name:
          type: string
          description: First name of the Person
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MatterContacts*
        initials:
          type: string
          description: The initials of the *MatterContacts*
        is_client:
          type: boolean
          description: Whether or not the MatterContacts is a client
        last_name:
          type: string
          description: Last name of the Person
        matter_id:
          type: integer
          format: int64
          description: ID of the matter
        matter_number:
          type: string
          description: Number of the matter
        middle_name:
          type: string
          description: Middle name of the Person
        name:
          type: string
          description: The full name of the *MatterContacts*
        prefix:
          type: string
          description: The prefix of the *MatterContacts* (Mr, Mrs, etc)
        primary_email_address:
          type: string
          description: The primary email address associated with this *MatterContacts*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *MatterContacts*.
        relationship_name:
          type: string
          description: The description of the relation between the contact and the matter, or "Client" if the user is the client.
        secondary_email_address:
          type: string
          description: The secondary email address of the contact
        secondary_phone_number:
          type: string
          description: The secondary phone number of the contact
        title:
          type: string
          description: The designated title of the *MatterContacts*
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *MatterContacts*
        updated_at:
          type: string
          format: date-time
          description: The time the *MatterContacts* was last updated (as a ISO-8601 timestamp)
        client_connect_user_id:
          type: integer
          format: int64
          description: The client connect ID of the contacts associated user
    Relationship_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Relationship*
        etag:
          type: string
          description: ETag for the *Relationship*
        description:
          type: string
          description: A detailed description of the *Relationship*
        created_at:
          type: string
          format: date-time
          description: The time the *Relationship* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Relationship* was last updated (as a ISO-8601 timestamp)
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
