openapi: 3.2.0
info:
  title: Clio API Documentation Jurisdictions To Triggers API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Jurisdictions To Triggers
  description: Jurisdictions-to-Triggers calculates the effective dates of related court and agency rules that a lawyer must do for a Trigger.
paths:
  /court_rules/jurisdictions/{jurisdiction_id}/triggers.json:
    get:
      tags:
      - Jurisdictions To Triggers
      summary: Return the data for all triggers
      operationId: JurisdictionsToTrigger#index
      description: Outlines the parameters, optional and required, used when requesting the data for all JurisdictionsToTriggers
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter JurisdictionsToTrigger records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter JurisdictionsToTrigger records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: is_requirements_required
        in: query
        description: Filter JurisdictionsToTrigger records to those which require addition requirements to be checked (usually specifying trigger time).
        required: false
        schema:
          type: boolean
      - name: is_served
        in: query
        description: Filter JurisdictionsToTrigger records to those which require a service type to be selected.
        required: false
        schema:
          type: boolean
      - name: jurisdiction_id
        in: path
        description: The unique identifier for the Jurisdiction.
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of JurisdictionsToTrigger records to be returned. Limit can range between 1 and 1000. Default: `1000`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the JurisdictionsToTrigger records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - description(asc)
          - description(desc)
          - id(asc)
          - id(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Wildcard search for `description` matching a given string.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter JurisdictionsToTrigger records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/JurisdictionsToTrigger_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /court_rules/jurisdictions/{jurisdiction_id}/triggers/{id}.json:
    get:
      tags:
      - Jurisdictions To Triggers
      summary: Return the data for the trigger
      operationId: JurisdictionsToTrigger#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single JurisdictionsToTrigger
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the JurisdictionsToTrigger.
        required: true
        schema:
          type: integer
          format: int64
      - name: jurisdiction_id
        in: path
        description: The unique identifier for the Jurisdiction.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/JurisdictionsToTrigger_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
components:
  schemas:
    JurisdictionsToTrigger_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: JurisdictionsToTrigger List Response
          items:
            $ref: '#/components/schemas/JurisdictionsToTrigger'
    JurisdictionsToTrigger_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *JurisdictionsToTrigger*
        etag:
          type: string
          description: ETag for the *JurisdictionsToTrigger*
        system_id:
          type: integer
          format: int64
          description: Server id
        description:
          type: string
          description: A detailed description of the *JurisdictionsToTrigger*
        do_not_recalculate:
          type: boolean
          description: Whether the associated dates should not be recalculated
        is_served:
          type: boolean
          description: Whether the user must select a Date Offset (Service Type)
        is_requirements_required:
          type: boolean
          description: Whether the trigger has requirements
        created_at:
          type: string
          format: date-time
          description: The time the *JurisdictionsToTrigger* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *JurisdictionsToTrigger* was last updated (as a ISO-8601 timestamp)
    JurisdictionsToTrigger_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/JurisdictionsToTrigger'
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    JurisdictionsToTrigger:
      allOf:
      - $ref: '#/components/schemas/JurisdictionsToTrigger_base'
      - type: object
        properties: {}
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
