openapi: 3.0.0
info:
  title: Clio API Documentation Activities Notes API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Notes
  description: 'Notes can be added to Matters or Contacts in Clio to record meeting notes, research, or anything else a user might want. The field can hold hundreds of pages, so users can add plenty of information.


    Notes can be found either on the Matters or Contacts page under the Notes sub tab.


    [Support Link](https://help.clio.com/hc/en-us/articles/9285920226075-Clio-Manage-Matters-Overview#h_01GHETXG1D1HBK71VEF9HNSPDM)

    '
paths:
  /notes.json:
    get:
      tags:
      - Notes
      summary: Return the data for all Notes
      operationId: Note#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Notes
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: contact_id
        in: query
        description: The unique identifier for a single Contact. The keyword `null` is not valid for this field. The list will be filtered to include only the Note records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Note records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: has_time_entries
        in: query
        description: Filter Note records to those with or without associated time entries.
        required: false
        schema:
          type: boolean
      - name: ids[]
        in: query
        description: Filter Note records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Note records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. The keyword `null` is not valid for this field. The list will be filtered to include only the Note records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Note records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - date(asc)
          - date(desc)
          - author(asc)
          - author(desc)
          - updated_at(asc)
          - updated_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Wildcard search across note subject and detail.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filter Note records to those of the specified type.
        required: true
        schema:
          type: string
          enum:
          - Matter
          - Contact
      - name: updated_since
        in: query
        description: Filter Note records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Note_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Notes
      summary: Create a new Note
      operationId: Note#create
      description: Outlines the parameters and data fields used when creating a new Note
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Note_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Notes
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    contact:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Contact"`.
                      required:
                      - id
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Matter"`.
                      required:
                      - id
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                        required:
                        - user_id
                    subject:
                      type: string
                      description: Note subject.
                    type:
                      type: string
                      enum:
                      - Matter
                      - Contact
                      description: Note type.
                  required:
                  - contact
                  - matter
                  - type
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    contact:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Contact"`.
                      required:
                      - id
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Matter"`.
                      required:
                      - id
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                        required:
                        - user_id
                    subject:
                      type: string
                      description: Note subject.
                    type:
                      type: string
                      enum:
                      - Matter
                      - Contact
                      description: Note type.
                  required:
                  - contact
                  - matter
                  - type
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    contact:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Contact"`.
                      required:
                      - id
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Note. The keyword null is not valid for this field. Required only if the Note type is `"Matter"`.
                      required:
                      - id
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                        required:
                        - user_id
                    subject:
                      type: string
                      description: Note subject.
                    type:
                      type: string
                      enum:
                      - Matter
                      - Contact
                      description: Note type.
                  required:
                  - contact
                  - matter
                  - type
        required: false
  /notes/{id}.json:
    get:
      tags:
      - Notes
      summary: Return the data for a single Note
      operationId: Note#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Note
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Note.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Note_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Notes
      summary: Update a single Note
      operationId: Note#update
      description: Outlines the parameters and data fields used when updating a single Note
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Note.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Note_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Notes
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                          id:
                            type: integer
                            format: int64
                            description: Unique id of this Note.
                          _destroy:
                            type: boolean
                            description: Whether or not the notification event subscriber should be deleted.
                    subject:
                      type: string
                      description: Note subject.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                          id:
                            type: integer
                            format: int64
                            description: Unique id of this Note.
                          _destroy:
                            type: boolean
                            description: Whether or not the notification event subscriber should be deleted.
                    subject:
                      type: string
                      description: Note subject.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Date for the Note. (Expects an ISO-8601 date).
                    detail:
                      type: string
                      description: Note body in text. This Note supports rich text when setting the `detail_text_type` field to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
                    detail_text_type:
                      type: string
                      default: plain_text
                      description: The type of text in the detail field.
                    notification_event_subscribers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: The unique identifier for a User to be added as a notification event subscriber to the Note.
                          id:
                            type: integer
                            format: int64
                            description: Unique id of this Note.
                          _destroy:
                            type: boolean
                            description: Whether or not the notification event subscriber should be deleted.
                    subject:
                      type: string
                      description: Note subject.
        required: false
    delete:
      tags:
      - Notes
      summary: Delete a single Note
      operationId: Note#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single Note
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Note.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Note:
      allOf:
      - $ref: '#/components/schemas/Note_base'
      - type: object
        properties:
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          author:
            $ref: '#/components/schemas/User_base'
            description: User
          time_entries:
            type: array
            items:
              $ref: '#/components/schemas/Activity_base'
            description: Activity
          notification_event_subscribers:
            type: array
            items:
              $ref: '#/components/schemas/NotificationEventSubscriber_base'
            description: NotificationEventSubscriber
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    Note_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Note'
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    NotificationEventSubscriber_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *NotificationEventSubscriber*
        etag:
          type: string
          description: ETag for the *NotificationEventSubscriber*
        user_id:
          type: integer
          format: int64
          description: The unique identifier for a User added as a notification event subscriber to the NotificationEventSubscriber
        name:
          type: string
          description: The User name added as a notification event subscriber to the NotificationEventSubscriber
        created_at:
          type: string
          format: date-time
          description: The time the *NotificationEventSubscriber* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *NotificationEventSubscriber* was last updated (as a ISO-8601 timestamp)
    Note_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Note*
        etag:
          type: string
          description: ETag for the *Note*
        type:
          type: string
          enum:
          - Matter
          - Contact
          description: The type of the *Note*
        subject:
          type: string
          description: The subject of the *Note*
        detail:
          type: string
          description: The text body of the *Note*. This Note supports rich text when setting the field `detail_text_type` to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Note also supports attributes such as `href`, `rel`, `type`, and `target`.
        detail_text_type:
          type: string
          enum:
          - plain_text
          - rich_text
          description: The text type of the *Note*
        date:
          type: string
          format: date
          description: The date the *Note* is for (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Note* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Note* was last updated (as a ISO-8601 timestamp)
        time_entries_count:
          type: integer
          format: int32
          description: The number of time_entries associated with the *Note*
    Note_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Note List Response
          items:
            $ref: '#/components/schemas/Note'
    Activity_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Activity*
        etag:
          type: string
          description: ETag for the *Activity*
        type:
          type: string
          enum:
          - TimeEntry
          - ExpenseEntry
          - HardCostEntry
          - SoftCostEntry
          description: The type of the *Activity*
        date:
          type: string
          format: date
          description: The date the *Activity* was performed (as a ISO-8601 date)
        quantity_in_hours:
          type: number
          format: double
          description: The number of hours the TimeEntry took.
        rounded_quantity_in_hours:
          type: number
          format: double
          description: 'The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity:
          type: number
          format: double
          description: 'The field is applicable to TimeEntry, ExpenseEntry, and SoftCostEntry.


            **Version <= 4.0.3:**

            The number of hours the TimeEntry took.


            **Latest version:**

            The number of seconds the TimeEntry took.

            '
        rounded_quantity:
          type: number
          format: double
          description: 'The field is applicable to time entries only.


            **Version <= 4.0.3:**

            The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.


            **Latest version:**

            The number of seconds rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity_redacted:
          type: boolean
          description: 'Is `true` if any of the following fields are redacted:

            `quantity`, `rounded_quantity`, `rounded_quantity_in_hours`, `quantity_in_hours`, `total`, `non_billable_total`

            '
        price:
          type: number
          format: double
          description: The hourly or flat rate of the *Activity*
        note:
          type: string
          description: The details about the *Activity*
        flat_rate:
          type: boolean
          description: Whether the *Activity* is a flat rate
        billed:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that is in the state of `awaiting_payment` or `paid`
        on_bill:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that is in the state of `draft`, `awaiting_approval`, `awaiting_payment` or `paid`
        total:
          type: number
          format: double
          description: The total cost of draft, billable and billed items in the *Activity*
        contingency_fee:
          type: boolean
          description: Whether or not the *Activity* is a contingency fee
        created_at:
          type: string
          format: date-time
          description: The time the *Activity* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Activity* was last updated (as a ISO-8601 timestamp)
        reference:
          type: string
          description: A check reference for a HardCostEntry.
        non_billable:
          type: boolean
          description: Whether the *Activity* is non-billable
        non_billable_total:
          type: number
          format: double
          description: The total cost of non-billable items in the *Activity*
        no_charge:
          type: boolean
          description: Whether the non-billable *Activity* is shown on the bill.
        tax_setting:
          type: string
          enum:
          - no_tax
          - tax_1_only
          - tax_2_only
          - tax_1_and_tax_2
          description: The option denoting whether primary tax, secondary tax, or both is applied to an expense entry.
        tax_settings:
          type: array
          items:
            type: object
          description: Array of objects, with each object representing a tax setting that is applied to an expense entry with 'tax_rate_configuration_id', 'order', and 'rule' as the object properties.
        currency:
          type: object
          description: The currency of the *Activity*
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
