openapi: 3.0.0
info:
  title: Clio API Documentation Activities Bill Themes API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Bill Themes
  description: ''
paths:
  /bill_themes.json:
    get:
      tags:
      - Bill Themes
      summary: Return the data for all BillThemes
      operationId: BillTheme#index
      description: Outlines the parameters, optional and required, used when requesting the data for all BillThemes
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter BillTheme records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter BillTheme records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of BillTheme records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter BillTheme records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BillTheme_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /bill_themes/{id}.json:
    patch:
      tags:
      - Bill Themes
      summary: Update a single BillTheme
      operationId: BillTheme#update
      description: Outlines the parameters and data fields used when updating a single BillTheme
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the BillTheme.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BillTheme_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Bill Themes
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    config:
                      type: string
                      description: "A string containing settings for the BillTheme.\nValues set in this string will apply to any bill using this BillTheme, unless overridden by the bill.\n\nAvailable settings within this string:\n- \"show\": Values set under this key determine how/if sections will appear on a bill.\n- \"text\": Values set under this key determine what will display if the section is shown.\n- \"css\": Values set under this key determine CSS rules for sections on a bill.\n\nAvailable settings under \"show\":\n- \"client_account\": Can be set to \"hidden\", \"details\", or \"summary\" to control the display and content of this section.\n- \"client_account_details_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_include_matter_transfers\": Can be set to true/false to toggle displaying this section.\n- \"client_account_matter_date_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_details_description_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_title_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_type_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_only_bill_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_other_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_payments_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_receipts_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_summary_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"client_operating_account_omit_balance\": Can be set to true/false to toggle displaying this section.\n- \"clio_payments_amount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_amount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"draft_watermark\": Can be set to true/false to toggle displaying a draft watermark. Will only affect bills in draft.\n- \"envelope_friendly\": Can be set to true/false to toggle size styling for the bill.\n- \"firm_address\": Can be set to true/false to toggle displaying this section.\n- \"firm_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"firm_title\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_memo\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_payable\": Can be set to true/false to toggle displaying this section.\n- \"footer_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"footer_page_numbers\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_issued_date\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"header_on_first_page\": Can be set to true/false to toggle displaying this section.\n- \"interest_date\": Can be set to true/false to toggle displaying this section.\n- \"interest_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_new_line\": Can be set to true/false to toggle displaying a interest descriptions on a new line.\n- \"interest_headings_order\": Should be set to an array that contains the values: [\"interest_type\",\" interest_date\", \"interest_details_description\", \"interest_total\"] in the order you would like the sections to display on your bills.\n- \"interest_total\": Can be set to true/false to toggle displaying this section.\n- \"interest_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"interest_type\": Can be set to true/false to toggle displaying this section.\n- \"interest_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"invoice_information_due_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_issue_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_title\": Can be set to true/false to toggle displaying this section.\n- \"logo\": Can be set to true/false to toggle displaying this section.\n- \"logo_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_attorney_display\": Can be set to \"name\" or \"initials\" to control the content shown in this section.\n- \"matter_attorney_initials\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_summary_position_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_summary_time_keeper_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_client_ref\": Can be set to true/false to toggle displaying this section.\n- \"matter_date\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_new_line\": Can be set to true/false to toggle displaying a matter descriptions on a new line.\n- \"matter_details_description_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_heading_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_headings_order\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_expenses\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_products\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_trust\": Should be set to an array that contains the values: [\"matter_date\", \"matter_details_description\", \"matter_total\"] in the order you would like the sections to display on your bills.\n- \"matter_individual_payments\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_items_activity_descriptions\": Can be set to true/false to toggle displaying this section.\n- \"matter_number\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_separate_line_items\": Can be set to true/false to toggle displaying this section.\n- \"matter_show_amount_with_percentage\": Can be set to true/false to toggle displaying this section.\n- \"matter_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_with_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_with_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"matter_totals_subtotal_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_type\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_products\": Can be set to true/false to toggle displaying this section.\n- \"payment_profile_discount\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have an early payment discount.\n- \"payment_profile_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a grace period.\n- \"payment_profile_interest\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a recurring interest charge.\n- \"payment_profile_no_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill has a grace period.\n- \"show_clio_payments\": Can be set to true/false to toggle displaying this section.\n- \"soa_title\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_amount_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_amount_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_details\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_due_on_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_due_on_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_include_trust\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_invoice_number_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_invoice_number_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_note\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if \"statement_of_accounts_summary\" is \"hidden\".\n- \"statement_of_accounts_payments_received_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_payments_received_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_summary\": Can be set to \"hidden\", \"above\", or \"below\" to control the location of this section. This will determine if the statements of account section on the bill is displayed, and if it displays above or below the line items.\n- \"statement_of_accounts_summary_detail\": Can be set to \"simple\", \"with_payment\", or \"with_account_balance\" to control the values shown in this section.\n- \"statement_of_accounts_summary_only_bill_matters\": Can be set to true/false to control the values shown in this section.\n- \"void_watermark\": Can be set to true/false to toggle displaying a void watermark. Will only affect bills that have been void.\n\n\nAvailable settings under \"text\", each of these can be set to the text you would like to display when they are shown, some of these fields allow substituting values with codes wrapped in curly braces:\n- \"address_email\"\n- \"address_fax\"\n- \"address_phone\"\n- \"vat_number_au\"\n- \"vat_number_eu\"\n- \"attorney_summary_position\"\n- \"attorney_summary_time_keeper\"\n- \"client_account_account\"\n- \"client_account_balance\"\n- \"client_account_payments\"\n- \"client_account_receipts\"\n- \"client_account_total_balance\"\n- \"clio_payments_amount\"\n- \"clio_payments_date\"\n- \"clio_payments_note\"\n- \"clio_payments_reference\"\n- \"clio_payments_status\"\n- \"clio_payments_title\"\n- \"clio_payments_total\"\n- \"discount_early_payment_balance_owing_text\"\n- \"discount_early_payment_end_date_text\"\n- \"discount_early_payment_text\"\n- \"discount_early_payment_total_text\"\n- \"footer_invoice_memo\"\n  - {{billing_setting_memo}}\" can be used to reference your billing settings memo.\n  - {{bill_memo}} can be used to reference your bills memo.\n- \"footer_invoice_payable\"\n  - {{firm_name}} can be used to reference your firms name.\n- \"footer_page\"\n- \"footer_page_of\"\n- \"grand_total_text\"\n  - {{same_as_total_heading}} can be used to reference the value in \"text\" => \"matter_total_text\"\n- \"interest_date_text\"\n- \"interest_details_description_text\"\n- \"interest_subtotal_text\"\n- \"interest_text\"\n- \"interest_title_text\"\n- \"interest_total_text\"\n- \"interest_type_text\"\n- \"invoice_client_sales_tax_text\"\n- \"invoice_due_date_text\"\n- \"invoice_information_due_date_receipt_text\"\n- \"invoice_issued_date_text\"\n- \"invoice_lc\"\n- \"invoice_number_text\"\n- \"invoice_purchase_order_text\"\n- \"invoice_title\"\n- \"matter_attorney_initials_text\"\n- \"matter_balance_owing_text\"\n- \"matter_client_ref\"\n  - {{client_ref_num}}\" can be used to reference the matters client reference.\n- \"matter_credit_note_text\"\n- \"matter_date_text\"\n- \"matter_details_description_text\"\n- \"matter_discount_text\"\n- \"matter_expense_disbursement_title_text\"\n- \"matter_expense_subtotal_text\"\n- \"matter_expense_text\"\n- \"matter_expense_title_text\"\n- \"matter_grand_total_text\"\n  - {{same_as_total_heading}} can be used to reference the value in \"text\" => \"matter_total_text\"\n- \"matter_line_item_discount_expenses_text\"\n- \"matter_line_item_discount_products_text\"client_address_custom\"\n- \"matter_line_item_discount_subtotal_text\"\n- \"matter_line_item_discount_text\"\n- \"matter_non_billable_expenses_title_text\"\n- \"matter_non_billable_grouped_title_text\"\n- \"matter_non_billable_products_title_text\"\n- \"matter_non_billable_services_title_text\"\n- \"matter_payment_text\"\n- \"matter_product_subtotal_text\"\n- \"matter_product_text\"\n- \"matter_product_title_text\"\n- \"matter_quantity_expenses_text\"\n- \"matter_quantity_products_text\"\n- \"matter_quantity_subtotal_text\"\n- \"matter_quantity_text\"\n- \"matter_quantity_total_text\"\n- \"matter_rate_expenses_text\"\n- \"matter_rate_products_text\"\n- \"matter_rate_text\"\n- \"matter_refund_text\"\n- \"matter_service_subtotal_text\"\n- \"matter_service_text\"\n- \"matter_service_title_text\"\n- \"matter_subtotal_text\"\n- \"matter_tax_text\"\n- \"matter_title\"\n- \"matter_total_text\"\n- \"matter_total_with_tax_text\"\n- \"matter_trust_line_items_title_text\"\n- \"matter_trust_text\"\n- \"matter_type_text\"\n- \"payment_profile\"\n- \"payment_profile_discount\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_grace_period\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_interest\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_no_grace_period\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"remittance_checks\"\n- \"remittance_checks_label\"\n- \"remittance_checks_title\"\n- \"remittance_note\"\n  - {{bill_number}} can be used to reference the bills number.\n- \"remittance_note_soa\"\n- \"remittance_title\"\n- \"remittance_wire_bank_account\"\n- \"remittance_wire_bank_account_label\"\n- \"remittance_wire_bank_name\"\n- \"remittance_wire_bank_name_label\"\n- \"remittance_wire_bank_routing\"\n- \"remittance_wire_bank_routing_label\"\n- \"remittance_wire_bank_swift\"\n- \"remittance_wire_bank_swift_label\"\n- \"remittance_wire_title\"\n- \"soa_title\"\n- \"statement_of_accounts_amount\"\n- \"statement_of_accounts_amount_in_trust\"\n- \"statement_of_accounts_amount_on_account\"\n- \"statement_of_accounts_balance\"\n- \"statement_of_accounts_current_invoice\"\n- \"statement_of_accounts_details_title\"\n- \"statement_of_accounts_due_on\"\n- \"statement_of_accounts_invoice_number\"\n- \"statement_of_accounts_new_charges\"\n- \"statement_of_accounts_note\"\n  - {{firm_name}} can be used to reference your firms name.\n- \"statement_of_accounts_original_invoice_number\"\n- \"statement_of_accounts_other_interest_invoices\"\n- \"statement_of_accounts_other_invoices\"\n- \"statement_of_accounts_outstanding_balance\"\n- \"statement_of_accounts_detailed_outstanding_balance\"\n- \"statement_of_accounts_payments\"\n- \"statement_of_accounts_summary_title\"\n- \"statement_of_accounts_total_balance\"\n- \"statement_of_accounts_total_credit\"\n- \"statement_of_accounts_total_outstanding_balance\"\n- \"statement_of_accounts_detailed_total_outstanding_balance\"\n- \"trust_request_adjustments_title_text\"\n- \"trust_request_lc\"\n- \"trust_request_number_text\"\n- \"trust_request_title\"\n- \"trust_request_total_text\"\n\n\nAvailable settings under \"css\", each of these has nested values that can be set to apply CSS rules to bills:\n- \"client\"\n  - \"color\": Color used in the client section. Value is in 'Hex'.\n  - \"font-family\": Font used in client section.\n  - \"font-size\": Font size in client section. Value is in 'em'.\n- \"client_address\"\n  - \"margin-bottom\": Bottom margin size for the client address. Value is in 'em'.\n- \"firm_title\"\n  - \"margin-bottom\": Bottom margin height for the bills firm title. Value is in 'em'.\n  - \"color\": Color for the bills firm title section. Value is in 'Hex'.\n  - \"font-family\": Font used for text in the firm title.\n  - \"font-size\": Font size for the bills firm title. Value is in 'em'.\n  - \"border-color\": Border color property for the firm title on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the firm title on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for table rows on a bill. Accepts standard CSS options for 'border-width' property.\n  - \"background-color\": Background color for the firm title on a bill. Value is in 'Hex'.\n- \"header\"\n  - \"margin-bottom\": Bottom margin size for the bill header. Value is in 'em'.\n- \"inside_margins\"\n  - \"font-family\": Primary font used on the bill.\n  - \"font-size\": Primary font size used for bill.\n  - \"color\": Primary font used on the bill, default is \"Arial\".\n- \"invoice_title\"\n  - \"color\": Color used in the invoice title section. Value is in 'Hex'.\n  - \"font-family\": Font used in invoice title section.\n  - \"font-size\": Font size in invoice title section. Value is in 'em'.\n- \"logo_img\"\n  - \"height\": Height for the bills logo image. Value is in 'em'.\n  - \"margin-top\": Top margin height for the bills logo image. Value is in 'em'.\n  - \"margin-bottom\": Bottom margin height for the bills logo image. Value is in 'em'.\n- \"matter_description\"\n  - \"margin-top\": Top margin size for matter description section. Value is in 'em'.\n  - \"color\": Color used in the matter description section. Value is in 'Hex'.\n  - \"font-family\": Font used in matter description section.\n  - \"font-size\": Font size in matter description section. Value is in 'em'.\n- \"matter_number\"\n  - \"color\": Color used in the matter number section. Value is in 'Hex'.\n  - \"font-family\": Font used in matter number section.\n  - \"font-size\": Font size in matter number section. Value is in 'em'.\n- \"page_margins\"\n  - \"margin-left\": Left margin size for the bill. Value is in 'em'.\n  - \"margin-right\": Right margin size for the bill. Value is in 'em'.\n  - \"margin-top\": Top margin size for the bill. Value is in 'em'.\n  - \"margin-bottom\": Bottom margin size for the bill. Value is in 'em'.\n  - \"size\": Size property for the bill, default is \"US-Letter\".\n- \"remittance_title\"\n  - \"color\": Color used in the remittance title section. Value is in 'Hex'.\n  - \"font-family\": Font used in remittance title section.\n  - \"font-size\": Font size in remittance title section. Value is in 'em'.\n  - \"background-color\": Background color for the remittance title section on a bill. Value is in 'Hex'.\n  - \"border-color\": Border color property for the remittance title section on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the remittance title section on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for the remittance title section on a bill. Accepts standard CSS options for 'border-width' property.\n- \"statement_of_accounts_title\"\n  - \"color\": Color used in the statement of accounts section. Value is in 'Hex'.\n  - \"font-family\": Font used in statement of accounts section.\n  - \"font-size\": Font size in statement of accounts section. Value is in 'em'.\n  - \"background-color\": Background color for the statement of accounts section on a bill. Value is in 'Hex'.\n  - \"border-color\": Border color property for the statement of accounts section on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the statement of accounts section on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for the statement of accounts section on a bill. Accepts standard CSS options for 'border-width' property.\n- \"table_even_line\"\n  - \"background-color\": Background color for even table rows. Value is in 'Hex'.\n- \"table_h4\"\n  - \"background-color\": Background color for table headers. Value is in 'Hex'.\n- \"table_line\"\n  - \"border-bottom-width\": Bottom border width for table rows. Value is in 'px'.\n  - \"border-bottom-style\": Bottom border style property for table rows on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-bottom-color\": Bottom border color property for table rows on a bill. Value is in 'Hex'.\n- \"table_odd_line\"\n  - \"background-color\": Background color for odd table rows. Value is in 'Hex'.\n\n\nA config with samples of each type of option is shown below:\n```\n  config = {\n    \"show\": {\n        \"statement_of_accounts_summary\": \"left\"\n        \"statement_of_accounts_note\": true,\n        \"footer_invoice_payable\": true,\n        \"footer_invoice_memo\": true,\n        \"payment_profile_no_grace_period\": true,\n        \"payment_profile_grace_period\": true,\n        \"payment_profile_discount\": true,\n        \"payment_profile_interest\": true,\n        \"interest_headings_order\": [\"interest_type\",\" interest_date\", \"interest_details_description\", \"interest_total\"]\n      },\n    \"text\": {\n        \"statement_of_accounts_note\": \"Please make all amounts payable to: {{firm_name}}\",\n        \"footer_invoice_payable\": \"Please make all amounts payable to: {{firm_name}}\",\n        \"footer_invoice_memo\": \"{{bill_memo}}\",\n        \"payment_profile_no_grace_period\": \"Payment is due upon receipt.\",\n        \"payment_profile_grace_period\": \"Please pay within {{grace_period}}.\",\n        \"payment_profile_discount\": \"{{discount_rate}}% discount will be applied if payment is received within {{discount_period}}.\",\n        \"payment_profile_interest\": \"{{interest_rate}}% {{interest_type}} annual interest will be charged every {{interest_period}}.\",\n      },\n    \"css\": {\n      \"statement_of_accounts_title\": {\n        \"color\": \"#00cc00\",\n        \"font-family\": \"Times New Roman\",\n        \"font-size\": \"0.875em\",\n        \"background-color\": \"#ccff99\",\n        \"border-color\": \"#0033ff\",\n        \"border-style\": \"dotted\",\n        \"border-width\": \"thick\"\n      },\n      \"remittance_title\": {\n        \"color\": \"#00ff00\",\n        \"background-color\": \"None\",\n        \"border-color\": \"#0033cc\",\n        \"border-width\": \"medium\",\n        \"border-style\": \"dotted\",\n        \"font-family\": \"Arial\",\n        \"font-size\": \"1.5em\"\n      }\n    }\n  }\n```\n"
                    name:
                      type: string
                      description: Name of the BillTheme.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    config:
                      type: string
                      description: "A string containing settings for the BillTheme.\nValues set in this string will apply to any bill using this BillTheme, unless overridden by the bill.\n\nAvailable settings within this string:\n- \"show\": Values set under this key determine how/if sections will appear on a bill.\n- \"text\": Values set under this key determine what will display if the section is shown.\n- \"css\": Values set under this key determine CSS rules for sections on a bill.\n\nAvailable settings under \"show\":\n- \"client_account\": Can be set to \"hidden\", \"details\", or \"summary\" to control the display and content of this section.\n- \"client_account_details_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_include_matter_transfers\": Can be set to true/false to toggle displaying this section.\n- \"client_account_matter_date_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_details_description_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_title_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_type_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_only_bill_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_other_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_payments_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_receipts_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_summary_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"client_operating_account_omit_balance\": Can be set to true/false to toggle displaying this section.\n- \"clio_payments_amount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_amount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"draft_watermark\": Can be set to true/false to toggle displaying a draft watermark. Will only affect bills in draft.\n- \"envelope_friendly\": Can be set to true/false to toggle size styling for the bill.\n- \"firm_address\": Can be set to true/false to toggle displaying this section.\n- \"firm_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"firm_title\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_memo\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_payable\": Can be set to true/false to toggle displaying this section.\n- \"footer_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"footer_page_numbers\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_issued_date\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"header_on_first_page\": Can be set to true/false to toggle displaying this section.\n- \"interest_date\": Can be set to true/false to toggle displaying this section.\n- \"interest_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_new_line\": Can be set to true/false to toggle displaying a interest descriptions on a new line.\n- \"interest_headings_order\": Should be set to an array that contains the values: [\"interest_type\",\" interest_date\", \"interest_details_description\", \"interest_total\"] in the order you would like the sections to display on your bills.\n- \"interest_total\": Can be set to true/false to toggle displaying this section.\n- \"interest_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"interest_type\": Can be set to true/false to toggle displaying this section.\n- \"interest_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"invoice_information_due_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_issue_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_title\": Can be set to true/false to toggle displaying this section.\n- \"logo\": Can be set to true/false to toggle displaying this section.\n- \"logo_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_attorney_display\": Can be set to \"name\" or \"initials\" to control the content shown in this section.\n- \"matter_attorney_initials\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_summary_position_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_summary_time_keeper_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_client_ref\": Can be set to true/false to toggle displaying this section.\n- \"matter_date\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_new_line\": Can be set to true/false to toggle displaying a matter descriptions on a new line.\n- \"matter_details_description_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_heading_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_headings_order\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_expenses\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_products\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_trust\": Should be set to an array that contains the values: [\"matter_date\", \"matter_details_description\", \"matter_total\"] in the order you would like the sections to display on your bills.\n- \"matter_individual_payments\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_items_activity_descriptions\": Can be set to true/false to toggle displaying this section.\n- \"matter_number\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_separate_line_items\": Can be set to true/false to toggle displaying this section.\n- \"matter_show_amount_with_percentage\": Can be set to true/false to toggle displaying this section.\n- \"matter_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_with_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_with_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"matter_totals_subtotal_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_type\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_products\": Can be set to true/false to toggle displaying this section.\n- \"payment_profile_discount\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have an early payment discount.\n- \"payment_profile_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a grace period.\n- \"payment_profile_interest\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a recurring interest charge.\n- \"payment_profile_no_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill has a grace period.\n- \"show_clio_payments\": Can be set to true/false to toggle displaying this section.\n- \"soa_title\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_amount_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_amount_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_details\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_due_on_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_due_on_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_include_trust\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_invoice_number_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_invoice_number_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_note\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if \"statement_of_accounts_summary\" is \"hidden\".\n- \"statement_of_accounts_payments_received_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_payments_received_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_summary\": Can be set to \"hidden\", \"above\", or \"below\" to control the location of this section. This will determine if the statements of account section on the bill is displayed, and if it displays above or below the line items.\n- \"statement_of_accounts_summary_detail\": Can be set to \"simple\", \"with_payment\", or \"with_account_balance\" to control the values shown in this section.\n- \"statement_of_accounts_summary_only_bill_matters\": Can be set to true/false to control the values shown in this section.\n- \"void_watermark\": Can be set to true/false to toggle displaying a void watermark. Will only affect bills that have been void.\n\n\nAvailable settings under \"text\", each of these can be set to the text you would like to display when they are shown, some of these fields allow substituting values with codes wrapped in curly braces:\n- \"address_email\"\n- \"address_fax\"\n- \"address_phone\"\n- \"vat_number_au\"\n- \"vat_number_eu\"\n- \"attorney_summary_position\"\n- \"attorney_summary_time_keeper\"\n- \"client_account_account\"\n- \"client_account_balance\"\n- \"client_account_payments\"\n- \"client_account_receipts\"\n- \"client_account_total_balance\"\n- \"clio_payments_amount\"\n- \"clio_payments_date\"\n- \"clio_payments_note\"\n- \"clio_payments_reference\"\n- \"clio_payments_status\"\n- \"clio_payments_title\"\n- \"clio_payments_total\"\n- \"discount_early_payment_balance_owing_text\"\n- \"discount_early_payment_end_date_text\"\n- \"discount_early_payment_text\"\n- \"discount_early_payment_total_text\"\n- \"footer_invoice_memo\"\n  - {{billing_setting_memo}}\" can be used to reference your billing settings memo.\n  - {{bill_memo}} can be used to reference your bills memo.\n- \"footer_invoice_payable\"\n  - {{firm_name}} can be used to reference your firms name.\n- \"footer_page\"\n- \"footer_page_of\"\n- \"grand_total_text\"\n  - {{same_as_total_heading}} can be used to reference the value in \"text\" => \"matter_total_text\"\n- \"interest_date_text\"\n- \"interest_details_description_text\"\n- \"interest_subtotal_text\"\n- \"interest_text\"\n- \"interest_title_text\"\n- \"interest_total_text\"\n- \"interest_type_text\"\n- \"invoice_client_sales_tax_text\"\n- \"invoice_due_date_text\"\n- \"invoice_information_due_date_receipt_text\"\n- \"invoice_issued_date_text\"\n- \"invoice_lc\"\n- \"invoice_number_text\"\n- \"invoice_purchase_order_text\"\n- \"invoice_title\"\n- \"matter_attorney_initials_text\"\n- \"matter_balance_owing_text\"\n- \"matter_client_ref\"\n  - {{client_ref_num}}\" can be used to reference the matters client reference.\n- \"matter_credit_note_text\"\n- \"matter_date_text\"\n- \"matter_details_description_text\"\n- \"matter_discount_text\"\n- \"matter_expense_disbursement_title_text\"\n- \"matter_expense_subtotal_text\"\n- \"matter_expense_text\"\n- \"matter_expense_title_text\"\n- \"matter_grand_total_text\"\n  - {{same_as_total_heading}} can be used to reference the value in \"text\" => \"matter_total_text\"\n- \"matter_line_item_discount_expenses_text\"\n- \"matter_line_item_discount_products_text\"client_address_custom\"\n- \"matter_line_item_discount_subtotal_text\"\n- \"matter_line_item_discount_text\"\n- \"matter_non_billable_expenses_title_text\"\n- \"matter_non_billable_grouped_title_text\"\n- \"matter_non_billable_products_title_text\"\n- \"matter_non_billable_services_title_text\"\n- \"matter_payment_text\"\n- \"matter_product_subtotal_text\"\n- \"matter_product_text\"\n- \"matter_product_title_text\"\n- \"matter_quantity_expenses_text\"\n- \"matter_quantity_products_text\"\n- \"matter_quantity_subtotal_text\"\n- \"matter_quantity_text\"\n- \"matter_quantity_total_text\"\n- \"matter_rate_expenses_text\"\n- \"matter_rate_products_text\"\n- \"matter_rate_text\"\n- \"matter_refund_text\"\n- \"matter_service_subtotal_text\"\n- \"matter_service_text\"\n- \"matter_service_title_text\"\n- \"matter_subtotal_text\"\n- \"matter_tax_text\"\n- \"matter_title\"\n- \"matter_total_text\"\n- \"matter_total_with_tax_text\"\n- \"matter_trust_line_items_title_text\"\n- \"matter_trust_text\"\n- \"matter_type_text\"\n- \"payment_profile\"\n- \"payment_profile_discount\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_grace_period\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_interest\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"payment_profile_no_grace_period\"\n  - {{discount_rate}} can be used to reference the bills discount rate.\n  - {{interest_rate}} can be used to reference the bills interest rate.\n  - {{interest_type}} can be used to reference the bills interest type.\n  - {{grace_period}} can be used to reference the grace period for the bill.\n  - {{discount_period}} can be used to reference the discount period for the bill.\n  - {{interest_period}} can be used to reference the interest period for the bill.\n- \"remittance_checks\"\n- \"remittance_checks_label\"\n- \"remittance_checks_title\"\n- \"remittance_note\"\n  - {{bill_number}} can be used to reference the bills number.\n- \"remittance_note_soa\"\n- \"remittance_title\"\n- \"remittance_wire_bank_account\"\n- \"remittance_wire_bank_account_label\"\n- \"remittance_wire_bank_name\"\n- \"remittance_wire_bank_name_label\"\n- \"remittance_wire_bank_routing\"\n- \"remittance_wire_bank_routing_label\"\n- \"remittance_wire_bank_swift\"\n- \"remittance_wire_bank_swift_label\"\n- \"remittance_wire_title\"\n- \"soa_title\"\n- \"statement_of_accounts_amount\"\n- \"statement_of_accounts_amount_in_trust\"\n- \"statement_of_accounts_amount_on_account\"\n- \"statement_of_accounts_balance\"\n- \"statement_of_accounts_current_invoice\"\n- \"statement_of_accounts_details_title\"\n- \"statement_of_accounts_due_on\"\n- \"statement_of_accounts_invoice_number\"\n- \"statement_of_accounts_new_charges\"\n- \"statement_of_accounts_note\"\n  - {{firm_name}} can be used to reference your firms name.\n- \"statement_of_accounts_original_invoice_number\"\n- \"statement_of_accounts_other_interest_invoices\"\n- \"statement_of_accounts_other_invoices\"\n- \"statement_of_accounts_outstanding_balance\"\n- \"statement_of_accounts_detailed_outstanding_balance\"\n- \"statement_of_accounts_payments\"\n- \"statement_of_accounts_summary_title\"\n- \"statement_of_accounts_total_balance\"\n- \"statement_of_accounts_total_credit\"\n- \"statement_of_accounts_total_outstanding_balance\"\n- \"statement_of_accounts_detailed_total_outstanding_balance\"\n- \"trust_request_adjustments_title_text\"\n- \"trust_request_lc\"\n- \"trust_request_number_text\"\n- \"trust_request_title\"\n- \"trust_request_total_text\"\n\n\nAvailable settings under \"css\", each of these has nested values that can be set to apply CSS rules to bills:\n- \"client\"\n  - \"color\": Color used in the client section. Value is in 'Hex'.\n  - \"font-family\": Font used in client section.\n  - \"font-size\": Font size in client section. Value is in 'em'.\n- \"client_address\"\n  - \"margin-bottom\": Bottom margin size for the client address. Value is in 'em'.\n- \"firm_title\"\n  - \"margin-bottom\": Bottom margin height for the bills firm title. Value is in 'em'.\n  - \"color\": Color for the bills firm title section. Value is in 'Hex'.\n  - \"font-family\": Font used for text in the firm title.\n  - \"font-size\": Font size for the bills firm title. Value is in 'em'.\n  - \"border-color\": Border color property for the firm title on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the firm title on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for table rows on a bill. Accepts standard CSS options for 'border-width' property.\n  - \"background-color\": Background color for the firm title on a bill. Value is in 'Hex'.\n- \"header\"\n  - \"margin-bottom\": Bottom margin size for the bill header. Value is in 'em'.\n- \"inside_margins\"\n  - \"font-family\": Primary font used on the bill.\n  - \"font-size\": Primary font size used for bill.\n  - \"color\": Primary font used on the bill, default is \"Arial\".\n- \"invoice_title\"\n  - \"color\": Color used in the invoice title section. Value is in 'Hex'.\n  - \"font-family\": Font used in invoice title section.\n  - \"font-size\": Font size in invoice title section. Value is in 'em'.\n- \"logo_img\"\n  - \"height\": Height for the bills logo image. Value is in 'em'.\n  - \"margin-top\": Top margin height for the bills logo image. Value is in 'em'.\n  - \"margin-bottom\": Bottom margin height for the bills logo image. Value is in 'em'.\n- \"matter_description\"\n  - \"margin-top\": Top margin size for matter description section. Value is in 'em'.\n  - \"color\": Color used in the matter description section. Value is in 'Hex'.\n  - \"font-family\": Font used in matter description section.\n  - \"font-size\": Font size in matter description section. Value is in 'em'.\n- \"matter_number\"\n  - \"color\": Color used in the matter number section. Value is in 'Hex'.\n  - \"font-family\": Font used in matter number section.\n  - \"font-size\": Font size in matter number section. Value is in 'em'.\n- \"page_margins\"\n  - \"margin-left\": Left margin size for the bill. Value is in 'em'.\n  - \"margin-right\": Right margin size for the bill. Value is in 'em'.\n  - \"margin-top\": Top margin size for the bill. Value is in 'em'.\n  - \"margin-bottom\": Bottom margin size for the bill. Value is in 'em'.\n  - \"size\": Size property for the bill, default is \"US-Letter\".\n- \"remittance_title\"\n  - \"color\": Color used in the remittance title section. Value is in 'Hex'.\n  - \"font-family\": Font used in remittance title section.\n  - \"font-size\": Font size in remittance title section. Value is in 'em'.\n  - \"background-color\": Background color for the remittance title section on a bill. Value is in 'Hex'.\n  - \"border-color\": Border color property for the remittance title section on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the remittance title section on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for the remittance title section on a bill. Accepts standard CSS options for 'border-width' property.\n- \"statement_of_accounts_title\"\n  - \"color\": Color used in the statement of accounts section. Value is in 'Hex'.\n  - \"font-family\": Font used in statement of accounts section.\n  - \"font-size\": Font size in statement of accounts section. Value is in 'em'.\n  - \"background-color\": Background color for the statement of accounts section on a bill. Value is in 'Hex'.\n  - \"border-color\": Border color property for the statement of accounts section on a bill. Value is in 'Hex'.\n  - \"border-style\": Border style property for the statement of accounts section on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-width\": Border width property for the statement of accounts section on a bill. Accepts standard CSS options for 'border-width' property.\n- \"table_even_line\"\n  - \"background-color\": Background color for even table rows. Value is in 'Hex'.\n- \"table_h4\"\n  - \"background-color\": Background color for table headers. Value is in 'Hex'.\n- \"table_line\"\n  - \"border-bottom-width\": Bottom border width for table rows. Value is in 'px'.\n  - \"border-bottom-style\": Bottom border style property for table rows on a bill. Accepts standard CSS options for 'border-style' property.\n  - \"border-bottom-color\": Bottom border color property for table rows on a bill. Value is in 'Hex'.\n- \"table_odd_line\"\n  - \"background-color\": Background color for odd table rows. Value is in 'Hex'.\n\n\nA config with samples of each type of option is shown below:\n```\n  config = {\n    \"show\": {\n        \"statement_of_accounts_summary\": \"left\"\n        \"statement_of_accounts_note\": true,\n        \"footer_invoice_payable\": true,\n        \"footer_invoice_memo\": true,\n        \"payment_profile_no_grace_period\": true,\n        \"payment_profile_grace_period\": true,\n        \"payment_profile_discount\": true,\n        \"payment_profile_interest\": true,\n        \"interest_headings_order\": [\"interest_type\",\" interest_date\", \"interest_details_description\", \"interest_total\"]\n      },\n    \"text\": {\n        \"statement_of_accounts_note\": \"Please make all amounts payable to: {{firm_name}}\",\n        \"footer_invoice_payable\": \"Please make all amounts payable to: {{firm_name}}\",\n        \"footer_invoice_memo\": \"{{bill_memo}}\",\n        \"payment_profile_no_grace_period\": \"Payment is due upon receipt.\",\n        \"payment_profile_grace_period\": \"Please pay within {{grace_period}}.\",\n        \"payment_profile_discount\": \"{{discount_rate}}% discount will be applied if payment is received within {{discount_period}}.\",\n        \"payment_profile_interest\": \"{{interest_rate}}% {{interest_type}} annual interest will be charged every {{interest_period}}.\",\n      },\n    \"css\": {\n      \"statement_of_accounts_title\": {\n        \"color\": \"#00cc00\",\n        \"font-family\": \"Times New Roman\",\n        \"font-size\": \"0.875em\",\n        \"background-color\": \"#ccff99\",\n        \"border-color\": \"#0033ff\",\n        \"border-style\": \"dotted\",\n        \"border-width\": \"thick\"\n      },\n      \"remittance_title\": {\n        \"color\": \"#00ff00\",\n        \"background-color\": \"None\",\n        \"border-color\": \"#0033cc\",\n        \"border-width\": \"medium\",\n        \"border-style\": \"dotted\",\n        \"font-family\": \"Arial\",\n        \"font-size\": \"1.5em\"\n      }\n    }\n  }\n```\n"
                    name:
                      type: string
                      description: Name of the BillTheme.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    config:
                      type: string
                      description: "A string containing settings for the BillTheme.\nValues set in this string will apply to any bill using this BillTheme, unless overridden by the bill.\n\nAvailable settings within this string:\n- \"show\": Values set under this key determine how/if sections will appear on a bill.\n- \"text\": Values set under this key determine what will display if the section is shown.\n- \"css\": Values set under this key determine CSS rules for sections on a bill.\n\nAvailable settings under \"show\":\n- \"client_account\": Can be set to \"hidden\", \"details\", or \"summary\" to control the display and content of this section.\n- \"client_account_details_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_include_matter_transfers\": Can be set to true/false to toggle displaying this section.\n- \"client_account_matter_date_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_details_description_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_title_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_matter_type_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_only_bill_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_other_matters\": Can be set to true/false to toggle displaying this section.\n- \"client_account_payments_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_receipts_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_account_summary_balance_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"client_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"client_operating_account_omit_balance\": Can be set to true/false to toggle displaying this section.\n- \"clio_payments_amount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_amount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_note_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_reference_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"clio_payments_status_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"draft_watermark\": Can be set to true/false to toggle displaying a draft watermark. Will only affect bills in draft.\n- \"envelope_friendly\": Can be set to true/false to toggle size styling for the bill.\n- \"firm_address\": Can be set to true/false to toggle displaying this section.\n- \"firm_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"firm_title\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_memo\": Can be set to true/false to toggle displaying this section.\n- \"footer_invoice_payable\": Can be set to true/false to toggle displaying this section.\n- \"footer_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"footer_page_numbers\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_issued_date\": Can be set to true/false to toggle displaying this section.\n- \"header_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"header_on_first_page\": Can be set to true/false to toggle displaying this section.\n- \"interest_date\": Can be set to true/false to toggle displaying this section.\n- \"interest_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description\": Can be set to true/false to toggle displaying this section.\n- \"interest_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_details_description_new_line\": Can be set to true/false to toggle displaying a interest descriptions on a new line.\n- \"interest_headings_order\": Should be set to an array that contains the values: [\"interest_type\",\" interest_date\", \"interest_details_description\", \"interest_total\"] in the order you would like the sections to display on your bills.\n- \"interest_total\": Can be set to true/false to toggle displaying this section.\n- \"interest_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"interest_type\": Can be set to true/false to toggle displaying this section.\n- \"interest_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"interest_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"invoice_information_due_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_invoice_number\": Can be set to true/false to toggle displaying this section.\n- \"invoice_information_issue_date\": Can be set to true/false to toggle displaying this section.\n- \"invoice_title\": Can be set to true/false to toggle displaying this section.\n- \"logo\": Can be set to true/false to toggle displaying this section.\n- \"logo_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_attorney_display\": Can be set to \"name\" or \"initials\" to control the content shown in this section.\n- \"matter_attorney_initials\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_initials_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_initials_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_attorney_summary_position_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_attorney_summary_time_keeper_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_client_ref\": Can be set to true/false to toggle displaying this section.\n- \"matter_date\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_date_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_date_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_details_description_new_line\": Can be set to true/false to toggle displaying a matter descriptions on a new line.\n- \"matter_details_description_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_details_description_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_heading_justification\": Can be set to \"center\", \"left\", or \"right\" to control the justification of this section.\n- \"matter_headings_order\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_expenses\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_products\": Should be set to an array that contains the values: [\"matter_type\", \"matter_attorney_initials\", \"matter_date\", \"matter_details_description\", \"matter_quantity\", \"matter_rate\", \"matter_line_item_discount\", \"matter_total\", \"matter_total_with_tax\", \"matter_tax\"]\nin the order you would like the sections to display on your bills.\n- \"matter_headings_order_trust\": Should be set to an array that contains the values: [\"matter_date\", \"matter_details_description\", \"matter_total\"] in the order you would like the sections to display on your bills.\n- \"matter_individual_payments\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_item_discount_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_line_item_discount_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_line_items_activity_descriptions\": Can be set to true/false to toggle displaying this section.\n- \"matter_number\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_quantity_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_quantity_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_rate_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_rate_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_separate_line_items\": Can be set to true/false to toggle displaying this section.\n- \"matter_show_amount_with_percentage\": Can be set to true/false to toggle displaying this section.\n- \"matter_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_products\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_text_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_trust\": Can be set to true/false to toggle displaying this section.\n- \"matter_total_with_tax_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_total_with_tax_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_totals_subtotal\": Can be set to true/false to toggle displaying this section.\n- \"matter_totals_subtotal_line_item_discount\": Can be set to true/false to toggle displaying this section.\n- \"matter_type\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_expenses\": Can be set to true/false to toggle displaying this section.\n- \"matter_type_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"matter_type_products\": Can be set to true/false to toggle displaying this section.\n- \"payment_profile_discount\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have an early payment discount.\n- \"payment_profile_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a grace period.\n- \"payment_profile_interest\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill does not have a recurring interest charge.\n- \"payment_profile_no_grace_period\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if the bill has a grace period.\n- \"show_clio_payments\": Can be set to true/false to toggle displaying this section.\n- \"soa_title\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_amount_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_amount_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_balance_due_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_details\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_due_on_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_due_on_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_include_trust\": Can be set to true/false to toggle displaying this section.\n- \"statement_of_accounts_invoice_number_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_invoice_number_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_note\": Can be set to true/false to toggle displaying this section. Even if set to true, this section will not be shown if \"statement_of_accounts_summary\" is \"hidden\".\n- \"statement_of_accounts_payments_received_body_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_payments_received_header_alignment\": Can be set to \"center\", \"left\", or \"right\" to control the alignment of this section.\n- \"statement_of_accounts_summary\": Can be set to \"hidden\", \"above\", or \"below\" to control the location of this section. This will determine if the statements 
[...]
