openapi: 3.0.0
info:
  title: Clio API Documentation Activities Tasks API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Tasks
  description: 'Tasks are used to assign and track work. Users can set priorities, due dates, and add reminders.


    Tasks can be assigned to firm users as well as Contacts (such as clients or co-counsel).


    [Support Link](https://help.clio.com/hc/en-us/articles/9204917906971-Task-Management)


    [Tasks in Clio](http://app.clio.com/tasks)

    '
paths:
  /tasks.json:
    get:
      tags:
      - Tasks
      summary: Return the data for all Tasks
      operationId: Task#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Tasks
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: assignee_id
        in: query
        description: The unique identifier for a single User or Contact. Use the keyword `null` to match those without a Task. The list will be filtered to include only the Task records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: assignee_type
        in: query
        description: Filter Task records to those with a specific assignee. Must be passed if filtering by assignee.
        required: false
        schema:
          type: string
          enum:
          - user
          - contact
      - name: assigner_id
        in: query
        description: The unique identifier for a single User. Use the keyword `null` to match those without a Task. The list will be filtered to include only the Task records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: cascading_source_id
        in: query
        description: Filter Task records to those with a parent task that has the specified ID.
        required: false
        schema:
          type: integer
          format: int32
      - name: client_id
        in: query
        description: The unique identifier for a single Contact. Use the keyword `null` to match those without a Task. The list will be filtered to include only the Task records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: complete
        in: query
        description: Filter Task records to those which are complete or not.
        required: false
        schema:
          type: boolean
      - name: created_since
        in: query
        description: Filter Task records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: due_at_from
        in: query
        description: Start of date range when querying by due_at in a range. (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: due_at_present
        in: query
        description: Filter Task records to those that have a due date specified, or not.
        required: false
        schema:
          type: boolean
      - name: due_at_to
        in: query
        description: End of date range when querying by due_at in a range. (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Task records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Task records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Task. The list will be filtered to include only the Task records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Task records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - name(asc)
          - name(desc)
          - task_type.name(asc)
          - task_type.name(desc)
          - id(asc)
          - id(desc)
          - priority(asc)
          - priority(desc)
          - matter.display_number(asc)
          - matter.display_number(desc)
          - due_at(asc)
          - due_at(desc)
          - due_at_strict(asc)
          - due_at_strict(desc)
          - completed_at(asc)
          - completed_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: permission
        in: query
        description: Filter Task records to those with the given permission. Returns all tasks by default.
        required: false
        schema:
          type: string
          enum:
          - private
          - public
      - name: priority
        in: query
        description: Filter Task records to those with the given priority.
        required: false
        schema:
          type: string
          enum:
          - high
          - normal
          - low
      - name: query
        in: query
        description: Wildcard search for `name` or `description` matching a given string.
        required: false
        schema:
          type: string
      - name: responsible_attorney_id
        in: query
        description: Filter Task records to those that have an associated matter with a responsible attorney ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filter Task records to those with the given status. Users without advanced tasks enabled may only specify 'complete' or 'pending'.
        required: false
        schema:
          type: string
          enum:
          - pending
          - in_progress
          - in_review
          - complete
          - draft
      - name: statuses[]
        in: query
        description: Filter Task records to those with the given statuses. Users without advanced tasks enabled may only specify 'complete' or 'pending'.
        required: false
        schema:
          type: string
          enum:
          - pending
          - in_progress
          - in_review
          - complete
          - draft
      - name: statute_of_limitations
        in: query
        description: Filter Task records to those which are a statute of limitations or not.
        required: false
        schema:
          type: boolean
      - name: task_type_id
        in: query
        description: The unique identifier for a single TaskType. Use the keyword `null` to match those without a Task. The list will be filtered to include only the Task records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: time_entries_present
        in: query
        description: Filter Task records to those that have associated time entries, or not.
        required: false
        schema:
          type: boolean
      - name: updated_since
        in: query
        description: Filter Task records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Task_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Tasks
      summary: Create a new Task
      operationId: Task#create
      description: Outlines the parameters and data fields used when creating a new Task
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Task_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Tasks
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                      required:
                      - id
                      - type
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    statute_of_limitations:
                      type: boolean
                      description: Whether or not the Task should be a statute of limitations.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
                  required:
                  - name
                  - description
                  - assignee
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                      required:
                      - id
                      - type
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    statute_of_limitations:
                      type: boolean
                      description: Whether or not the Task should be a statute of limitations.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
                  required:
                  - name
                  - description
                  - assignee
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                      required:
                      - id
                      - type
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    statute_of_limitations:
                      type: boolean
                      description: Whether or not the Task should be a statute of limitations.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
                  required:
                  - name
                  - description
                  - assignee
        required: false
  /tasks/{id}.json:
    get:
      tags:
      - Tasks
      summary: Return the data for a single Task
      operationId: Task#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Task
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Task.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Task_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Tasks
      summary: Update a single Task
      operationId: Task#update
      description: Outlines the parameters and data fields used when updating a single Task
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Task.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Task_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Tasks
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    assignee:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User or Contact associated with the Task. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - User
                          - Contact
                          description: Model type of the assignee.
                    cascading:
                      type: boolean
                      description: Determines if the Task has a due date that is derived from another Task. (Note that if false, no other cascading information will be checked)
                    cascading_offset:
                      type: integer
                      format: int32
                      description: The amount of time that will differentiate the cascaded Task from its parent.
                    cascading_offset_polarity:
                      type: string
                      enum:
                      - CalendarDays
                      - CalendarWeeks
                      - CalendarMonths
                      - CalendarYears
                      - BusinessDays
                      description: Determines whether or not the cascading_offset occurs before or after its parent.
                    cascading_offset_type:
                      type: string
                      enum:
                      - Before
                      - After
                      description: Determines the quantity of the cascading offset (e.g. CalendarDays, CalendarWeeks etc.)
                    cascading_source:
                      type: integer
                      format: int32
                      description: The parent Task that is used to determine the due_at property of the cascaded Task
                    description:
                      type: string
                      description: Longer description of the Task. This Task supports rich text when the `description_text_type` field is set to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
                    description_text_type:
                      type: string
                      default: plain_text
                      enum:
                      - plain_text
                      - rich_text
                      description: The type of text in the description field.
                    due_at:
                      type: string
                      format: date-time
                      description: Date when the Task must be completed by. (Expects an ISO-8601 date).
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Task. The keyword `null` is not valid for this field.
                    name:
                      type: string
                      description: Name of the Task.
                    notify_assignee:
                      type: boolean
                      description: Whether or not the Task should notify the assignee on creation.
                    notify_completion:
                      type: boolean
                      description: Whether or not the Task should notify the assigner on completion.
                    permission:
                      type: string
                      default: public
                      enum:
                      - private
                      - public
                      description: Permission of the Task. Defaults to `public`
                    priority:
                      type: string
                      default: Normal
                      enum:
                      - High
                      - Normal
                      - Low
                      description: Priority of the Task.
                    status:
                      type: string
                      default: pending
                      enum:
                      - pending
                      - in_progress
                      - in_review
                      - complete
                      - draft
                      description: Task status. Users without advanced tasks are allowed to select `Complete` or `Pending` only.
                    task_type:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single TaskType associated with the Task. The keyword `null` is not valid for this field.
                    time_estimated:
                      type: integer
                      format: int32
                      description: Time the Task should take to complete.
        required: false
    delete:
      tags:
      - Tasks
      summary: Delete a single Task
      operationId: Task#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single Task
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Task.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Avatar_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Avatar*
        etag:
          type: string
          description: ETag for the *Avatar*
        created_at:
          type: string
          format: date-time
          description: The time the *Avatar* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Avatar* was last updated (as a ISO-8601 timestamp)
        url:
          type: string
          description: The URL for the *Avatar*
        _destroy:
          type: boolean
          description: Whether to destroy the *Avatar*
    Participant:
      allOf:
      - $ref: '#/components/schemas/Participant_base'
      - type: object
        properties:
          avatar:
            $ref: '#/components/schemas/Avatar_base'
            description: Avatar
    Task_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Task*
        etag:
          type: string
          description: ETag for the *Task*
        name:
          type: string
          description: The name of the *Task*
        status:
          type: string
          enum:
          - pending
          - in_progress
          - in_review
          - complete
          - draft
          description: Status of the *Task*. (Note that users without advanced tasks can only have either complete or pending)
        description:
          type: string
          description: A detailed description of the *Task*. This Task supports rich text when setting the field `description_text_type` to `rich_text`. With supported tags such as `<a>`, `<b>`, `<br>`, `<div>`, `<em>`, `<i>` `<li>`, `<ol>`, `<p>`, `<s>`, `<strong>`, `<u>` and `<ul>`. This Task also supports attributes such as `href`, `rel`, `type`, and `target`.
        description_text_type:
          type: string
          enum:
          - plain_text
          - rich_text
          description: The text type of the *Task*
        priority:
          type: string
          enum:
          - High
          - Normal
          - Low
          description: The priority of the *Task*
        due_at:
          type: string
          format: date
          description: The date the *Task* is due (as a ISO-8601 date)
        permission:
          type: string
          description: The permission of the *Task*
        completed_at:
          type: string
          format: date-time
          description: The time the *Task* was completed (as a ISO-8601 timestamp)
        notify_completion:
          type: boolean
          description: Whether to notify the assigner of the task's completion
        statute_of_limitations:
          type: boolean
          description: Whether the task is a statute of limitations
        time_estimated:
          type: integer
          format: int32
          description: Time the *Task* should take to complete
        created_at:
          type: string
          format: date-time
          description: The time the *Task* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Task* was last updated (as a ISO-8601 timestamp)
        time_entries_count:
          type: integer
          format: int32
          description: The number of time entries associated with this task
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    TaskType_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *TaskType*
        etag:
          type: string
          description: ETag for the *TaskType*
        name:
          type: string
          description: The name of the *TaskType*
        deleted_at:
          type: string
          format: date-time
          description: The time the *TaskType* was deleted (as a ISO-8601 timestamp)
        created_at:
          type: string
          format: date-time
          description: The time the *TaskType* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *TaskType* was last updated (as a ISO-8601 timestamp)
    Task:
      allOf:
      - $ref: '#/components/schemas/Task_base'
      - type: object
        properties:
          time_entries:
            type: array
            items:
              $ref: '#/components/schemas/Activity_base'
            description: Activity
          task_type:
            $ref: '#/components/schemas/TaskType_base'
            description: TaskType
          assigner:
            $ref: '#/components/schemas/User_base'
            description: User
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          assignee:
            $ref: '#/components/schemas/Participant'
            description: Participant
          reminders:
            type: array
            items:
              $ref: '#/components/schemas/Reminder_base'
            description: Reminder
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Participant_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Participant*
        etag:
          type: string
          description: ETag for the *Participant*
        created_at:
          type: string
          format: date-time
          description: The time the *Participant* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Participant* was last updated (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Person
          - Company
          - User
          description: The type of the Participant. Person and Company are subtypes of Contact
        identifier:
          type: string
          description: A string to identify the *Participant*
        secondary_identifier:
          type: string
          description: A secondary string to identify the *Participant*
        enabled:
          type: boolean
          description: The enabled state of the *Participant* record. Always 'null' if *Participant* type is Contact
        name:
          type: string
          description: The name of the *Participant* record
        initials:
          type: string
          description: A  string with the participant initials
        job_title_name:
          type: string
          description: the job title name of the participant if they are a firm user and have one
    Task_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Task'
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    Task_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Task List Response
          items:
            $ref: '#/components/schemas/Task'
    Reminder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Reminder*
        etag:
          type: string
          description: ETag for the *Reminder*
        duration:
          type: integer
          format: int32
          description: Time in minutes to remind user before the subject
        next_delivery_at:
          type: string
          format: date-time
          description: The time the *Reminder* will be delivered (as a ISO-8601 timestamp)
        state:
          type: string
          enum:
          - initializing
          - scheduling
          - rescheduling
          - scheduled
          - attempting_delivery
          - delivery_failed
          - delivered
          - delivery_skipped
          - invalid_user
          description: The current state of the *Reminder*
        created_at:
          type: string
          format: date-time
          description: The time the *Reminder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Reminder* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Activity_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Activity*
        etag:
          type: string
          description: ETag for the *Activity*
        type:
          type: string
          enum:
          - TimeEntry
          - ExpenseEntry
          - HardCostEntry
          - SoftCostEntry
          description: The type of the *Activity*
        date:
          type: string
          format: date
          description: The date the *Activity* was performed (as a ISO-8601 date)
        quantity_in_hours:
          type: number
          format: double
          description: The number of hours the TimeEntry took.
        rounded_quantity_in_hours:
          type: number
          format: double
          description: 'The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity:
          type: number
          format: double
          description: 'The field is applicable to TimeEntry, ExpenseEntry, and SoftCostEntry.


            **Version <= 4.0.3:**

            The number of hours the TimeEntry took.


            **Latest version:**

            The number of seconds the TimeEntry took.

            '
        rounded_quantity:
          type: number
          format: double
          description: 'The field is applicable to time entries only.


            **Version <= 4.0.3:**

            The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.


            **Latest version:**

            The number of seconds rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity_redacted:
          type: boolean
          description: 'Is `true` if any of the following fields are redacted:

            `quantity`, `rounded_quantity`, `rounded_quantity_in_hours`, `quantity_in_hours`, `total`, `non_billable_total`

            '
        price:
          type: number
          format: double
          description: The hourly or flat rate of the *Activity*
        note:
          type: string
          description: The details about the *Activity*
        flat_rate:
          type: boolean
          description: Whether the *Activity* is a flat rate
        billed:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that is in the state of `awaiting_payment` or `paid`
        on_bill:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that is in the state of `draft`, `awaiting_approval`, `awaiting_payment` or `paid`
        total:
          type: number
          format: double
          description: The total cost of draft, billable and billed items in the *Activity*
        contingency_fee:
          type: boolean
          description: Whether or not the *Activity* is a contingency fee
        created_at:
          type: string
          format: date-time
          description: The time the *Activity* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Activity* was last updated (as a ISO-8601 timestamp)
        reference:
          type: string
          description: A check reference for a HardCostEntry.
        non_billable:
          type: boolean
          description: Whether the *Activity* is non-billable
        non_billable_total:
          type: number
          format: double
          description: The total cost of non-billable items in the *Activity*
        no_charge:
          type: boolean
          description: Whether the non-billable *Activity* is shown on the bill.
        tax_setting:
          type: string
          enum:
          - no_tax
          - tax_1_only
          - tax_2_only
          - tax_1_and_tax_2
          description: The option denoting whether primary tax, secondary tax, or both is applied to an expense entry.
        tax_settings:
          type: array
          items:
            type: object
          description: Array of objects, with each object representing a tax setting that is applied to an expense entry with 'tax_rate_configuration_id', 'order', and 'rule' as the object properties.
        currency:
          type: object
          description: The currency of the *Activity*
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
