openapi: 3.2.0
info:
  title: Clio API Documentation Matter Dockets API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Matter Dockets
  description: 'A Matter Docket connects a Matter with a Court Rule (and all of the Calendar Entries associated with the Court Rule). Matter Dockets are viewable on the Matter Edit screen under the Court Rules heading.


    Matter Dockets are part of the Court Rules feature which is not available to all plan types. See here for feature support across different plans.


    Support Link'
paths:
  /court_rules/matter_dockets/preview.json:
    get:
      tags:
      - Matter Dockets
      summary: Preview calendar dates for the docket
      operationId: MatterDocket#preview
      parameters:
      - name: event_prefix
        in: query
        description: The prefix that will be added to the beginning of all court rule event titles
        required: false
        schema:
          type: string
      - name: jurisdiction[id]
        in: query
        description: The unique identifier for a single Jurisdiction. The keyword `null` is not valid for this field. The list will be filtered to include only the MatterDocket records with the matching property.
        required: true
        schema:
          type: integer
          format: int64
      - name: service_type[id]
        in: query
        description: The unique identifier for a single ServiceType. The keyword `null` is not valid for this field. The list will be filtered to include only the MatterDocket records with the matching property.
        required: true
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        description: The date the MatterDocket should start. (Expects an ISO-8601 date).
        required: true
        schema:
          type: string
          format: date-time
      - name: start_time
        in: query
        description: The time the MatterDocket should start. (Expects an ISO-8601 timestamp).
        required: true
        schema:
          type: string
          format: date-time
      - name: trigger[id]
        in: query
        description: The unique identifier for a single JurisdictionsToTrigger. The keyword `null` is not valid for this field. The list will be filtered to include only the MatterDocket records with the matching property.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '303':
          description: See Other
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /court_rules/matter_dockets.json:
    get:
      tags:
      - Matter Dockets
      summary: Return the data for all matter dockets
      operationId: MatterDocket#index
      description: Outlines the parameters, optional and required, used when requesting the data for all MatterDockets
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter MatterDocket records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter MatterDocket records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of MatterDocket records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. The keyword `null` is not valid for this field. The list will be filtered to include only the MatterDocket records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: matter_status
        in: query
        description: Filter MatterDocket records to those with Matters having a specific status.
        required: false
        schema:
          type: string
          enum:
          - open
          - closed
          - pending
      - name: order
        in: query
        description: 'Orders the MatterDocket records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - date(asc)
          - date(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Wildcard search for `name` matching a given string.
        required: false
        schema:
          type: string
      - name: service_type_id
        in: query
        description: The unique identifier for a single ServiceType. Use the keyword `null` to match those without a MatterDocket. The list will be filtered to include only the MatterDocket records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filter MatterDocket records to those having a specific status.
        required: false
        schema:
          type: string
          enum:
          - not_started,
          - in_progress,
          - failed,
          - completed
      - name: updated_since
        in: query
        description: Filter MatterDocket records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatterDocket_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Matter Dockets
      summary: Creates a matter docket
      operationId: MatterDocket#create
      description: Outlines the parameters and data fields used when creating a new MatterDocket
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatterDocket_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Matter Dockets
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    jurisdiction:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Jurisdiction associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                    name:
                      type: string
                      description: Name of the MatterDocket.
                    start_date:
                      type: string
                      format: date
                      description: Start date of the MatterDocket. (Expects an ISO-8601 date).
                    start_time:
                      type: string
                      format: date-time
                      description: Start time of the MatterDocket. Required for some triggers.  (Expects an ISO-8601 timestamp).
                    trigger:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Trigger associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                  required:
                  - jurisdiction
                  - name
                  - start_date
                  - trigger
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    jurisdiction:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Jurisdiction associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                    name:
                      type: string
                      description: Name of the MatterDocket.
                    start_date:
                      type: string
                      format: date
                      description: Start date of the MatterDocket. (Expects an ISO-8601 date).
                    start_time:
                      type: string
                      format: date-time
                      description: Start time of the MatterDocket. Required for some triggers.  (Expects an ISO-8601 timestamp).
                    trigger:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Trigger associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                  required:
                  - jurisdiction
                  - name
                  - start_date
                  - trigger
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    jurisdiction:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Jurisdiction associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                    name:
                      type: string
                      description: Name of the MatterDocket.
                    start_date:
                      type: string
                      format: date
                      description: Start date of the MatterDocket. (Expects an ISO-8601 date).
                    start_time:
                      type: string
                      format: date-time
                      description: Start time of the MatterDocket. Required for some triggers.  (Expects an ISO-8601 timestamp).
                    trigger:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Trigger associated with the MatterDocket. The keyword `null` is not valid for this field.
                      required:
                      - id
                  required:
                  - jurisdiction
                  - name
                  - start_date
                  - trigger
        required: false
  /court_rules/matter_dockets/{id}.json:
    get:
      tags:
      - Matter Dockets
      summary: Return the data for the matter docket
      operationId: MatterDocket#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single MatterDocket
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the MatterDocket.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatterDocket_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    delete:
      tags:
      - Matter Dockets
      summary: Deletes the requested matter docket
      operationId: MatterDocket#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single MatterDocket
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the MatterDocket.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    MatterDocket_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/MatterDocket'
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    JurisdictionsToTrigger_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *JurisdictionsToTrigger*
        etag:
          type: string
          description: ETag for the *JurisdictionsToTrigger*
        system_id:
          type: integer
          format: int64
          description: Server id
        description:
          type: string
          description: A detailed description of the *JurisdictionsToTrigger*
        do_not_recalculate:
          type: boolean
          description: Whether the associated dates should not be recalculated
        is_served:
          type: boolean
          description: Whether the user must select a Date Offset (Service Type)
        is_requirements_required:
          type: boolean
          description: Whether the trigger has requirements
        created_at:
          type: string
          format: date-time
          description: The time the *JurisdictionsToTrigger* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *JurisdictionsToTrigger* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    MatterDocket:
      allOf:
      - $ref: '#/components/schemas/MatterDocket_base'
      - type: object
        properties:
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          jurisdiction:
            $ref: '#/components/schemas/Jurisdiction_base'
            description: Jurisdiction
          trigger:
            $ref: '#/components/schemas/JurisdictionsToTrigger_base'
            description: JurisdictionsToTrigger
          service_type:
            $ref: '#/components/schemas/ServiceType_base'
            description: ServiceType
          calendar_entries:
            type: array
            items:
              $ref: '#/components/schemas/CalendarEntry_base'
            description: CalendarEntry
    CalendarEntry_base:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the *CalendarEntry*
        etag:
          type: string
          description: ETag for the *CalendarEntry*
        summary:
          type: string
          description: A short summary of the *CalendarEntry*
        description:
          type: string
          description: A detailed description of the *CalendarEntry*
        location:
          type: string
          description: The geographic location of the *CalendarEntry*
        start_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* starts (as an ISO-8601 timestamp)
        start_date:
          type: string
          format: date
          description: The date the *CalendarEntry* starts (in the current user's timezone)
        start_time:
          type: string
          description: The time the *CalendarEntry* starts (in the current user's timezone, including timezone abbreviation)
        end_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* ends (as an ISO-8601 timestamp)
        end_date:
          type: string
          format: date
          description: The date the *CalendarEntry* ends (in the current user's timezone)
        end_time:
          type: string
          description: The time the *CalendarEntry* ends (in the current user's timezone, including timezone abbreviation)
        all_day:
          type: boolean
          description: Whether the event is all day
        recurrence_rule:
          type: string
          description: Recurrence rule for expanding
        parent_calendar_entry_id:
          type: integer
          format: int64
          description: Identifier for the parent *CalendarEntry*
        court_rule:
          type: boolean
          description: Whether this event is associated with a Court Rule
        created_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* was last updated (as a ISO-8601 timestamp)
        permission:
          type: string
          description: The view permission for the current user, will return 'viewer' when permission is 'limited_viewer' and the user is an attendee.
        calendar_owner_id:
          type: integer
          format: int64
          description: The id of the calendar owner.
        start_at_time_zone:
          type: string
          description: Original start at time zone of the event.
        time_entries_count:
          type: integer
          format: int32
          description: The number of `TimeEntry` activities associated with the *CalendarEntry*
    MatterDocket_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MatterDocket*
        etag:
          type: string
          description: ETag for the *MatterDocket*
        name:
          type: string
          description: The name of the *MatterDocket*
        start_date:
          type: string
          format: date
          description: The date the *MatterDocket* will start (as a ISO-8601 date)
        start_time:
          type: string
          format: date-time
          description: The time the *MatterDocket* will start, required for specific triggers (as a ISO-8601 timestamp)
        status:
          type: string
          description: The status of the *MatterDocket* creation
        created_at:
          type: string
          format: date-time
          description: The time the *MatterDocket* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *MatterDocket* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *MatterDocket* was deleted (as a ISO-8601 timestamp)
    ServiceType_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ServiceType*
        etag:
          type: string
          description: ETag for the *ServiceType*
        created_at:
          type: string
          format: date-time
          description: The time the *ServiceType* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ServiceType* was last updated (as a ISO-8601 timestamp)
        system_id:
          type: integer
          format: int64
          description: Server ID
        description:
          type: string
          description: A detailed description of the *ServiceType*
        default:
          type: boolean
          description: Whether *ServiceType* is default for the current user
    MatterDocket_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: MatterDocket List Response
          items:
            $ref: '#/components/schemas/MatterDocket'
    Jurisdiction_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Jurisdiction*
        etag:
          type: string
          description: ETag for the *Jurisdiction*
        created_at:
          type: string
          format: date-time
          description: The time the *Jurisdiction* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Jurisdiction* was last updated (as a ISO-8601 timestamp)
        system_id:
          type: integer
          format: int64
          description: Server ID
        description:
          type: string
          description: Description
        default:
          type: boolean
          description: Whether the *Jurisdiction* is default for the current user
        display_timezone:
          type: string
          description: Formatted IANA timezone with UTC offset
        valid_subscription:
          type: boolean
          description: Boolean value for whether the user has the jurisdictions
        is_local_timezone:
          type: boolean
          description: Boolean value for when the timezone is in the local users timezone
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
