openapi: 3.2.0
info:
  title: Clio API Documentation Reminders API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Reminders
  description: 'Reminders can be added to Tasks or Calendar Entries. Reminder emails can be sent by a User to themselves, other Users, Clio For Co-Counsel/Clio Connect Contacts, or any authorized email. An in-Clio pop-up reminder can also be sent by a User to themself.


    Support Link'
paths:
  /reminders.json:
    get:
      tags:
      - Reminders
      summary: Return the data for all Reminders
      operationId: Reminder#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Reminders
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter Reminder records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Reminder records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Reminder records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: notification_method_id
        in: query
        description: The unique identifier for a single NotificationMethod. The keyword `null` is not valid for this field. The list will be filtered to include only the Reminder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Reminder records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - next_delivery_at(asc)
          - next_delivery_at(desc)
          - id(asc)
          - id(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Filter Reminder records to those with a given state.
        required: false
        schema:
          type: string
          enum:
          - initializing
          - scheduling
          - rescheduling
          - scheduled
          - attempting_delivery
          - delivery_failed
          - delivered
          - delivery_skipped
          - invalid_user
      - name: subject_id
        in: query
        description: The unique identifier for a single CalendarEntry or Task. The keyword `null` is not valid for this field. The list will be filtered to include only the Reminder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: subject_type
        in: query
        description: Filter Reminder records to those of a given subject type, required if using subject_id.
        required: false
        schema:
          type: string
          enum:
          - calendar_entry
          - task
      - name: updated_since
        in: query
        description: Filter Reminder records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: user_id
        in: query
        description: The unique identifier for a single User. The keyword `null` is not valid for this field. The list will be filtered to include only the Reminder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Reminder_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Reminders
      summary: Create a new Reminder
      operationId: Reminder#create
      description: Outlines the parameters and data fields used when creating a new Reminder
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Reminder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Reminders
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
                      required:
                      - id
                    subject:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single CalendarEntry and Task associated with the Reminder. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - CalendarEntry
                          - Task
                          description: Model type of the Subject.
                      required:
                      - id
                      - type
                  required:
                  - subject
                  - notification_method
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
                      required:
                      - id
                    subject:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single CalendarEntry and Task associated with the Reminder. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - CalendarEntry
                          - Task
                          description: Model type of the Subject.
                      required:
                      - id
                      - type
                  required:
                  - subject
                  - notification_method
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
                      required:
                      - id
                    subject:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single CalendarEntry and Task associated with the Reminder. The keyword `null` is not valid for this field.
                        type:
                          type: string
                          enum:
                          - CalendarEntry
                          - Task
                          description: Model type of the Subject.
                      required:
                      - id
                      - type
                  required:
                  - subject
                  - notification_method
        required: false
  /reminders/{id}.json:
    get:
      tags:
      - Reminders
      summary: Return the data for a single Reminder
      operationId: Reminder#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Reminder
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Reminder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Reminder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Reminders
      summary: Update a single Reminder
      operationId: Reminder#update
      description: Outlines the parameters and data fields used when updating a single Reminder
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Reminder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Reminder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Reminders
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    duration_unit:
                      type: string
                      enum:
                      - weeks
                      - days
                      - hours
                      - minutes
                      description: Unit to measure the duration value in.
                    duration_value:
                      type: integer
                      format: int32
                      description: Time measured in `duration_unit` to remind user before the subject.
                    notification_method:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single NotificationMethod associated with the Reminder. The keyword `null` is not valid for this field.
        required: false
    delete:
      tags:
      - Reminders
      summary: Delete a single Reminder
      operationId: Reminder#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single Reminder
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Reminder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Reminder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Reminder*
        etag:
          type: string
          description: ETag for the *Reminder*
        duration:
          type: integer
          format: int32
          description: Time in minutes to remind user before the subject
        next_delivery_at:
          type: string
          format: date-time
          description: The time the *Reminder* will be delivered (as a ISO-8601 timestamp)
        state:
          type: string
          enum:
          - initializing
          - scheduling
          - rescheduling
          - scheduled
          - attempting_delivery
          - delivery_failed
          - delivered
          - delivery_skipped
          - invalid_user
          description: The current state of the *Reminder*
        created_at:
          type: string
          format: date-time
          description: The time the *Reminder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Reminder* was last updated (as a ISO-8601 timestamp)
    Reminder_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Reminder List Response
          items:
            $ref: '#/components/schemas/Reminder'
    NotificationMethod_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *NotificationMethod*
        etag:
          type: string
          description: ETag for the *NotificationMethod*
        type:
          type: string
          enum:
          - Email
          - Popup
          - SMS
          description: Human readable description of the type of notification
        email_address:
          type: string
          description: Email address to send the notification to (only for email type)
        is_default_email_address:
          type: boolean
          description: A boolean that is returned only on notification method objects that are relevant e.g. Email notification or Alternative Email
        created_at:
          type: string
          format: date-time
          description: The time the *NotificationMethod* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *NotificationMethod* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Reminder:
      allOf:
      - $ref: '#/components/schemas/Reminder_base'
      - type: object
        properties:
          notification_method:
            $ref: '#/components/schemas/NotificationMethod_base'
            description: NotificationMethod
          subject:
            $ref: '#/components/schemas/PolymorphicObject_base'
            description: PolymorphicObject
    Reminder_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Reminder'
    PolymorphicObject_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *PolymorphicObject*
        type:
          type: string
          enum:
          - Task
          - CalendarEntry
          - MatterNote
          - ContactNote
          - Matter
          - Contact
          - User
          - CreditMemo
          - Payment
          - Document
          - Communication
          - Conversation
          - TextMessageConversation
          description: The type of the *PolymorphicObject*
        identifier:
          type: string
          description: A string to identify the *PolymorphicObject*
        secondary_identifier:
          type: string
          description: A secondary string to identify the *PolymorphicObject*
        tertiary_identifier:
          type: string
          description: A tertiary string to identify the *PolymorphicObject*
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
