openapi: 3.2.0
info:
  title: Clio API Documentation Documents API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Documents
  description: Clio Documents are files uploaded to Clio.
paths:
  /documents/{id}/download.json:
    get:
      tags:
      - Documents
      summary: Download the Document.
      operationId: Document#download
      description: Download the Document. Will return a 303 See Other redirecting to the download URL for the Document
      parameters:
      - name: document_version_id
        in: query
        description: The unique identifier for a DocumentVersion to be downloaded. Defaults to the latest.
        required: false
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The unique identifier for the Document.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '303':
          description: See Other
        '404':
          description: Not Found
        '400':
          description: Bad Request
  /documents/{id}/copy.json:
    post:
      tags:
      - Documents
      summary: Copy a Document
      operationId: Document#copy
      description: Copies the latest document version of a Document into a new Document. The parameters `filename` and `name` will be copied from the source Document if none are provided.
      parameters:
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Document.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Document_Show'
      requestBody:
        description: Request Body for Documents
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - parent
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - parent
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - parent
        required: false
  /documents.json:
    get:
      tags:
      - Documents
      summary: Return the data for all Documents
      operationId: Document#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Documents
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: contact_id
        in: query
        description: The unique identifier for a single Contact. Use the keyword `null` to match those without a Document. The list will be filtered to include only the Document records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Document records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: document_category_id
        in: query
        description: The unique identifier for a single DocumentCategory. Use the keyword `null` to match those without a Document. The list will be filtered to include only the Document records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: external_property_name
        in: query
        description: 'Filter records to only those with the given external property(s) name set.


          e.g. `?external_property_name=Name`

          '
        required: false
        schema:
          type: string
      - name: external_property_value
        in: query
        description: 'Filter records to only those with the given external property(s) value set. Requires external property name as well.


          e.g. `?external_property_name=Name&external_property_value=Value`

          '
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Document records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: include_deleted
        in: query
        description: Allow trashed Document record to be included.
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'A limit on the number of Document records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: locked
        in: query
        description: Filter Document records to those that are locked.
        required: false
        schema:
          type: boolean
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Document. The list will be filtered to include only the Document records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Document records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - created_at(asc)
          - created_at(desc)
          - document_number(asc)
          - document_number(desc)
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - received_at(asc)
          - received_at(desc)
          - updated_at(asc)
          - updated_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: parent_id
        in: query
        description: The unique identifier for a single Folder. Use the keyword `null` to match those without a Document. The list will be filtered to include only the Document records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: query
        in: query
        description: Wildcard search for `name` matching the given string.
        required: false
        schema:
          type: string
      - name: scope
        in: query
        description: Filters Document record to those being a child of the parent Folder, or a descendant of the parent Folder. Default is `children`.
        required: false
        schema:
          type: string
          enum:
          - descendants
          - children
      - name: show_uncompleted
        in: query
        description: Allow Document record being uploaded to be included.
        required: false
        schema:
          type: boolean
      - name: updated_since
        in: query
        description: Filter Document records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Document_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Documents
      summary: Create a new Document
      operationId: Document#create
      description: Create a Document, or Create Document Version to an existing Document.
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Document_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Documents
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    content_type:
                      type: string
                      description: A standard MIME type describing the format of the object data. If the field is not specified, it is determined by the file extension.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                        required:
                        - part_number
                        - content_length
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - name
                  - parent
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    content_type:
                      type: string
                      description: A standard MIME type describing the format of the object data. If the field is not specified, it is determined by the file extension.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                        required:
                        - part_number
                        - content_length
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - name
                  - parent
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    content_type:
                      type: string
                      description: A standard MIME type describing the format of the object data. If the field is not specified, it is determined by the file extension.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    filename:
                      type: string
                      default: name
                      description: Name of the original file.
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                        required:
                        - part_number
                        - content_length
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                  required:
                  - name
                  - parent
        required: false
  /documents/{id}.json:
    get:
      tags:
      - Documents
      summary: Return the data for a single Document
      operationId: Document#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Document
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Document.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Document_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Documents
      summary: Update a single Document
      operationId: Document#update
      description: Update Document, move Document to another Folder, and/or restore a trashed Document.
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Document.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Document_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Documents
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    copy_version:
                      type: boolean
                      description: Indicates whether to create a new version with the updated filename on rename. This is intended to handle cases where the document extension has been changed; if the document extension has not changed, no new version will be created.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    fully_uploaded:
                      type: boolean
                      description: 'Indicates whether document is uploaded.


                        When marking the document fully uploaded, it arises errors when:

                        * The file is not successfully uploaded.

                        * Not all the file parts are uploaded.

                        * The document is already marked as fully uploaded.

                        '
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                    restore:
                      type: boolean
                      description: Whether or not a trashed Document should be restored.
                    uuid:
                      type: string
                      description: UUID associated with the document version. UUID is required to mark a document fully uploaded.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    copy_version:
                      type: boolean
                      description: Indicates whether to create a new version with the updated filename on rename. This is intended to handle cases where the document extension has been changed; if the document extension has not changed, no new version will be created.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    fully_uploaded:
                      type: boolean
                      description: 'Indicates whether document is uploaded.


                        When marking the document fully uploaded, it arises errors when:

                        * The file is not successfully uploaded.

                        * Not all the file parts are uploaded.

                        * The document is already marked as fully uploaded.

                        '
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                    restore:
                      type: boolean
                      description: Whether or not a trashed Document should be restored.
                    uuid:
                      type: string
                      description: UUID associated with the document version. UUID is required to mark a document fully uploaded.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    communication_id:
                      type: integer
                      format: int64
                      description: Related communication record.
                    copy_version:
                      type: boolean
                      description: Indicates whether to create a new version with the updated filename on rename. This is intended to handle cases where the document extension has been changed; if the document extension has not changed, no new version will be created.
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Document. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Document. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Document**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Document.
                    fully_uploaded:
                      type: boolean
                      description: 'Indicates whether document is uploaded.


                        When marking the document fully uploaded, it arises errors when:

                        * The file is not successfully uploaded.

                        * Not all the file parts are uploaded.

                        * The document is already marked as fully uploaded.

                        '
                    multiparts:
                      type: array
                      items:
                        type: object
                        properties:
                          part_number:
                            type: integer
                            format: int32
                            description: 'The part number of multipart upload. It must be an integer between 1 to 10,000, inclusive.


                              Multipart upload supports upload a single file as a set of parts.

                              Each part is a contiguous portion of the data.

                              A `part_number` uniquely identifies a part and also defines its position within the document being uploaded.

                              Each part must be at least 5 MB in size, except the last part.

                              There is no minimum size limit on the last part.


                              The URLs of multipart upload are returned in the field, `put_url`, with the corresponding `multipart`


                              The API handles maximum 50 `multiparts` in one request. If the upload is split to more than 50 parts,

                              make a PUT request with `fully_uploaded` equal to `false`, and another set of part numbers.

                              '
                          content_length:
                            type: string
                            description: The size of the part of the upload file in bytes.
                          content_md5:
                            type: string
                            description: The base64-encoded 128-bit MD5 digest of the part data. This header can be used as a message integrity check to verify that the part data is the same data that was originally sent. Although it is optional, we recommend using the Content-MD5 mechanism as an end-to-end integrity check.
                    name:
                      type: string
                      description: Document name.
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Document
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Document" represents an existing Clio document. It is specified when you provide a new revision (or document version) to an existing document.

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    received_at:
                      type: string
                      format: date-time
                      description: Date and time the document was received (Expects an ISO-8601 timestamp).
                    restore:
                      type: boolean
                      description: Whether or not a trashed Document should be restored.
                    uuid:
                      type: string
                      description: UUID associated with the document version. UUID is required to mark a document fully uploaded.
        required: false
    delete:
      tags:
      - Documents
      summary: Delete a single Document
      operationId: Document#destroy
      description: 'Deleting a Document using this method will move it to the trash instead of permanently deleting it. Trashed Documents are permanently deleted after 30 days. The following errors may be returned:


        - `409 Conflict`: The Document (or one of its ancestor folders) is currently being modified by another request, and cannot be trashed.'
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Document.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '409':
          description: Conflict
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Multipart_base:
      type: object
      properties:
        part_number:
          type: integer
          format: int32
          description: Unique identifier of a part which defines its position within the document being uploaded.
        put_url:
          type: string
          description: A signed URL for uploading the file part. It expires in 10 minutes.
    Document_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Document'
    Document:
      allOf:
      - $ref: '#/components/schemas/Document_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    ExternalProperty_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ExternalProperty*
        etag:
          type: string
          description: ETag for the *ExternalProperty*
        name:
          type: string
          description: The name of the *ExternalProperty*
        value:
          type: string
          description: The value of the *ExternalProperty*
        created_at:
          type: string
          format: date-time
          description: The time the *ExternalProperty* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ExternalProperty* was last updated (as a ISO-8601 timestamp)
    MultipartHeader_base:
      type: object
      properties:
        name:
          type: string
          description: Required HTTP header field name for uploading.
        value:
          type: string
          description: Required HTTP header field value for uploading.
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    ClioCreator_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *ClioCreator* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *ClioCreator* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *ClioCreator* is a default attendee for court rules events
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *ClioCreator*.
        email:
          type: string
          description: The email of the *ClioCreator*
        enabled:
          type: boolean
          description: Whether the *ClioCreator* is allowed to log in
        etag:
          type: string
          description: ETag for the *ClioCreator*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ClioCreator*
        type:
          type: string
          enum:
          - ManageUser
          - ClientUser
          description: The type of the *ClioCreator*
        initials:
          type: string
          description: The initials of the *ClioCreator*
        first_name:
          type: string
          description: The first name of the *ClioCreator*
        last_name:
          type: string
          description: The last name of the *ClioCreator*
        name:
          type: string
          description: The full name of the *ClioCreator*
        phone_number:
          type: string
          description: The primary phone number for the *ClioCreator*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *ClioCreator*.
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *ClioCreator*
        time_zone:
          type: string
          description: The selected time zone of the *ClioCreator*
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *ClioCreator*
        created_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was last updated (as a ISO-8601 timestamp)
    Group_base:
      type: object
      properties:
        client_connect_user:
          type: boolean
          description: Whether or not the Group is a UserGroup for a Clio Connect User
        etag:
          type: string
          description: ETag for the *Group*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Group*
        name:
          type: string
          description: The name of the *Group*
        type:
          type: string
          enum:
          - UserGroup
          - AdhocGroup
          - AccountGroup
          - TeamGroup
          description: The type of the *Group*
        updated_at:
          type: string
          format: date-time
          description: The time the *Group* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    DocumentVersion_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentVersion*
        document_id:
          type: integer
          format: int64
          description: The ID of the parent document.
        etag:
          type: string
          description: ETag for the *DocumentVersion*
        uuid:
          type: string
          description: UUID associated with the DocumentVersion. UUID is required to mark a document fully uploaded.
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was last updated (as a ISO-8601 timestamp)
        filename:
          type: string
          description: The uploaded file name of the DocumentVersion.
        size:
          type: integer
          format: int32
          description: The size of the DocumentVersion in bytes.
        version_number:
          type: integer
          format: int32
          description: The ordered number of when this DocumentVersion was uploaded.
        content_type:
          type: string
          description: A standard MIME type describing the format of the object data.
        received_at:
          type: string
          format: date-time
          description: The time the DocumentVersion was received (as an ISO-8601 timestamp)
        put_url:
          type: string
          description: A signed URL for uploading the file in a single operation. It expires in 10 minutes. If the document is fully uploaded, the field is empty.
        fully_uploaded:
          type: boolean
          description: True if the DocumentVersion is uploaded. False if the DocumentVersion is being uploaded.
    DocumentVersion:
      allOf:
      - $ref: '#/components/schemas/DocumentVersion_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          put_headers:
            type: array
            items:
              $ref: '#/components/schemas/MultipartHeader_base'
            description: MultipartHeader
          multiparts:
            type: array
            items:
              $ref: '#/components/schemas/Multipart'
            description: Multipart
    LinkedFolder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Folder*
        etag:
          type: string
          description: ETag for the *Folder*
        created_at:
          type: string
          format: date-time
          description: The time the *Folder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Folder* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Folder* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Folder
          description: The type of the *Folder*
        locked:
          type: boolean
          description: Whether or not the Folder is locked. Locked Folder cannot be modified
        name:
          type: string
          description: The name of the *Folder*
        root:
          type: boolean
          description: Whether or not the Folder is the root folder. There is only one root folder per account
    Multipart:
      allOf:
      - $ref: '#/components/schemas/Multipart_base'
      - type: object
        properties:
          put_headers:
            type: array
            items:
              $ref: '#/components/schemas/MultipartHeader_base'
            description: MultipartHeader
    Document_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Document List Response
          items:
            $ref: '#/components/schemas/Document'
    DocumentCategory_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentCategory*
        etag:
          type: string
          description: ETag for the *DocumentCategory*
        name:
          type: string
          description: The name of the *DocumentCategory*
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was last updated (as a ISO-8601 timestamp)
    Document_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Document*
        etag:
          type: string
          description: ETag for the *Document*
        created_at:
          type: string
          format: date-time
          description: The time the *Document* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Document* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Document* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Document
          description: The type of the *Document*
        locked:
          type: boolean
          description: Whether or not the Document is locked. Locked Document cannot be modified
        name:
          type: string
          description: The name of the Document
        received_at:
          type: string
          format: date-time
          description: The time the last document version was received (as an ISO-8601 timestamp)
        filename:
          type: string
          description: The uploaded file name of the latest document version.
        size:
          type: integer
          format: int32
          description: The file size
        content_type:
          type: string
          description: The uploaded file content type
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
