openapi: 3.2.0
info:
  title: Clio API Documentation Calendar Entry Event Types API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Calendar Entry Event Types
  description: ''
paths:
  /calendar_entry_event_types.json:
    get:
      tags:
      - Calendar Entry Event Types
      summary: Return the data for all calendar entry event types
      operationId: CalendarEntryEventType#index
      description: Outlines the parameters, optional and required, used when requesting the data for all CalendarEntryEventTypes
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter CalendarEntryEventType records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter CalendarEntryEventType records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of CalendarEntryEventType records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter CalendarEntryEventType records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarEntryEventType'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Calendar Entry Event Types
      summary: Create a new calendar entry event type
      operationId: CalendarEntryEventType#create
      description: Outlines the parameters and data fields used when creating a new CalendarEntryEventType
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarEntryEventType'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Calendar Entry Event Types
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
                  required:
                  - color
                  - name
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
                  required:
                  - color
                  - name
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
                  required:
                  - color
                  - name
        required: false
  /calendar_entry_event_types/{id}.json:
    get:
      tags:
      - Calendar Entry Event Types
      summary: Return the data for a single calendar entry event type
      operationId: CalendarEntryEventType#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single CalendarEntryEventType
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CalendarEntryEventType.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarEntryEventType'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Calendar Entry Event Types
      summary: Update a single calendar entry event type
      operationId: CalendarEntryEventType#update
      description: Outlines the parameters and data fields used when updating a single CalendarEntryEventType
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CalendarEntryEventType.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CalendarEntryEventType'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Calendar Entry Event Types
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: The color assigned to the CalendarEntryEventType
                    name:
                      type: string
                      description: The name of the CalendarEntryEventType
        required: false
    delete:
      tags:
      - Calendar Entry Event Types
      summary: Delete a single calendar entry event type
      operationId: CalendarEntryEventType#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single CalendarEntryEventType
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the CalendarEntryEventType.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CalendarEntryEventType:
      allOf:
      - $ref: '#/components/schemas/CalendarEntryEventType_base'
      - type: object
        properties: {}
    CalendarEntryEventType_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *CalendarEntryEventType*
        etag:
          type: string
          description: ETag for the *CalendarEntryEventType*
        created_at:
          type: string
          format: date-time
          description: The time the *CalendarEntryEventType* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CalendarEntryEventType* was last updated (as a ISO-8601 timestamp)
        color:
          type: string
          enum:
          - '#367B9C'
          - '#FFA5A4'
          - '#83D17F'
          - '#FFAC7B'
          - '#8E3F64'
          - '#C75300'
          - '#009CEC'
          - '#62D6B1'
          - '#9EEDCB'
          - '#F9A2C4'
          - '#616161'
          - '#BBDA81'
          - '#DFD3F8'
          - '#D6C4A5'
          - '#FFD478'
          - '#6AC9DE'
          - '#EABBB0'
          - '#BFC2E1'
          - '#DADADA'
          - '#CDE2F5'
          description: The color describing the *CalendarEntryEventType*
        name:
          type: string
          description: The name for the *CalendarEntryEventType*
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
