openapi: 3.2.0
info:
  title: Clio API Documentation Calendars API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Calendars
  description: 'Calendars contain Calendar Entries. All Clio accounts contain one firm Calendar ("AccountCalendar"), personal Calendars for each user ("UserCalendar"), and any number of manually created Calendars ("AdhocCalendar"). Calendar sharing settings determine if a Calendar is visible to a User, and if that User is able to create or edit Calendar Entries on that Calendar.


    Support Link'
paths:
  /calendars.json:
    get:
      tags:
      - Calendars
      summary: Return the data for all Calendars
      operationId: Calendar#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Calendars
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter Calendar records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: filter_inactive_users
        in: query
        description: Filter any shared UserCalendar records whose owner is inactive.
        required: false
        schema:
          type: boolean
      - name: ids[]
        in: query
        description: Filter Calendar records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Calendar records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the Calendar records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - name(asc)
          - name(desc)
          - id(asc)
          - id(desc)
      - name: owner
        in: query
        description: Filter Calendar records to those that the user owns.
        required: false
        schema:
          type: boolean
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: Filter Calendar records to those having a specific calendar visibility source (mobile, web).
        required: false
        schema:
          type: string
          enum:
          - web
          - mobile
      - name: type
        in: query
        description: Filter Calendar records to those of the specified type.
        required: false
        schema:
          type: string
          enum:
          - AccountCalendar
          - AdhocCalendar
          - UserCalendar
      - name: updated_since
        in: query
        description: Filter Calendar records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: visible
        in: query
        description: Filter Calendar records to those that are visible.
        required: false
        schema:
          type: boolean
      - name: writeable
        in: query
        description: Filter Calendar records to those which the user can write to.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Calendar_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Calendars
      summary: Create a new Calendar
      operationId: Calendar#create
      description: Outlines the parameters and data fields used when creating a new Calendar
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Calendar_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Calendars
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
                  required:
                  - name
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
                  required:
                  - name
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
                  required:
                  - name
        required: false
  /calendars/{id}.json:
    get:
      tags:
      - Calendars
      summary: Return the data for a single Calendar
      operationId: Calendar#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Calendar
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Calendar.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Calendar_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Calendars
      summary: Update a single Calendar
      operationId: Calendar#update
      description: Outlines the parameters and data fields used when updating a single Calendar
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Calendar.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Calendar_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Calendars
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    color:
                      type: string
                      enum:
                      - '#367B9C'
                      - '#FFA5A4'
                      - '#83D17F'
                      - '#FFAC7B'
                      - '#8E3F64'
                      - '#C75300'
                      - '#009CEC'
                      - '#62D6B1'
                      - '#9EEDCB'
                      - '#F9A2C4'
                      - '#616161'
                      - '#BBDA81'
                      - '#DFD3F8'
                      - '#D6C4A5'
                      - '#FFD478'
                      - '#6AC9DE'
                      - '#EABBB0'
                      - '#BFC2E1'
                      - '#DADADA'
                      - '#CDE2F5'
                      description: Calendar color as seen in the Clio Web UI.
                    name:
                      type: string
                      description: Calendar name.
                    source:
                      type: string
                      enum:
                      - web
                      - mobile
                      description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
                    visible:
                      type: boolean
                      description: Whether or not the Calendar should be visible by default in the Clio Web UI (assuming no source is provided).
        required: false
    delete:
      tags:
      - Calendars
      summary: Delete a single Calendar
      operationId: Calendar#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single Calendar
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Calendar.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    User_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *User* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *User* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *User* is a default attendee for court rules events
        created_at:
          type: string
          format: date-time
          description: The time the *User* was created (as a ISO-8601 timestamp)
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *User*.
        email:
          type: string
          description: The email of the *User*
        enabled:
          type: boolean
          description: Whether the *User* is allowed to log in
        etag:
          type: string
          description: ETag for the *User*
        first_name:
          type: string
          description: The first name of the *User*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *User*
        initials:
          type: string
          description: The initials of the *User*
        last_name:
          type: string
          description: The last name of the *User*
        name:
          type: string
          description: The full name of the *User*
        phone_number:
          type: string
          description: The primary phone number for the *User*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *User*.
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *User*
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *User*
        time_zone:
          type: string
          description: The selected time zone of the *User*
        updated_at:
          type: string
          format: date-time
          description: The time the *User* was last updated (as a ISO-8601 timestamp)
    Calendar_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Calendar List Response
          items:
            $ref: '#/components/schemas/Calendar'
    Calendar:
      allOf:
      - $ref: '#/components/schemas/Calendar_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/User_base'
            description: User
    Calendar_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Calendar'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    Calendar_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Calendar*
        etag:
          type: string
          description: ETag for the *Calendar*
        color:
          type: string
          enum:
          - '#367B9C'
          - '#FFA5A4'
          - '#83D17F'
          - '#FFAC7B'
          - '#8E3F64'
          - '#C75300'
          - '#009CEC'
          - '#62D6B1'
          - '#9EEDCB'
          - '#F9A2C4'
          - '#616161'
          - '#BBDA81'
          - '#DFD3F8'
          - '#D6C4A5'
          - '#FFD478'
          - '#6AC9DE'
          - '#EABBB0'
          - '#BFC2E1'
          - '#DADADA'
          - '#CDE2F5'
          description: Color
        light_color:
          type: string
          enum:
          - '#5DA5C7'
          - '#F95957'
          - '#209412'
          - '#FF7715'
          - '#DE649D'
          - '#FF6B02'
          - '#56C4FC'
          - '#00B177'
          - '#50D19B'
          - '#F14A8C'
          - '#A3A2A2'
          - '#84AB3B'
          - '#B091EE'
          - '#BD9E69'
          - '#F2A000'
          - '#00A5CA'
          - '#CB5A3D'
          - '#959CD0'
          - '#B0B0B0'
          - '#7BA6CD'
          description: Accent color to complement the main calendar color.
        court_rules_default_calendar:
          type: boolean
          description: Whether the calendar is default court rules calendar for current user
        name:
          type: string
          description: The name of the *Calendar*
        permission:
          type: string
          enum:
          - owner
          - editor
          - viewer
          - limited_viewer
          - none
          description: The user's permission to the *Calendar*
        type:
          type: string
          enum:
          - AccountCalendar
          - AdhocCalendar
          - UserCalendar
          description: The type of the *Calendar*
        visible:
          type: boolean
          description: Whether the *Calendar* will be shown by default in the Clio Web UI (assuming no source is provided).
        created_at:
          type: string
          format: date-time
          description: The time the *Calendar* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Calendar* was last updated (as a ISO-8601 timestamp)
        source:
          type: string
          enum:
          - web
          - mobile
          description: The source that visible applies to, by default the Clio Web UI (Expects 'mobile' or 'web').
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
