openapi: 3.0.0
info:
  title: Clio API Documentation Activities Contacts API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Contacts
  description: "All clients, prospective clients, companies, and external co-counsels can be viewed as Contacts under the Contacts tab in Clio Manage.\n\n[Support Link](https://help.clio.com/hc/en-us/articles/9290486281627-Clio-Manage-Contacts-Overview)\n\n## Contact Name\nWhen creating a contact of type \"Person\" you must provide at least a first name or a last name. This can be done in one of two ways:\n\n1. Providing the name components explicitly (preferred): Using the `first_name` and `last_name` parameters.\n2. Providing the full name (discouraged): Using the `name` parameter, you can provide the person's full name (e.g. \"John Smith\") and Clio will attempt to infer the individual components of the name. If it is unable to do so, you will receive a \"422 Unprocessable Entity: At least one of first name or last name must be provided\" Error.\n\n**We recommend using the individual name fields when possible to avoid any ambiguities.**\n\n## Associations\nA Contact can be persisted with its associations in a single request. The followings detail the nested attributes to persist the associations.\n\n### Addresses\nCheckout the sample request to update the Addresses of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      addresses: [\n        // update\n        { id: 1, name: \"Work\", country: \"Canada\" },\n        // create\n        { name: \"Home\", street: \"1234 Main Street\", city: \"Burnaby\", province: \"BC\", country: \"Canada\", postal_code: \"V1A 1A1\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n### Custom Field Values\nA CustomFieldValue contains the value of a CustomField for a Contact.\nBelow are some examples of how to create, read, update, and destroy the CustomFieldValues of a Contact:\n#### Create\nNote: The value of `id` used here is the value of the `id` parameter in the response received when [creating a new CustomField](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Custom-Fields/operation/CustomField#create) or one returned in a [query of an existing CustomField](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Custom-Fields/operation/CustomField#show).\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n        { custom_field: { id: 2 }, value: \"Initial value\" }\n      ]\n    }\n  }\n```\n#### Read\nNote: The `id` of the CustomFieldValue is a composite value including the custom field type. Use this `id` to update and destroy the CustomFieldValue.\nThe `id` of the associated Custom Field can be found by querying the `custom_field` for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\nNote: The `id` may be `NULL` when the CustomField is displayed by default but has not yet been given a value.\n```json\nRequest\n  GET /api/v4/contacts/1.json?fields=custom_field_values{id,value,custom_field}\n  {\n    data: {\n      custom_field_values: [\n        {\n          id: \"text_line-1\",\n          value: \"Current value\",\n          custom_field: { id: 2 }\n        }\n      ]\n    }\n  }\n```\n#### Update\nNote: The value of the CustomFieldValue `id` used here is a composite value and can be found by querying for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value,custom_field}`\n\nNote: If the `id` is `NULL`, you must provide `custom_field{id}` to create the CustomFieldValue and assign a value (see **Create**).\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n        { id: \"text_line-1\", value: \"Updated value\" }\n      ]\n    }\n  }\n```\n#### Destroy\nNote: The value of the CustomFieldValue `id` used here is a composite value and can be found by querying for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value}`\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n        { id: \"picklist-2\", _destroy: true }\n      ]\n    }\n  }\n```\n\n### Email Addresses\nCheckout the sample request to update the Email Addresses of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      email_addresses: [\n        // update\n        { id: 1, name: \"Work\", address: \"demo@clio.com\" },\n        // create\n        { name: \"Home\", address: \"home@clio.com\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n### Instant Messengers\nCheckout the sample request to update the Instant Messengers of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      instant_messengers: [\n        // update\n        { id: 1, name: \"Work\", address: \"https://twitter.com/goclio\" },\n        // create\n        { name: \"Other\", address: \"https://www.facebook.com/GoClio/\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n### Phone Numbers\nCheckout the sample request to update the Phone Numbers of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      phone_numbers: [\n        // update\n        { id: 1, name: \"Work\", number: \"123-456-7890\" },\n        // create\n        { name: \"Other\", number: \"000-000-0000\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n### Web Site\nCheckout the sample request to update the Web Site of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      web_sites: [\n        // update\n        { id: 1, name: \"Work\", address: \"https://help.clio.com/\" },\n        // create\n        { name: \"Other\", address: \"https://www.clio.com/about/careers/\" },\n        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n"
paths:
  /contacts.json:
    get:
      tags:
      - Contacts
      summary: Return the data for all Contacts
      operationId: Contact#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Contacts
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: client_only
        in: query
        description: Filter Contact records to those that are clients.
        required: false
        schema:
          type: boolean
      - name: clio_connect_only
        in: query
        description: Filter Contact records to those that are Clio Connect users.
        required: false
        schema:
          type: boolean
      - name: created_since
        in: query
        description: Filter Contact records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: custom_field_ids[]
        in: query
        description: Filter Contact's custom_field_values to only include values for the given custom field unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: custom_field_values
        in: query
        description: 'Filter records to only those with the given custom field(s) set. The value is compared using the operator provided, or,

          if the value type only supports one operator, the supported operator is used. In the latter case, no check for operator is performed on the input string.

          The key for the custom field value filter is the custom_field.id. e.g. `custom_field_values[12345]`

          If an operator is used for a type that does not support it, an `400 Bad Request` is returned.


          *Supported operators:*

          * `checkbox`, `contact`, `matter`, `picklist` : `=`


          e.g. `?custom_field_values[1]=42`


          * `currency`, `date`, `time`, `numeric` : `=`, `<`, `>`, `<=`, `>=`


          e.g. `?custom_field_values[1]=>=105.4`


          * `email`, `text_area`, `text_line`, `url` : `=`


          e.g. `?custom_field_values[1]=url_encoded`


          *Multiple conditions for the same custom field:*


          If you want to use more than one operator to filter a custom field, you can do so by passing in an array of values.

          e.g. `?custom_field_values[1]=[<=50, >=45]`

          '
        required: false
        schema:
          type: string
          enum:
          - '='
          - <
          - '>'
          - <=
          - '>='
      - name: email_only
        in: query
        description: Filter Contact records to those that have email addresses.
        required: false
        schema:
          type: boolean
      - name: exclude_ids[]
        in: query
        description: Filter Contact records to those who are not included in the given list of unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Contact records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: initial
        in: query
        description: Filter Contact records to those where the last name or company name start with the given initial.
        required: false
        schema:
          type: string
          enum:
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
          - I
          - J
          - K
          - L
          - M
          - N
          - O
          - P
          - Q
          - R
          - S
          - T
          - U
          - V
          - W
          - X
          - Y
          - Z
      - name: limit
        in: query
        description: 'A limit on the number of Contact records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the Contact records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - shared_at(asc)
          - shared_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: 'Wildcard search for name, title, email address, address, phone number, web site, instant messenger address,

          custom fields, related matter name, or company name matching a given string.

          '
        required: false
        schema:
          type: string
      - name: shared_resource_id
        in: query
        description: Filter Contact records to those that currently have access to a given shared resource.
        required: false
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        description: Filter Contact records to those that match the given type.
        required: false
        schema:
          type: string
          enum:
          - Company
          - Person
      - name: updated_since
        in: query
        description: Filter Contact records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Contact_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Contacts
      summary: Create a new Contact
      operationId: Contact#create
      description: Outlines the parameters and data fields used when creating a new Contact
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: custom_field_ids[]
        in: query
        description: Filter Contact's custom_field_values to only include values for the given custom field unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Contact_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Contacts
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - custom_field_set
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - value
                        - custom_field
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Other
                            description: Name of the InstantMessenger.
                          address:
                            type: string
                            description: Address of the InstantMessenger.
                    kyc_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          field_name:
                            type: string
                            description: The name of the KYC/KYB field. KYC/KYB fields are available for eligible accounts in Australia, Canada, Channel Islands, Ireland, Isle of Man, New Zealand, and United Kingdom.
                          field_type:
                            type: string
                            enum:
                            - date
                            - text
                            - picklist
                            description: 'The type of the KYC/KYB field. Must be one of: date, text, picklist.'
                          field_value:
                            type: string
                            description: The value of the KYC/KYB field.
                        required:
                        - field_name
                        - field_type
                        - field_value
                    last_name:
                      type: string
                      description: Last name of the Contact.
                    ledes_client_id:
                      type: string
                      description: LEDES client id of the Contact.
                    middle_name:
                      type: string
                      description: Middle name of the Contact.
                    name:
                      type: string
                      description: Full name of the Contact. For requirements, see [Contact Name](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Contacts/Contact-Name).
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Mobile
                            - Fax
                            - Pager
                            - Skype
                            - Other
                            description: Name of the PhoneNumber.
                          number:
                            type: string
                            description: Phone number.
                          default_number:
                            type: boolean
                            description: Whether or not the PhoneNumber should be the default number for the Contact.
                    prefix:
                      type: string
                      description: Personal title of the Contact.
                    sales_tax_number:
                      type: string
                      description: A contact's sales tax number will appear on invoices generated for the Contact.
                    title:
                      type: string
                      description: Professional title of the Contact.
                    type:
                      type: string
                      enum:
                      - Person
                      - Company
                      description: Type of the Contact.
                    web_sites:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Twitter
                            - Facebook
                            - LinkedIn
                            - Instant Messenger
                            - Other
                            description: Name of the WebSite.
                          address:
                            type: string
                            description: URL of the WebSite.
                          default_web_site:
                            type: boolean
                            description: Whether or not the Contact should be the default website for the Contact.
                  required:
                  - name
                  - type
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - custom_field_set
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - value
                        - custom_field
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Other
                            description: Name of the InstantMessenger.
                          address:
                            type: string
                            description: Address of the InstantMessenger.
                    kyc_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          field_name:
                            type: string
                            description: The name of the KYC/KYB field. KYC/KYB fields are available for eligible accounts in Australia, Canada, Channel Islands, Ireland, Isle of Man, New Zealand, and United Kingdom.
                          field_type:
                            type: string
                            enum:
                            - date
                            - text
                            - picklist
                            description: 'The type of the KYC/KYB field. Must be one of: date, text, picklist.'
                          field_value:
                            type: string
                            description: The value of the KYC/KYB field.
                        required:
                        - field_name
                        - field_type
                        - field_value
                    last_name:
                      type: string
                      description: Last name of the Contact.
                    ledes_client_id:
                      type: string
                      description: LEDES client id of the Contact.
                    middle_name:
                      type: string
                      description: Middle name of the Contact.
                    name:
                      type: string
                      description: Full name of the Contact. For requirements, see [Contact Name](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Contacts/Contact-Name).
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Mobile
                            - Fax
                            - Pager
                            - Skype
                            - Other
                            description: Name of the PhoneNumber.
                          number:
                            type: string
                            description: Phone number.
                          default_number:
                            type: boolean
                            description: Whether or not the PhoneNumber should be the default number for the Contact.
                    prefix:
                      type: string
                      description: Personal title of the Contact.
                    sales_tax_number:
                      type: string
                      description: A contact's sales tax number will appear on invoices generated for the Contact.
                    title:
                      type: string
                      description: Professional title of the Contact.
                    type:
                      type: string
                      enum:
                      - Person
                      - Company
                      description: Type of the Contact.
                    web_sites:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Twitter
                            - Facebook
                            - LinkedIn
                            - Instant Messenger
                            - Other
                            description: Name of the WebSite.
                          address:
                            type: string
                            description: URL of the WebSite.
                          default_web_site:
                            type: boolean
                            description: Whether or not the Contact should be the default website for the Contact.
                  required:
                  - name
                  - type
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - custom_field_set
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                            required:
                            - id
                        required:
                        - value
                        - custom_field
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Other
                            description: Name of the InstantMessenger.
                          address:
                            type: string
                            description: Address of the InstantMessenger.
                    kyc_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          field_name:
                            type: string
                            description: The name of the KYC/KYB field. KYC/KYB fields are available for eligible accounts in Australia, Canada, Channel Islands, Ireland, Isle of Man, New Zealand, and United Kingdom.
                          field_type:
                            type: string
                            enum:
                            - date
                            - text
                            - picklist
                            description: 'The type of the KYC/KYB field. Must be one of: date, text, picklist.'
                          field_value:
                            type: string
                            description: The value of the KYC/KYB field.
                        required:
                        - field_name
                        - field_type
                        - field_value
                    last_name:
                      type: string
                      description: Last name of the Contact.
                    ledes_client_id:
                      type: string
                      description: LEDES client id of the Contact.
                    middle_name:
                      type: string
                      description: Middle name of the Contact.
                    name:
                      type: string
                      description: Full name of the Contact. For requirements, see [Contact Name](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Contacts/Contact-Name).
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Mobile
                            - Fax
                            - Pager
                            - Skype
                            - Other
                            description: Name of the PhoneNumber.
                          number:
                            type: string
                            description: Phone number.
                          default_number:
                            type: boolean
                            description: Whether or not the PhoneNumber should be the default number for the Contact.
                    prefix:
                      type: string
                      description: Personal title of the Contact.
                    sales_tax_number:
                      type: string
                      description: A contact's sales tax number will appear on invoices generated for the Contact.
                    title:
                      type: string
                      description: Professional title of the Contact.
                    type:
                      type: string
                      enum:
                      - Person
                      - Company
                      description: Type of the Contact.
                    web_sites:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Twitter
                            - Facebook
                            - LinkedIn
                            - Instant Messenger
                            - Other
                            description: Name of the WebSite.
                          address:
                            type: string
                            description: URL of the WebSite.
                          default_web_site:
                            type: boolean
                            description: Whether or not the Contact should be the default website for the Contact.
                  required:
                  - name
                  - type
        required: false
  /contacts/{id}.json:
    get:
      tags:
      - Contacts
      summary: Return the data for a single Contact
      operationId: Contact#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Contact
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: custom_field_ids[]
        in: query
        description: Filter Contact's custom_field_values to only include values for the given custom field unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Contact.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Contact_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Contacts
      summary: Update a single Contact
      operationId: Contact#update
      description: Outlines the parameters and data fields used when updating a single Contact
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: custom_field_ids[]
        in: query
        description: Filter Contact's custom_field_values to only include values for the given custom field unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Contact.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Contact_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Contacts
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Address associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Address is present, the Address is deleted from the Contact.
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldSetAssociation associated with the Contact. The keyword `null` is not valid for this field.
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldSetAssociation is present, the CustomFieldSetAssociation is deleted from the Contact.
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldValue associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldValue is present, the CustomFieldValue is deleted from the Contact.
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single EmailAddress associated with the Contact. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated EmailAddress is present, the EmailAddress is deleted from the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Other
                            description: Name of the InstantMessenger.
                          address:
                            type: string
                            description: Address of the InstantMessenger.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single InstantMessenger associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated InstantMessenger is present, the InstantMessenger is deleted from the Contact.
                    kyc_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single KycFieldValue associated with the Contact. The keyword `null` is not valid for this field.
                          field_name:
                            type: string
                            description: The name of the KYC/KYB field. KYC/KYB fields are available for eligible accounts in Australia, Canada, Channel Islands, Ireland, Isle of Man, New Zealand, and United Kingdom.
                          field_type:
                            type: string
                            enum:
                            - date
                            - text
                            - picklist
                            description: 'The type of the KYC/KYB field. Must be one of: date, text, picklist.'
                          field_value:
                            type: string
                            description: The value of the KYC/KYB field.
                    last_name:
                      type: string
                      description: Last name of the Contact.
                    ledes_client_id:
                      type: string
                      description: LEDES client id of the Contact.
                    middle_name:
                      type: string
                      description: Middle name of the Contact.
                    name:
                      type: string
                      description: Full name of the Contact. For requirements, see [Contact Name](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Contacts/Contact-Name).
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Mobile
                            - Fax
                            - Pager
                            - Skype
                            - Other
                            description: Name of the PhoneNumber.
                          number:
                            type: string
                            description: Phone number.
                          default_number:
                            type: boolean
                            description: Whether or not the PhoneNumber should be the default number for the Contact.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single PhoneNumber associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated PhoneNumber is present, the PhoneNumber is deleted from the Contact.
                    prefix:
                      type: string
                      description: Personal title of the Contact.
                    sales_tax_number:
                      type: string
                      description: A contact's sales tax number will appear on invoices generated for the Contact.
                    title:
                      type: string
                      description: Professional title of the Contact.
                    type:
                      type: string
                      enum:
                      - Person
                      - Company
                      description: Type of the Contact.
                    web_sites:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Twitter
                            - Facebook
                            - LinkedIn
                            - Instant Messenger
                            - Other
                            description: Name of the WebSite.
                          address:
                            type: string
                            description: URL of the WebSite.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single WebSite associated with the Contact. The keyword `null` is not valid for this field.
                          default_web_site:
                            type: boolean
                            description: Whether or not the Contact should be the default website for the Contact.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated WebSite is present, the WebSite is deleted from the Contact.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Address associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Address is present, the Address is deleted from the Contact.
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldSetAssociation associated with the Contact. The keyword `null` is not valid for this field.
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldSetAssociation is present, the CustomFieldSetAssociation is deleted from the Contact.
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldValue associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldValue is present, the CustomFieldValue is deleted from the Contact.
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single EmailAddress associated with the Contact. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated EmailAddress is present, the EmailAddress is deleted from the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Other
                            description: Name of the InstantMessenger.
                          address:
                            type: string
                            description: Address of the InstantMessenger.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single InstantMessenger associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated InstantMessenger is present, the InstantMessenger is deleted from the Contact.
                    kyc_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single KycFieldValue associated with the Contact. The keyword `null` is not valid for this field.
                          field_name:
                            type: string
                            description: The name of the KYC/KYB field. KYC/KYB fields are available for eligible accounts in Australia, Canada, Channel Islands, Ireland, Isle of Man, New Zealand, and United Kingdom.
                          field_type:
                            type: string
                            enum:
                            - date
                            - text
                            - picklist
                            description: 'The type of the KYC/KYB field. Must be one of: date, text, picklist.'
                          field_value:
                            type: string
                            description: The value of the KYC/KYB field.
                    last_name:
                      type: string
                      description: Last name of the Contact.
                    ledes_client_id:
                      type: string
                      description: LEDES client id of the Contact.
                    middle_name:
                      type: string
                      description: Middle name of the Contact.
                    name:
                      type: string
                      description: Full name of the Contact. For requirements, see [Contact Name](https://docs.developers.clio.com/clio-manage/api-reference/#tag/Contacts/Contact-Name).
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Mobile
                            - Fax
                            - Pager
                            - Skype
                            - Other
                            description: Name of the PhoneNumber.
                          number:
                            type: string
                            description: Phone number.
                          default_number:
                            type: boolean
                            description: Whether or not the PhoneNumber should be the default number for the Contact.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single PhoneNumber associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated PhoneNumber is present, the PhoneNumber is deleted from the Contact.
                    prefix:
                      type: string
                      description: Personal title of the Contact.
                    sales_tax_number:
                      type: string
                      description: A contact's sales tax number will appear on invoices generated for the Contact.
                    title:
                      type: string
                      description: Professional title of the Contact.
                    type:
                      type: string
                      enum:
                      - Person
                      - Company
                      description: Type of the Contact.
                    web_sites:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Personal
                            - Twitter
                            - Facebook
                            - LinkedIn
                            - Instant Messenger
                            - Other
                            description: Name of the WebSite.
                          address:
                            type: string
                            description: URL of the WebSite.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single WebSite associated with the Contact. The keyword `null` is not valid for this field.
                          default_web_site:
                            type: boolean
                            description: Whether or not the Contact should be the default website for the Contact.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated WebSite is present, the WebSite is deleted from the Contact.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Billing
                            - Other
                            description: Name of the Address.
                          street:
                            type: string
                            description: Street.
                          city:
                            type: string
                            description: City.
                          province:
                            type: string
                            description: Province or state.
                          postal_code:
                            type: string
                            description: Postal code or zip code.
                          country:
                            type: string
                            description: Country
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Address associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Address is present, the Address is deleted from the Contact.
                    avatar:
                      type: object
                      properties:
                        image:
                          type: string
                          description: The avatar image for the *Contact*, base64-encoded. Must be a valid GIF, JPG, or PNG image of less than 2 megabytes in size.
                        _destroy:
                          type: boolean
                          description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated Avatar is present, the Avatar is deleted from the Contact.
                    clio_connect_email:
                      type: string
                      description: Notifications will be sent to this email when a resource is shared.
                    co_counsel_rate:
                      type: object
                      properties:
                        rate:
                          type: number
                          format: double
                          description: 'Billing rate if the Contact is a co-counsel.


                            Note: this value can only be provided during PATCH requests. It cannot be provided at the time a Contact is created (i.e. POST requests).

                            '
                    company:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Company associated with the Contact. The keyword `null` is not valid for this field.
                    currency:
                      type: object
                      description: The Currency the contact is associated with.
                    custom_field_set_associations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldSetAssociation associated with the Contact. The keyword `null` is not valid for this field.
                          display_order:
                            type: integer
                            format: int32
                            description: The order to display the CustomFieldSet in a Contact. If not specified, it is added as the last CustomFieldSet of the Contact.
                          custom_field_set:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomFieldSet associated with the CustomFieldSetAssociation. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldSetAssociation is present, the CustomFieldSetAssociation is deleted from the Contact.
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the CustomFieldValue.
                          custom_field:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                                description: The unique identifier for a single CustomField associated with the CustomFieldValue. The keyword `null` is not valid for this field.
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single CustomFieldValue associated with the Contact. The keyword `null` is not valid for this field.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated CustomFieldValue is present, the CustomFieldValue is deleted from the Contact.
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the Contact.
                    email_addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single EmailAddress associated with the Contact. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            default: Other
                            enum:
                            - Work
                            - Home
                            - Other
                            description: Name of the EmailAddress.
                          address:
                            type: string
                            description: Email address.
                          default_email:
                            type: boolean
                            description: Whether or not the Contact should be the default email for the Contact.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated EmailAddress is present, the EmailAddress is deleted from the Contact.
                    first_name:
                      type: string
                      description: First name of the Contact.
                    instant_messengers:
                      type: array
                      items:
[...]
