openapi: 3.2.0
info:
  title: Clio API Documentation Medical Bills API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Medical Bills
  description: 'Medical Bills are a subset of Medical Records Details and can be used to keep track of documents, bill dates, and liens.


    Note that these endpoints only handle Updating and Destroying a record. Creating records should be handled in the Medical Records Details endpoint.'
paths:
  /medical_bills/{id}.json:
    patch:
      tags:
      - Medical Bills
      summary: Updating a Medical Bill
      operationId: MedicalBill#update
      description: Outlines the parameters and data fields used when updating a single Medical Bill
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Medical Bill.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicalBill_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Medical Bills
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    adjustment:
                      type: number
                      format: double
                      description: Adjustment
                    amount:
                      type: number
                      format: double
                      description: Amount
                    balance:
                      type: number
                      format: double
                      description: Balance
                    bill_date:
                      type: string
                      format: date
                      description: Bill Date (Expects an ISO-8601 date).
                    bill_received_date:
                      type: string
                      format: date
                      description: Bill Received Date (Expects an ISO-8601 date).
                    mark_balance_type_as:
                      type: string
                      enum:
                      - lien
                      - outstanding_balance
                      - neither
                      description: Mark balance as lien, outstanding balance, or neither
                    name:
                      type: string
                      description: Name
                    payers:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: number
                            format: double
                            description: Lien amount.
                          holder_id:
                            type: integer
                            format: int64
                            description: Lien holder ID
                          mark_as_lien:
                            type: boolean
                            description: Mark record as Lien.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    adjustment:
                      type: number
                      format: double
                      description: Adjustment
                    amount:
                      type: number
                      format: double
                      description: Amount
                    balance:
                      type: number
                      format: double
                      description: Balance
                    bill_date:
                      type: string
                      format: date
                      description: Bill Date (Expects an ISO-8601 date).
                    bill_received_date:
                      type: string
                      format: date
                      description: Bill Received Date (Expects an ISO-8601 date).
                    mark_balance_type_as:
                      type: string
                      enum:
                      - lien
                      - outstanding_balance
                      - neither
                      description: Mark balance as lien, outstanding balance, or neither
                    name:
                      type: string
                      description: Name
                    payers:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: number
                            format: double
                            description: Lien amount.
                          holder_id:
                            type: integer
                            format: int64
                            description: Lien holder ID
                          mark_as_lien:
                            type: boolean
                            description: Mark record as Lien.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    adjustment:
                      type: number
                      format: double
                      description: Adjustment
                    amount:
                      type: number
                      format: double
                      description: Amount
                    balance:
                      type: number
                      format: double
                      description: Balance
                    bill_date:
                      type: string
                      format: date
                      description: Bill Date (Expects an ISO-8601 date).
                    bill_received_date:
                      type: string
                      format: date
                      description: Bill Received Date (Expects an ISO-8601 date).
                    mark_balance_type_as:
                      type: string
                      enum:
                      - lien
                      - outstanding_balance
                      - neither
                      description: Mark balance as lien, outstanding balance, or neither
                    name:
                      type: string
                      description: Name
                    payers:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: number
                            format: double
                            description: Lien amount.
                          holder_id:
                            type: integer
                            format: int64
                            description: Lien holder ID
                          mark_as_lien:
                            type: boolean
                            description: Mark record as Lien.
        required: false
    delete:
      tags:
      - Medical Bills
      summary: Destroying a Medical Bill
      operationId: MedicalBill#destroy
      description: Outlines the parameters, optional and required, used when deleting the record for a single Medical Bill
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Medical Bill.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    MedicalBill_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/MedicalBill'
    Lien_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Lien*
        amount:
          type: number
          format: double
          description: The amount for Lien
        description:
          type: string
          description: Lien description
        etag:
          type: string
          description: ETag for the *Lien*
        lien_type:
          type: string
          enum:
          - general
          - medical_payer
          - medical_provider
          description: Lien type
        mark_as_lien:
          type: boolean
          description: Mark item as Lien
        created_at:
          type: string
          format: date-time
          description: The time the *Lien* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Lien* was last updated (as a ISO-8601 timestamp)
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    MedicalBill:
      allOf:
      - $ref: '#/components/schemas/MedicalBill_base'
      - type: object
        properties:
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          liens:
            type: array
            items:
              $ref: '#/components/schemas/Lien_base'
            description: Lien
    MedicalBill_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MedicalBill*
        adjustment:
          type: number
          format: double
          description: Adjustment for Medical Bill
        amount:
          type: number
          format: double
          description: Amount for Medical Bill
        bill_date:
          type: string
          format: date
          description: Bill date for Medical Bill (as a ISO-8601 date)
        bill_received_date:
          type: string
          format: date
          description: Bill received date for Medical Bill (as a ISO-8601 date)
        damage_type:
          type: string
          description: Damage Type
        document_id:
          type: integer
          format: int64
          description: The id of the document associated with the Medical Bill
        etag:
          type: string
          description: ETag for the *MedicalBill*
        name:
          type: string
          description: Name of the Medical Bill
        created_at:
          type: string
          format: date-time
          description: The time the *MedicalBill* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *MedicalBill* was last updated (as a ISO-8601 timestamp)
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
