openapi: 3.2.0
info:
  title: Clio API Documentation Report Schedules API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Report Schedules
  description: 'Schedule report generation for an existing Report Preset using Report Schedules. A Report Schedule will generate reports from the specified Preset''s report options on a daily, weekly or monthly basis. Once the report has been generated, users will be notified via email.


    Support Link'
paths:
  /report_schedules.json:
    get:
      tags:
      - Report Schedules
      summary: Return the data for all ReportSchedules
      operationId: ReportSchedule#index
      description: Outlines the parameters, optional and required, used when requesting the data for all ReportSchedules
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter ReportSchedule records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter ReportSchedule records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of ReportSchedule records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter ReportSchedule records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportSchedule_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Report Schedules
      summary: Create a new ReportSchedule
      operationId: ReportSchedule#create
      description: Outlines the parameters and data fields used when creating a new ReportSchedule
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportSchedule_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Report Schedules
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    day_of_month:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, which day of the month the Report Schedule should run. 32 is used to represent the last day of the month.
                    days_of_week:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: If the frequency is weekly, which days of the week the Report Schedule should run. Values are 0 to 6, representing Sunday to Saturday.
                    effective_from:
                      type: string
                      format: date
                      description: Date the Report Schedule should be enabled. (Expects an ISO-8601 date).
                    every_no_of_months:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, how many months between each run of the Report Schedule.
                    frequency:
                      type: string
                      enum:
                      - daily
                      - weekly
                      - monthly
                      description: How often to run the Report Schedule.
                    report_preset_id:
                      type: integer
                      format: int64
                      description: What Report Preset the Report Schedule should use to generate a report.
                    time_of_day:
                      type: string
                      format: date-time
                      description: What time the Report Schedule should run. Although the entire datetime is sent, only the time information is used.
                    time_zone:
                      type: string
                      enum:
                      - Africa/Abidjan
                      - Africa/Accra
                      - Africa/Addis_Ababa
                      - Africa/Algiers
                      - Africa/Asmara
                      - Africa/Asmera
                      - Africa/Bamako
                      - Africa/Bangui
                      - Africa/Banjul
                      - Africa/Bissau
                      - Africa/Blantyre
                      - Africa/Brazzaville
                      - Africa/Bujumbura
                      - Africa/Cairo
                      - Africa/Casablanca
                      - Africa/Ceuta
                      - Africa/Conakry
                      - Africa/Dakar
                      - Africa/Dar_es_Salaam
                      - Africa/Djibouti
                      - Africa/Douala
                      - Africa/El_Aaiun
                      - Africa/Freetown
                      - Africa/Gaborone
                      - Africa/Harare
                      - Africa/Johannesburg
                      - Africa/Juba
                      - Africa/Kampala
                      - Africa/Khartoum
                      - Africa/Kigali
                      - Africa/Kinshasa
                      - Africa/Lagos
                      - Africa/Libreville
                      - Africa/Lome
                      - Africa/Luanda
                      - Africa/Lubumbashi
                      - Africa/Lusaka
                      - Africa/Malabo
                      - Africa/Maputo
                      - Africa/Maseru
                      - Africa/Mbabane
                      - Africa/Mogadishu
                      - Africa/Monrovia
                      - Africa/Nairobi
                      - Africa/Ndjamena
                      - Africa/Niamey
                      - Africa/Nouakchott
                      - Africa/Ouagadougou
                      - Africa/Porto-Novo
                      - Africa/Sao_Tome
                      - Africa/Timbuktu
                      - Africa/Tripoli
                      - Africa/Tunis
                      - Africa/Windhoek
                      - America/Adak
                      - America/Anchorage
                      - America/Anguilla
                      - America/Antigua
                      - America/Araguaina
                      - America/Argentina/Buenos_Aires
                      - America/Argentina/Catamarca
                      - America/Argentina/ComodRivadavia
                      - America/Argentina/Cordoba
                      - America/Argentina/Jujuy
                      - America/Argentina/La_Rioja
                      - America/Argentina/Mendoza
                      - America/Argentina/Rio_Gallegos
                      - America/Argentina/Salta
                      - America/Argentina/San_Juan
                      - America/Argentina/San_Luis
                      - America/Argentina/Tucuman
                      - America/Argentina/Ushuaia
                      - America/Aruba
                      - America/Asuncion
                      - America/Atikokan
                      - America/Atka
                      - America/Bahia
                      - America/Bahia_Banderas
                      - America/Barbados
                      - America/Belem
                      - America/Belize
                      - America/Blanc-Sablon
                      - America/Boa_Vista
                      - America/Bogota
                      - America/Boise
                      - America/Buenos_Aires
                      - America/Cambridge_Bay
                      - America/Campo_Grande
                      - America/Cancun
                      - America/Caracas
                      - America/Catamarca
                      - America/Cayenne
                      - America/Cayman
                      - America/Chicago
                      - America/Chihuahua
                      - America/Ciudad_Juarez
                      - America/Coral_Harbour
                      - America/Cordoba
                      - America/Costa_Rica
                      - America/Coyhaique
                      - America/Creston
                      - America/Cuiaba
                      - America/Curacao
                      - America/Danmarkshavn
                      - America/Dawson
                      - America/Dawson_Creek
                      - America/Denver
                      - America/Detroit
                      - America/Dominica
                      - America/Edmonton
                      - America/Eirunepe
                      - America/El_Salvador
                      - America/Ensenada
                      - America/Fort_Nelson
                      - America/Fort_Wayne
                      - America/Fortaleza
                      - America/Glace_Bay
                      - America/Godthab
                      - America/Goose_Bay
                      - America/Grand_Turk
                      - America/Grenada
                      - America/Guadeloupe
                      - America/Guatemala
                      - America/Guayaquil
                      - America/Guyana
                      - America/Halifax
                      - America/Havana
                      - America/Hermosillo
                      - America/Indiana/Indianapolis
                      - America/Indiana/Knox
                      - America/Indiana/Marengo
                      - America/Indiana/Petersburg
                      - America/Indiana/Tell_City
                      - America/Indiana/Vevay
                      - America/Indiana/Vincennes
                      - America/Indiana/Winamac
                      - America/Indianapolis
                      - America/Inuvik
                      - America/Iqaluit
                      - America/Jamaica
                      - America/Jujuy
                      - America/Juneau
                      - America/Kentucky/Louisville
                      - America/Kentucky/Monticello
                      - America/Knox_IN
                      - America/Kralendijk
                      - America/La_Paz
                      - America/Lima
                      - America/Los_Angeles
                      - America/Louisville
                      - America/Lower_Princes
                      - America/Maceio
                      - America/Managua
                      - America/Manaus
                      - America/Marigot
                      - America/Martinique
                      - America/Matamoros
                      - America/Mazatlan
                      - America/Mendoza
                      - America/Menominee
                      - America/Merida
                      - America/Metlakatla
                      - America/Mexico_City
                      - America/Miquelon
                      - America/Moncton
                      - America/Monterrey
                      - America/Montevideo
                      - America/Montreal
                      - America/Montserrat
                      - America/Nassau
                      - America/New_York
                      - America/Nipigon
                      - America/Nome
                      - America/Noronha
                      - America/North_Dakota/Beulah
                      - America/North_Dakota/Center
                      - America/North_Dakota/New_Salem
                      - America/Nuuk
                      - America/Ojinaga
                      - America/Panama
                      - America/Pangnirtung
                      - America/Paramaribo
                      - America/Phoenix
                      - America/Port-au-Prince
                      - America/Port_of_Spain
                      - America/Porto_Acre
                      - America/Porto_Velho
                      - America/Puerto_Rico
                      - America/Punta_Arenas
                      - America/Rainy_River
                      - America/Rankin_Inlet
                      - America/Recife
                      - America/Regina
                      - America/Resolute
                      - America/Rio_Branco
                      - America/Rosario
                      - America/Santa_Isabel
                      - America/Santarem
                      - America/Santiago
                      - America/Santo_Domingo
                      - America/Sao_Paulo
                      - America/Scoresbysund
                      - America/Shiprock
                      - America/Sitka
                      - America/St_Barthelemy
                      - America/St_Johns
                      - America/St_Kitts
                      - America/St_Lucia
                      - America/St_Thomas
                      - America/St_Vincent
                      - America/Swift_Current
                      - America/Tegucigalpa
                      - America/Thule
                      - America/Thunder_Bay
                      - America/Tijuana
                      - America/Toronto
                      - America/Tortola
                      - America/Vancouver
                      - America/Virgin
                      - America/Whitehorse
                      - America/Winnipeg
                      - America/Yakutat
                      - America/Yellowknife
                      - Antarctica/Casey
                      - Antarctica/Davis
                      - Antarctica/DumontDUrville
                      - Antarctica/Macquarie
                      - Antarctica/Mawson
                      - Antarctica/McMurdo
                      - Antarctica/Palmer
                      - Antarctica/Rothera
                      - Antarctica/South_Pole
                      - Antarctica/Syowa
                      - Antarctica/Troll
                      - Antarctica/Vostok
                      - Arctic/Longyearbyen
                      - Asia/Aden
                      - Asia/Almaty
                      - Asia/Amman
                      - Asia/Anadyr
                      - Asia/Aqtau
                      - Asia/Aqtobe
                      - Asia/Ashgabat
                      - Asia/Ashkhabad
                      - Asia/Atyrau
                      - Asia/Baghdad
                      - Asia/Bahrain
                      - Asia/Baku
                      - Asia/Bangkok
                      - Asia/Barnaul
                      - Asia/Beirut
                      - Asia/Bishkek
                      - Asia/Brunei
                      - Asia/Calcutta
                      - Asia/Chita
                      - Asia/Choibalsan
                      - Asia/Chongqing
                      - Asia/Chungking
                      - Asia/Colombo
                      - Asia/Dacca
                      - Asia/Damascus
                      - Asia/Dhaka
                      - Asia/Dili
                      - Asia/Dubai
                      - Asia/Dushanbe
                      - Asia/Famagusta
                      - Asia/Gaza
                      - Asia/Harbin
                      - Asia/Hebron
                      - Asia/Ho_Chi_Minh
                      - Asia/Hong_Kong
                      - Asia/Hovd
                      - Asia/Irkutsk
                      - Asia/Istanbul
                      - Asia/Jakarta
                      - Asia/Jayapura
                      - Asia/Jerusalem
                      - Asia/Kabul
                      - Asia/Kamchatka
                      - Asia/Karachi
                      - Asia/Kashgar
                      - Asia/Kathmandu
                      - Asia/Katmandu
                      - Asia/Khandyga
                      - Asia/Kolkata
                      - Asia/Krasnoyarsk
                      - Asia/Kuala_Lumpur
                      - Asia/Kuching
                      - Asia/Kuwait
                      - Asia/Macao
                      - Asia/Macau
                      - Asia/Magadan
                      - Asia/Makassar
                      - Asia/Manila
                      - Asia/Muscat
                      - Asia/Nicosia
                      - Asia/Novokuznetsk
                      - Asia/Novosibirsk
                      - Asia/Omsk
                      - Asia/Oral
                      - Asia/Phnom_Penh
                      - Asia/Pontianak
                      - Asia/Pyongyang
                      - Asia/Qatar
                      - Asia/Qostanay
                      - Asia/Qyzylorda
                      - Asia/Rangoon
                      - Asia/Riyadh
                      - Asia/Saigon
                      - Asia/Sakhalin
                      - Asia/Samarkand
                      - Asia/Seoul
                      - Asia/Shanghai
                      - Asia/Singapore
                      - Asia/Srednekolymsk
                      - Asia/Taipei
                      - Asia/Tashkent
                      - Asia/Tbilisi
                      - Asia/Tehran
                      - Asia/Tel_Aviv
                      - Asia/Thimbu
                      - Asia/Thimphu
                      - Asia/Tokyo
                      - Asia/Tomsk
                      - Asia/Ujung_Pandang
                      - Asia/Ulaanbaatar
                      - Asia/Ulan_Bator
                      - Asia/Urumqi
                      - Asia/Ust-Nera
                      - Asia/Vientiane
                      - Asia/Vladivostok
                      - Asia/Yakutsk
                      - Asia/Yangon
                      - Asia/Yekaterinburg
                      - Asia/Yerevan
                      - Atlantic/Azores
                      - Atlantic/Bermuda
                      - Atlantic/Canary
                      - Atlantic/Cape_Verde
                      - Atlantic/Faeroe
                      - Atlantic/Faroe
                      - Atlantic/Jan_Mayen
                      - Atlantic/Madeira
                      - Atlantic/Reykjavik
                      - Atlantic/South_Georgia
                      - Atlantic/St_Helena
                      - Atlantic/Stanley
                      - Australia/ACT
                      - Australia/Adelaide
                      - Australia/Brisbane
                      - Australia/Broken_Hill
                      - Australia/Canberra
                      - Australia/Currie
                      - Australia/Darwin
                      - Australia/Eucla
                      - Australia/Hobart
                      - Australia/LHI
                      - Australia/Lindeman
                      - Australia/Lord_Howe
                      - Australia/Melbourne
                      - Australia/NSW
                      - Australia/North
                      - Australia/Perth
                      - Australia/Queensland
                      - Australia/South
                      - Australia/Sydney
                      - Australia/Tasmania
                      - Australia/Victoria
                      - Australia/West
                      - Australia/Yancowinna
                      - Brazil/Acre
                      - Brazil/DeNoronha
                      - Brazil/East
                      - Brazil/West
                      - CET
                      - CST6CDT
                      - Canada/Atlantic
                      - Canada/Central
                      - Canada/Eastern
                      - Canada/Mountain
                      - Canada/Newfoundland
                      - Canada/Pacific
                      - Canada/Saskatchewan
                      - Canada/Yukon
                      - Chile/Continental
                      - Chile/EasterIsland
                      - Cuba
                      - EET
                      - EST
                      - EST5EDT
                      - Egypt
                      - Eire
                      - Etc/GMT
                      - Etc/GMT+0
                      - Etc/GMT+1
                      - Etc/GMT+10
                      - Etc/GMT+11
                      - Etc/GMT+12
                      - Etc/GMT+2
                      - Etc/GMT+3
                      - Etc/GMT+4
                      - Etc/GMT+5
                      - Etc/GMT+6
                      - Etc/GMT+7
                      - Etc/GMT+8
                      - Etc/GMT+9
                      - Etc/GMT-0
                      - Etc/GMT-1
                      - Etc/GMT-10
                      - Etc/GMT-11
                      - Etc/GMT-12
                      - Etc/GMT-13
                      - Etc/GMT-14
                      - Etc/GMT-2
                      - Etc/GMT-3
                      - Etc/GMT-4
                      - Etc/GMT-5
                      - Etc/GMT-6
                      - Etc/GMT-7
                      - Etc/GMT-8
                      - Etc/GMT-9
                      - Etc/GMT0
                      - Etc/Greenwich
                      - Etc/UCT
                      - Etc/UTC
                      - Etc/Universal
                      - Etc/Zulu
                      - Europe/Amsterdam
                      - Europe/Andorra
                      - Europe/Astrakhan
                      - Europe/Athens
                      - Europe/Belfast
                      - Europe/Belgrade
                      - Europe/Berlin
                      - Europe/Bratislava
                      - Europe/Brussels
                      - Europe/Bucharest
                      - Europe/Budapest
                      - Europe/Busingen
                      - Europe/Chisinau
                      - Europe/Copenhagen
                      - Europe/Dublin
                      - Europe/Gibraltar
                      - Europe/Guernsey
                      - Europe/Helsinki
                      - Europe/Isle_of_Man
                      - Europe/Istanbul
                      - Europe/Jersey
                      - Europe/Kaliningrad
                      - Europe/Kiev
                      - Europe/Kirov
                      - Europe/Kyiv
                      - Europe/Lisbon
                      - Europe/Ljubljana
                      - Europe/London
                      - Europe/Luxembourg
                      - Europe/Madrid
                      - Europe/Malta
                      - Europe/Mariehamn
                      - Europe/Minsk
                      - Europe/Monaco
                      - Europe/Moscow
                      - Europe/Nicosia
                      - Europe/Oslo
                      - Europe/Paris
                      - Europe/Podgorica
                      - Europe/Prague
                      - Europe/Riga
                      - Europe/Rome
                      - Europe/Samara
                      - Europe/San_Marino
                      - Europe/Sarajevo
                      - Europe/Saratov
                      - Europe/Simferopol
                      - Europe/Skopje
                      - Europe/Sofia
                      - Europe/Stockholm
                      - Europe/Tallinn
                      - Europe/Tirane
                      - Europe/Tiraspol
                      - Europe/Ulyanovsk
                      - Europe/Uzhgorod
                      - Europe/Vaduz
                      - Europe/Vatican
                      - Europe/Vienna
                      - Europe/Vilnius
                      - Europe/Volgograd
                      - Europe/Warsaw
                      - Europe/Zagreb
                      - Europe/Zaporozhye
                      - Europe/Zurich
                      - Factory
                      - GB
                      - GB-Eire
                      - GMT
                      - GMT+0
                      - GMT-0
                      - GMT0
                      - Greenwich
                      - HST
                      - Hongkong
                      - Iceland
                      - Indian/Antananarivo
                      - Indian/Chagos
                      - Indian/Christmas
                      - Indian/Cocos
                      - Indian/Comoro
                      - Indian/Kerguelen
                      - Indian/Mahe
                      - Indian/Maldives
                      - Indian/Mauritius
                      - Indian/Mayotte
                      - Indian/Reunion
                      - Iran
                      - Israel
                      - Jamaica
                      - Japan
                      - Kwajalein
                      - Libya
                      - MET
                      - MST
                      - MST7MDT
                      - Mexico/BajaNorte
                      - Mexico/BajaSur
                      - Mexico/General
                      - NZ
                      - NZ-CHAT
                      - Navajo
                      - PRC
                      - PST8PDT
                      - Pacific/Apia
                      - Pacific/Auckland
                      - Pacific/Bougainville
                      - Pacific/Chatham
                      - Pacific/Chuuk
                      - Pacific/Easter
                      - Pacific/Efate
                      - Pacific/Enderbury
                      - Pacific/Fakaofo
                      - Pacific/Fiji
                      - Pacific/Funafuti
                      - Pacific/Galapagos
                      - Pacific/Gambier
                      - Pacific/Guadalcanal
                      - Pacific/Guam
                      - Pacific/Honolulu
                      - Pacific/Johnston
                      - Pacific/Kanton
                      - Pacific/Kiritimati
                      - Pacific/Kosrae
                      - Pacific/Kwajalein
                      - Pacific/Majuro
                      - Pacific/Marquesas
                      - Pacific/Midway
                      - Pacific/Nauru
                      - Pacific/Niue
                      - Pacific/Norfolk
                      - Pacific/Noumea
                      - Pacific/Pago_Pago
                      - Pacific/Palau
                      - Pacific/Pitcairn
                      - Pacific/Pohnpei
                      - Pacific/Ponape
                      - Pacific/Port_Moresby
                      - Pacific/Rarotonga
                      - Pacific/Saipan
                      - Pacific/Samoa
                      - Pacific/Tahiti
                      - Pacific/Tarawa
                      - Pacific/Tongatapu
                      - Pacific/Truk
                      - Pacific/Wake
                      - Pacific/Wallis
                      - Pacific/Yap
                      - Poland
                      - Portugal
                      - ROC
                      - ROK
                      - Singapore
                      - Turkey
                      - UCT
                      - US/Alaska
                      - US/Aleutian
                      - US/Arizona
                      - US/Central
                      - US/East-Indiana
                      - US/Eastern
                      - US/Hawaii
                      - US/Indiana-Starke
                      - US/Michigan
                      - US/Mountain
                      - US/Pacific
                      - US/Samoa
                      - UTC
                      - Universal
                      - W-SU
                      - WET
                      - Zulu
                      description: Used in conjunction with `time_of_day` to determine when the Report Schedule should be run.
                  required:
                  - frequency
                  - report_preset_id
                  - time_of_day
                  - time_zone
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    day_of_month:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, which day of the month the Report Schedule should run. 32 is used to represent the last day of the month.
                    days_of_week:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: If the frequency is weekly, which days of the week the Report Schedule should run. Values are 0 to 6, representing Sunday to Saturday.
                    effective_from:
                      type: string
                      format: date
                      description: Date the Report Schedule should be enabled. (Expects an ISO-8601 date).
                    every_no_of_months:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, how many months between each run of the Report Schedule.
                    frequency:
                      type: string
                      enum:
                      - daily
                      - weekly
                      - monthly
                      description: How often to run the Report Schedule.
                    report_preset_id:
                      type: integer
                      format: int64
                      description: What Report Preset the Report Schedule should use to generate a report.
                    time_of_day:
                      type: string
                      format: date-time
                      description: What time the Report Schedule should run. Although the entire datetime is sent, only the time information is used.
                    time_zone:
                      type: string
                      enum:
                      - Africa/Abidjan
                      - Africa/Accra
                      - Africa/Addis_Ababa
                      - Africa/Algiers
                      - Africa/Asmara
                      - Africa/Asmera
                      - Africa/Bamako
                      - Africa/Bangui
                      - Africa/Banjul
                      - Africa/Bissau
                      - Africa/Blantyre
                      - Africa/Brazzaville
                      - Africa/Bujumbura
                      - Africa/Cairo
                      - Africa/Casablanca
                      - Africa/Ceuta
                      - Africa/Conakry
                      - Africa/Dakar
                      - Africa/Dar_es_Salaam
                      - Africa/Djibouti
                      - Africa/Douala
                      - Africa/El_Aaiun
                      - Africa/Freetown
                      - Africa/Gaborone
                      - Africa/Harare
                      - Africa/Johannesburg
                      - Africa/Juba
                      - Africa/Kampala
                      - Africa/Khartoum
                      - Africa/Kigali
                      - Africa/Kinshasa
                      - Africa/Lagos
                      - Africa/Libreville
                      - Africa/Lome
                      - Africa/Luanda
                      - Africa/Lubumbashi
                      - Africa/Lusaka
                      - Africa/Malabo
                      - Africa/Maputo
                      - Africa/Maseru
                      - Africa/Mbabane
                      - Africa/Mogadishu
                      - Africa/Monrovia
                      - Africa/Nairobi
                      - Africa/Ndjamena
                      - Africa/Niamey
                      - Africa/Nouakchott
                      - Africa/Ouagadougou
                      - Africa/Porto-Novo
                      - Africa/Sao_Tome
                      - Africa/Timbuktu
                      - Africa/Tripoli
                      - Africa/Tunis
                      - Africa/Windhoek
                      - America/Adak
                      - America/Anchorage
                      - America/Anguilla
                      - America/Antigua
                      - America/Araguaina
                      - America/Argentina/Buenos_Aires
                      - America/Argentina/Catamarca
                      - America/Argentina/ComodRivadavia
                      - America/Argentina/Cordoba
                      - America/Argentina/Jujuy
                      - America/Argentina/La_Rioja
                      - America/Argentina/Mendoza
                      - America/Argentina/Rio_Gallegos
                      - America/Argentina/Salta
                      - America/Argentina/San_Juan
                      - America/Argentina/San_Luis
                      - America/Argentina/Tucuman
                      - America/Argentina/Ushuaia
                      - America/Aruba
                      - America/Asuncion
                      - America/Atikokan
                      - America/Atka
                      - America/Bahia
                      - America/Bahia_Banderas
                      - America/Barbados
                      - America/Belem
                      - America/Belize
                      - America/Blanc-Sablon
                      - America/Boa_Vista
                      - America/Bogota
                      - America/Boise
                      - America/Buenos_Aires
                      - America/Cambridge_Bay
                      - America/Campo_Grande
                      - America/Cancun
                      - America/Caracas
                      - America/Catamarca
                      - America/Cayenne
                      - America/Cayman
                      - America/Chicago
                      - America/Chihuahua
                      - America/Ciudad_Juarez
                      - America/Coral_Harbour
                      - America/Cordoba
                      - America/Costa_Rica
                      - America/Coyhaique
                      - America/Creston
                      - America/Cuiaba
                      - America/Curacao
                      - America/Danmarkshavn
                      - America/Dawson
                      - America/Dawson_Creek
                      - America/Denver
                      - America/Detroit
                      - America/Dominica
                      - America/Edmonton
                      - America/Eirunepe
                      - America/El_Salvador
                      - America/Ensenada
                      - America/Fort_Nelson
                      - America/Fort_Wayne
                      - America/Fortaleza
                      - America/Glace_Bay
                      - America/Godthab
                      - America/Goose_Bay
                      - America/Grand_Turk
                      - America/Grenada
                      - America/Guadeloupe
                      - America/Guatemala
                      - America/Guayaquil
                      - America/Guyana
                      - America/Halifax
                      - America/Havana
                      - America/Hermosillo
                      - America/Indiana/Indianapolis
                      - America/Indiana/Knox
                      - America/Indiana/Marengo
                      - America/Indiana/Petersburg
                      - America/Indiana/Tell_City
                      - America/Indiana/Vevay
                      - America/Indiana/Vincennes
                      - America/Indiana/Winamac
                      - America/Indianapolis
                      - America/Inuvik
                      - America/Iqaluit
                      - America/Jamaica
                      - America/Jujuy
                      - America/Juneau
                      - America/Kentucky/Louisville
                      - America/Kentucky/Monticello
                      - America/Knox_IN
                      - America/Kralendijk
                      - America/La_Paz
                      - America/Lima
                      - America/Los_Angeles
                      - America/Louisville
                      - America/Lower_Princes
                      - America/Maceio
                      - America/Managua
                      - America/Manaus
                      - America/Marigot
                      - America/Martinique
                      - America/Matamoros
                      - America/Mazatlan
                      - America/Mendoza
                      - America/Menominee
                      - America/Merida
                      - America/Metlakatla
                      - America/Mexico_City
                      - America/Miquelon
                      - America/Moncton
                      - America/Monterrey
                      - America/Montevideo
                      - America/Montreal
                      - America/Montserrat
                      - America/Nassau
                      - America/New_York
                      - America/Nipigon
                      - America/Nome
                      - America/Noronha
                      - America/North_Dakota/Beulah
                      - America/North_Dakota/Center
                      - America/North_Dakota/New_Salem
                      - America/Nuuk
                      - America/Ojinaga
                      - America/Panama
                      - America/Pangnirtung
                      - America/Paramaribo
                      - America/Phoenix
                      - America/Port-au-Prince
                      - America/Port_of_Spain
                      - America/Porto_Acre
                      - America/Porto_Velho
                      - America/Puerto_Rico
                      - America/Punta_Arenas
                      - America/Rainy_River
                      - America/Rankin_Inlet
                      - America/Recife
                      - America/Regina
                      - America/Resolute
                      - America/Rio_Branco
                      - America/Rosario
                      - America/Santa_Isabel
                      - America/Santarem
                      - America/Santiago
                      - America/Santo_Domingo
                      - America/Sao_Paulo
                      - America/Scoresbysund
                      - America/Shiprock
                      - America/Sitka
                      - America/St_Barthelemy
                      - America/St_Johns
                      - America/St_Kitts
                      - America/St_Lucia
                      - America/St_Thomas
                      - America/St_Vincent
                      - America/Swift_Current
                      - America/Tegucigalpa
                      - America/Thule
                      - America/Thunder_Bay
                      - America/Tijuana
                      - America/Toronto
                      - America/Tortola
                      - America/Vancouver
                      - America/Virgin
                      - America/Whitehorse
                      - America/Winnipeg
                      - America/Yakutat
                      - America/Yellowknife
                      - Antarctica/Casey
                      - Antarctica/Davis
                      - Antarctica/DumontDUrville
                      - Antarctica/Macquarie
                      - Antarctica/Mawson
                      - Antarctica/McMurdo
                      - Antarctica/Palmer
                      - Antarctica/Rothera
                      - Antarctica/South_Pole
                      - Antarctica/Syowa
                      - Antarctica/Troll
                      - Antarctica/Vostok
                      - Arctic/Longyearbyen
                      - Asia/Aden
                      - Asia/Almaty
                      - Asia/Amman
                      - Asia/Anadyr
                      - Asia/Aqtau
                      - Asia/Aqtobe
                      - Asia/Ashgabat
                      - Asia/Ashkhabad
                      - Asia/Atyrau
                      - Asia/Baghdad
                      - Asia/Bahrain
                      - Asia/Baku
                      - Asia/Bangkok
                      - Asia/Barnaul
                      - Asia/Beirut
                      - Asia/Bishkek
                      - Asia/Brunei
                      - Asia/Calcutta
                      - Asia/Chita
                      - Asia/Choibalsan
                      - Asia/Chongqing
                      - Asia/Chungking
                      - Asia/Colombo
                      - Asia/Dacca
                      - Asia/Damascus
                      - Asia/Dhaka
                      - Asia/Dili
                      - Asia/Dubai
                      - Asia/Dushanbe
                      - Asia/Famagusta
                      - Asia/Gaza
                      - Asia/Harbin
                      - Asia/Hebron
                      - Asia/Ho_Chi_Minh
                      - Asia/Hong_Kong
                      - Asia/Hovd
                      - Asia/Irkutsk
                      - Asia/Istanbul
                      - Asia/Jakarta
                      - Asia/Jayapura
                      - Asia/Jerusalem
                      - Asia/Kabul
                      - Asia/Kamchatka
                      - Asia/Karachi
                      - Asia/Kashgar
                      - Asia/Kathmandu
                      - Asia/Katmandu
                      - Asia/Khandyga
                      - Asia/Kolkata
                      - Asia/Krasnoyarsk
                      - Asia/Kuala_Lumpur
                      - Asia/Kuching
                      - Asia/Kuwait
                      - Asia/Macao
                      - Asia/Macau
                      - Asia/Magadan
                      - Asia/Makassar
                      - Asia/Manila
                      - Asia/Muscat
                      - Asia/Nicosia
                      - Asia/Novokuznetsk
                      - Asia/Novosibirsk
                      - Asia/Omsk
                      - Asia/Oral
                      - Asia/Phnom_Penh
                      - Asia/Pontianak
                      - Asia/Pyongyang
                      - Asia/Qatar
                      - Asia/Qostanay
                      - Asia/Qyzylorda
                      - Asia/Rangoon
                      - Asia/Riyadh
                      - Asia/Saigon
                      - Asia/Sakhalin
                      - Asia/Samarkand
                      - Asia/Seoul
                      - Asia/Shanghai
                      - Asia/Singapore
                      - Asia/Srednekolymsk
                      - Asia/Taipei
                      - Asia/Tashkent
                      - Asia/Tbilisi
                      - Asia/Tehran
                      - Asia/Tel_Aviv
                      - Asia/Thimbu
                      - Asia/Thimphu
                      - Asia/Tokyo
                      - Asia/Tomsk
                      - Asia/Ujung_Pandang
                      - Asia/Ulaanbaatar
                      - Asia/Ulan_Bator
                      - Asia/Urumqi
                      - Asia/Ust-Nera
                      - Asia/Vientiane
                      - Asia/Vladivostok
                      - Asia/Yakutsk
                      - Asia/Yangon
                      - Asia/Yekaterinburg
                      - Asia/Yerevan
                      - Atlantic/Azores
                      - Atlantic/Bermuda
                      - Atlantic/Canary
                      - Atlantic/Cape_Verde
                      - Atlantic/Faeroe
                      - Atlantic/Faroe
                      - Atlantic/Jan_Mayen
                      - Atlantic/Madeira
                      - Atlantic/Reykjavik
                      - Atlantic/South_Georgia
                      - Atlantic/St_Helena
                      - Atlantic/Stanley
                      - Australia/ACT
                      - Australia/Adelaide
                      - Australia/Brisbane
                      - Australia/Broken_Hill
                      - Australia/Canberra
                      - Australia/Currie
                      - Australia/Darwin
                      - Australia/Eucla
                      - Australia/Hobart
                      - Australia/LHI
                      - Australia/Lindeman
                      - Australia/Lord_Howe
                      - Australia/Melbourne
                      - Australia/NSW
                      - Australia/North
                      - Australia/Perth
                      - Australia/Queensland
                      - Australia/South
                      - Australia/Sydney
                      - Australia/Tasmania
                      - Australia/Victoria
                      - Australia/West
                      - Australia/Yancowinna
                      - Brazil/Acre
                      - Brazil/DeNoronha
                      - Brazil/East
                      - Brazil/West
                      - CET
                      - CST6CDT
                      - Canada/Atlantic
                      - Canada/Central
                      - Canada/Eastern
                      - Canada/Mountain
                      - Canada/Newfoundland
                      - Canada/Pacific
                      - Canada/Saskatchewan
                      - Canada/Yukon
                      - Chile/Continental
                      - Chile/EasterIsland
                      - Cuba
                      - EET
                      - EST
                      - EST5EDT
                      - Egypt
                      - Eire
                      - Etc/GMT
                      - Etc/GMT+0
                      - Etc/GMT+1
                      - Etc/GMT+10
                      - Etc/GMT+11
                      - Etc/GMT+12
                      - Etc/GMT+2
                      - Etc/GMT+3
                      - Etc/GMT+4
                      - Etc/GMT+5
                      - Etc/GMT+6
                      - Etc/GMT+7
                      - Etc/GMT+8
                      - Etc/GMT+9
                      - Etc/GMT-0
                      - Etc/GMT-1
                      - Etc/GMT-10
                      - Etc/GMT-11
                      - Etc/GMT-12
                      - Etc/GMT-13
                      - Etc/GMT-14
                      - Etc/GMT-2
                      - Etc/GMT-3
                      - Etc/GMT-4
                      - Etc/GMT-5
                      - Etc/GMT-6
                      - Etc/GMT-7
                      - Etc/GMT-8
                      - Etc/GMT-9
                      - Etc/GMT0
                      - Etc/Greenwich
                      - Etc/UCT
                      - Etc/UTC
                      - Etc/Universal
                      - Etc/Zulu
                      - Europe/Amsterdam
                      - Europe/Andorra
                      - Europe/Astrakhan
                      - Europe/Athens
                      - Europe/Belfast
                      - Europe/Belgrade
                      - Europe/Berlin
                      - Europe/Bratislava
                      - Europe/Brussels
                      - Europe/Bucharest
                      - Europe/Budapest
                      - Europe/Busingen
                      - Europe/Chisinau
                      - Europe/Copenhagen
                      - Europe/Dublin
                      - Europe/Gibraltar
                      - Europe/Guernsey
                      - Europe/Helsinki
                      - Europe/Isle_of_Man
                      - Europe/Istanbul
                      - Europe/Jersey
                      - Europe/Kaliningrad
                      - Europe/Kiev
                      - Europe/Kirov
                      - Europe/Kyiv
                      - Europe/Lisbon
                      - Europe/Ljubljana
                      - Europe/London
                      - Europe/Luxembourg
                      - Europe/Madrid
                      - Europe/Malta
                      - Europe/Mariehamn
                      - Europe/Minsk
                      - Europe/Monaco
                      - Europe/Moscow
                      - Europe/Nicosia
                      - Europe/Oslo
                      - Europe/Paris
                      - Europe/Podgorica
                      - Europe/Prague
                      - Europe/Riga
                      - Europe/Rome
                      - Europe/Samara
                      - Europe/San_Marino
                      - Europe/Sarajevo
                      - Europe/Saratov
                      - Europe/Simferopol
                      - Europe/Skopje
                      - Europe/Sofia
                      - Europe/Stockholm
                      - Europe/Tallinn
                      - Europe/Tirane
                      - Europe/Tiraspol
                      - Europe/Ulyanovsk
                      - Europe/Uzhgorod
                      - Europe/Vaduz
                      - Europe/Vatican
                      - Europe/Vienna
                      - Europe/Vilnius
                      - Europe/Volgograd
                      - Europe/Warsaw
                      - Europe/Zagreb
                      - Europe/Zaporozhye
                      - Europe/Zurich
                      - Factory
                      - GB
                      - GB-Eire
                      - GMT
                      - GMT+0
                      - GMT-0
                      - GMT0
                      - Greenwich
                      - HST
                      - Hongkong
                      - Iceland
                      - Indian/Antananarivo
                      - Indian/Chagos
                      - Indian/Christmas
                      - Indian/Cocos
                      - Indian/Comoro
                      - Indian/Kerguelen
                      - Indian/Mahe
                      - Indian/Maldives
                      - Indian/Mauritius
                      - Indian/Mayotte
                      - Indian/Reunion
                      - Iran
                      - Israel
                      - Jamaica
                      - Japan
                      - Kwajalein
                      - Libya
                      - MET
                      - MST
                      - MST7MDT
                      - Mexico/BajaNorte
                      - Mexico/BajaSur
                      - Mexico/General
                      - NZ
                      - NZ-CHAT
                      - Navajo
                      - PRC
                      - PST8PDT
                      - Pacific/Apia
                      - Pacific/Auckland
                      - Pacific/Bougainville
                      - Pacific/Chatham
                      - Pacific/Chuuk
                      - Pacific/Easter
                      - Pacific/Efate
                      - Pacific/Enderbury
                      - Pacific/Fakaofo
                      - Pacific/Fiji
                      - Pacific/Funafuti
                      - Pacific/Galapagos
                      - Pacific/Gambier
                      - Pacific/Guadalcanal
                      - Pacific/Guam
                      - Pacific/Honolulu
                      - Pacific/Johnston
                      - Pacific/Kanton
                      - Pacific/Kiritimati
                      - Pacific/Kosrae
                      - Pacific/Kwajalein
                      - Pacific/Majuro
                      - Pacific/Marquesas
                      - Pacific/Midway
                      - Pacific/Nauru
                      - Pacific/Niue
                      - Pacific/Norfolk
                      - Pacific/Noumea
                      - Pacific/Pago_Pago
                      - Pacific/Palau
                      - Pacific/Pitcairn
                      - Pacific/Pohnpei
                      - Pacific/Ponape
                      - Pacific/Port_Moresby
                      - Pacific/Rarotonga
                      - Pacific/Saipan
                      - Pacific/Samoa
                      - Pacific/Tahiti
                      - Pacific/Tarawa
                      - Pacific/Tongatapu
                      - Pacific/Truk
                      - Pacific/Wake
                      - Pacific/Wallis
                      - Pacific/Yap
                      - Poland
                      - Portugal
                      - ROC
                      - ROK
                      - Singapore
                      - Turkey
                      - UCT
                      - US/Alaska
                      - US/Aleutian
                      - US/Arizona
                      - US/Central
                      - US/East-Indiana
                      - US/Eastern
                      - US/Hawaii
                      - US/Indiana-Starke
                      - US/Michigan
                      - US/Mountain
                      - US/Pacific
                      - US/Samoa
                      - UTC
                      - Universal
                      - W-SU
                      - WET
                      - Zulu
                      description: Used in conjunction with `time_of_day` to determine when the Report Schedule should be run.
                  required:
                  - frequency
                  - report_preset_id
                  - time_of_day
                  - time_zone
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    day_of_month:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, which day of the month the Report Schedule should run. 32 is used to represent the last day of the month.
                    days_of_week:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: If the frequency is weekly, which days of the week the Report Schedule should run. Values are 0 to 6, representing Sunday to Saturday.
                    effective_from:
                      type: string
                      format: date
                      description: Date the Report Schedule should be enabled. (Expects an ISO-8601 date).
                    every_no_of_months:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, how many months between each run of the Report Schedule.
                    frequency:
                      type: string
                      enum:
                      - daily
                      - weekly
                      - monthly
                      description: How often to run the Report Schedule.
                    report_preset_id:
                      type: integer
                      format: int64
                      description: What Report Preset the Report Schedule should use to generate a report.
                    time_of_day:
                      type: string
                      format: date-time
                      description: What time the Report Schedule should run. Although the entire datetime is sent, only the time information is used.
                    time_zone:
                      type: string
                      enum:
                      - Africa/Abidjan
                      - Africa/Accra
                      - Africa/Addis_Ababa
                      - Africa/Algiers
                      - Africa/Asmara
                      - Africa/Asmera
                      - Africa/Bamako
                      - Africa/Bangui
                      - Africa/Banjul
                      - Africa/Bissau
                      - Africa/Blantyre
                      - Africa/Brazzaville
                      - Africa/Bujumbura
                      - Africa/Cairo
                      - Africa/Casablanca
                      - Africa/Ceuta
                      - Africa/Conakry
                      - Africa/Dakar
                      - Africa/Dar_es_Salaam
                      - Africa/Djibouti
                      - Africa/Douala
                      - Africa/El_Aaiun
                      - Africa/Freetown
                      - Africa/Gaborone
                      - Africa/Harare
                      - Africa/Johannesburg
                      - Africa/Juba
                      - Africa/Kampala
                      - Africa/Khartoum
                      - Africa/Kigali
                      - Africa/Kinshasa
                      - Africa/Lagos
                      - Africa/Libreville
                      - Africa/Lome
                      - Africa/Luanda
                      - Africa/Lubumbashi
                      - Africa/Lusaka
                      - Africa/Malabo
                      - Africa/Maputo
                      - Africa/Maseru
                      - Africa/Mbabane
                      - Africa/Mogadishu
                      - Africa/Monrovia
                      - Africa/Nairobi
                      - Africa/Ndjamena
                      - Africa/Niamey
                      - Africa/Nouakchott
                      - Africa/Ouagadougou
                      - Africa/Porto-Novo
                      - Africa/Sao_Tome
                      - Africa/Timbuktu
                      - Africa/Tripoli
                      - Africa/Tunis
                      - Africa/Windhoek
                      - America/Adak
                      - America/Anchorage
                      - America/Anguilla
                      - America/Antigua
                      - America/Araguaina
                      - America/Argentina/Buenos_Aires
                      - America/Argentina/Catamarca
                      - America/Argentina/ComodRivadavia
                      - America/Argentina/Cordoba
                      - America/Argentina/Jujuy
                      - America/Argentina/La_Rioja
                      - America/Argentina/Mendoza
                      - America/Argentina/Rio_Gallegos
                      - America/Argentina/Salta
                      - America/Argentina/San_Juan
                      - America/Argentina/San_Luis
                      - America/Argentina/Tucuman
                      - America/Argentina/Ushuaia
                      - America/Aruba
                      - America/Asuncion
                      - America/Atikokan
                      - America/Atka
                      - America/Bahia
                      - America/Bahia_Banderas
                      - America/Barbados
                      - America/Belem
                      - America/Belize
                      - America/Blanc-Sablon
                      - America/Boa_Vista
                      - America/Bogota
                      - America/Boise
                      - America/Buenos_Aires
                      - America/Cambridge_Bay
                      - America/Campo_Grande
                      - America/Cancun
                      - America/Caracas
                      - America/Catamarca
                      - America/Cayenne
                      - America/Cayman
                      - America/Chicago
                      - America/Chihuahua
                      - America/Ciudad_Juarez
                      - America/Coral_Harbour
                      - America/Cordoba
                      - America/Costa_Rica
                      - America/Coyhaique
                      - America/Creston
                      - America/Cuiaba
                      - America/Curacao
                      - America/Danmarkshavn
                      - America/Dawson
                      - America/Dawson_Creek
                      - America/Denver
                      - America/Detroit
                      - America/Dominica
                      - America/Edmonton
                      - America/Eirunepe
                      - America/El_Salvador
                      - America/Ensenada
                      - America/Fort_Nelson
                      - America/Fort_Wayne
                      - America/Fortaleza
                      - America/Glace_Bay
                      - America/Godthab
                      - America/Goose_Bay
                      - America/Grand_Turk
                      - America/Grenada
                      - America/Guadeloupe
                      - America/Guatemala
                      - America/Guayaquil
                      - America/Guyana
                      - America/Halifax
                      - America/Havana
                      - America/Hermosillo
                      - America/Indiana/Indianapolis
                      - America/Indiana/Knox
                      - America/Indiana/Marengo
                      - America/Indiana/Petersburg
                      - America/Indiana/Tell_City
                      - America/Indiana/Vevay
                      - America/Indiana/Vincennes
                      - America/Indiana/Winamac
                      - America/Indianapolis
                      - America/Inuvik
                      - America/Iqaluit
                      - America/Jamaica
                      - America/Jujuy
                      - America/Juneau
                      - America/Kentucky/Louisville
                      - America/Kentucky/Monticello
                      - America/Knox_IN
                      - America/Kralendijk
                      - America/La_Paz
                      - America/Lima
                      - America/Los_Angeles
                      - America/Louisville
                      - America/Lower_Princes
                      - America/Maceio
                      - America/Managua
                      - America/Manaus
                      - America/Marigot
                      - America/Martinique
                      - America/Matamoros
                      - America/Mazatlan
                      - America/Mendoza
                      - America/Menominee
                      - America/Merida
                      - America/Metlakatla
                      - America/Mexico_City
                      - America/Miquelon
                      - America/Moncton
                      - America/Monterrey
                      - America/Montevideo
                      - America/Montreal
                      - America/Montserrat
                      - America/Nassau
                      - America/New_York
                      - America/Nipigon
                      - America/Nome
                      - America/Noronha
                      - America/North_Dakota/Beulah
                      - America/North_Dakota/Center
                      - America/North_Dakota/New_Salem
                      - America/Nuuk
                      - America/Ojinaga
                      - America/Panama
                      - America/Pangnirtung
                      - America/Paramaribo
                      - America/Phoenix
                      - America/Port-au-Prince
                      - America/Port_of_Spain
                      - America/Porto_Acre
                      - America/Porto_Velho
                      - America/Puerto_Rico
                      - America/Punta_Arenas
                      - America/Rainy_River
                      - America/Rankin_Inlet
                      - America/Recife
                      - America/Regina
                      - America/Resolute
                      - America/Rio_Branco
                      - America/Rosario
                      - America/Santa_Isabel
                      - America/Santarem
                      - America/Santiago
                      - America/Santo_Domingo
                      - America/Sao_Paulo
                      - America/Scoresbysund
                      - America/Shiprock
                      - America/Sitka
                      - America/St_Barthelemy
                      - America/St_Johns
                      - America/St_Kitts
                      - America/St_Lucia
                      - America/St_Thomas
                      - America/St_Vincent
                      - America/Swift_Current
                      - America/Tegucigalpa
                      - America/Thule
                      - America/Thunder_Bay
                      - America/Tijuana
                      - America/Toronto
                      - America/Tortola
                      - America/Vancouver
                      - America/Virgin
                      - America/Whitehorse
                      - America/Winnipeg
                      - America/Yakutat
                      - America/Yellowknife
                      - Antarctica/Casey
                      - Antarctica/Davis
                      - Antarctica/DumontDUrville
                      - Antarctica/Macquarie
                      - Antarctica/Mawson
                      - Antarctica/McMurdo
                      - Antarctica/Palmer
                      - Antarctica/Rothera
                      - Antarctica/South_Pole
                      - Antarctica/Syowa
                      - Antarctica/Troll
                      - Antarctica/Vostok
                      - Arctic/Longyearbyen
                      - Asia/Aden
                      - Asia/Almaty
                      - Asia/Amman
                      - Asia/Anadyr
                      - Asia/Aqtau
                      - Asia/Aqtobe
                      - Asia/Ashgabat
                      - Asia/Ashkhabad
                      - Asia/Atyrau
                      - Asia/Baghdad
                      - Asia/Bahrain
                      - Asia/Baku
                      - Asia/Bangkok
                      - Asia/Barnaul
                      - Asia/Beirut
                      - Asia/Bishkek
                      - Asia/Brunei
                      - Asia/Calcutta
                      - Asia/Chita
                      - Asia/Choibalsan
                      - Asia/Chongqing
                      - Asia/Chungking
                      - Asia/Colombo
                      - Asia/Dacca
                      - Asia/Damascus
                      - Asia/Dhaka
                      - Asia/Dili
                      - Asia/Dubai
                      - Asia/Dushanbe
                      - Asia/Famagusta
                      - Asia/Gaza
                      - Asia/Harbin
                      - Asia/Hebron
                      - Asia/Ho_Chi_Minh
                      - Asia/Hong_Kong
                      - Asia/Hovd
                      - Asia/Irkutsk
                      - Asia/Istanbul
                      - Asia/Jakarta
                      - Asia/Jayapura
                      - Asia/Jerusalem
                      - Asia/Kabul
                      - Asia/Kamchatka
                      - Asia/Karachi
                      - Asia/Kashgar
                      - Asia/Kathmandu
                      - Asia/Katmandu
                      - Asia/Khandyga
                      - Asia/Kolkata
                      - Asia/Krasnoyarsk
                      - Asia/Kuala_Lumpur
                      - Asia/Kuching
                      - Asia/Kuwait
                      - Asia/Macao
                      - Asia/Macau
                      - Asia/Magadan
                      - Asia/Makassar
                      - Asia/Manila
                      - Asia/Muscat
                      - Asia/Nicosia
                      - Asia/Novokuznetsk
                      - Asia/Novosibirsk
                      - Asia/Omsk
                      - Asia/Oral
                      - Asia/Phnom_Penh
                      - Asia/Pontianak
                      - Asia/Pyongyang
                      - Asia/Qatar
                      - Asia/Qostanay
                      - Asia/Qyzylorda
                      - Asia/Rangoon
                      - Asia/Riyadh
                      - Asia/Saigon
                      - Asia/Sakhalin
                      - Asia/Samarkand
                      - Asia/Seoul
                      - Asia/Shanghai
                      - Asia/Singapore
                      - Asia/Srednekolymsk
                      - Asia/Taipei
                      - Asia/Tashkent
                      - Asia/Tbilisi
                      - Asia/Tehran
                      - Asia/Tel_Aviv
                      - Asia/Thimbu
                      - Asia/Thimphu
                      - Asia/Tokyo
                      - Asia/Tomsk
                      - Asia/Ujung_Pandang
                      - Asia/Ulaanbaatar
                      - Asia/Ulan_Bator
                      - Asia/Urumqi
                      - Asia/Ust-Nera
                      - Asia/Vientiane
                      - Asia/Vladivostok
                      - Asia/Yakutsk
                      - Asia/Yangon
                      - Asia/Yekaterinburg
                      - Asia/Yerevan
                      - Atlantic/Azores
                      - Atlantic/Bermuda
                      - Atlantic/Canary
                      - Atlantic/Cape_Verde
                      - Atlantic/Faeroe
                      - Atlantic/Faroe
                      - Atlantic/Jan_Mayen
                      - Atlantic/Madeira
                      - Atlantic/Reykjavik
                      - Atlantic/South_Georgia
                      - Atlantic/St_Helena
                      - Atlantic/Stanley
                      - Australia/ACT
                      - Australia/Adelaide
                      - Australia/Brisbane
                      - Australia/Broken_Hill
                      - Australia/Canberra
                      - Australia/Currie
                      - Australia/Darwin
                      - Australia/Eucla
                      - Australia/Hobart
                      - Australia/LHI
                      - Australia/Lindeman
                      - Australia/Lord_Howe
                      - Australia/Melbourne
                      - Australia/NSW
                      - Australia/North
                      - Australia/Perth
                      - Australia/Queensland
                      - Australia/South
                      - Australia/Sydney
                      - Australia/Tasmania
                      - Australia/Victoria
                      - Australia/West
                      - Australia/Yancowinna
                      - Brazil/Acre
                      - Brazil/DeNoronha
                      - Brazil/East
                      - Brazil/West
                      - CET
                      - CST6CDT
                      - Canada/Atlantic
                      - Canada/Central
                      - Canada/Eastern
                      - Canada/Mountain
                      - Canada/Newfoundland
                      - Canada/Pacific
                      - Canada/Saskatchewan
                      - Canada/Yukon
                      - Chile/Continental
                      - Chile/EasterIsland
                      - Cuba
                      - EET
                      - EST
                      - EST5EDT
                      - Egypt
                      - Eire
                      - Etc/GMT
                      - Etc/GMT+0
                      - Etc/GMT+1
                      - Etc/GMT+10
                      - Etc/GMT+11
                      - Etc/GMT+12
                      - Etc/GMT+2
                      - Etc/GMT+3
                      - Etc/GMT+4
                      - Etc/GMT+5
                      - Etc/GMT+6
                      - Etc/GMT+7
                      - Etc/GMT+8
                      - Etc/GMT+9
                      - Etc/GMT-0
                      - Etc/GMT-1
                      - Etc/GMT-10
                      - Etc/GMT-11
                      - Etc/GMT-12
                      - Etc/GMT-13
                      - Etc/GMT-14
                      - Etc/GMT-2
                      - Etc/GMT-3
                      - Etc/GMT-4
                      - Etc/GMT-5
                      - Etc/GMT-6
                      - Etc/GMT-7
                      - Etc/GMT-8
                      - Etc/GMT-9
                      - Etc/GMT0
                      - Etc/Greenwich
                      - Etc/UCT
                      - Etc/UTC
                      - Etc/Universal
                      - Etc/Zulu
                      - Europe/Amsterdam
                      - Europe/Andorra
                      - Europe/Astrakhan
                      - Europe/Athens
                      - Europe/Belfast
                      - Europe/Belgrade
                      - Europe/Berlin
                      - Europe/Bratislava
                      - Europe/Brussels
                      - Europe/Bucharest
                      - Europe/Budapest
                      - Europe/Busingen
                      - Europe/Chisinau
                      - Europe/Copenhagen
                      - Europe/Dublin
                      - Europe/Gibraltar
                      - Europe/Guernsey
                      - Europe/Helsinki
                      - Europe/Isle_of_Man
                      - Europe/Istanbul
                      - Europe/Jersey
                      - Europe/Kaliningrad
                      - Europe/Kiev
                      - Europe/Kirov
                      - Europe/Kyiv
                      - Europe/Lisbon
                      - Europe/Ljubljana
                      - Europe/London
                      - Europe/Luxembourg
                      - Europe/Madrid
                      - Europe/Malta
                      - Europe/Mariehamn
                      - Europe/Minsk
                      - Europe/Monaco
                      - Europe/Moscow
                      - Europe/Nicosia
                      - Europe/Oslo
                      - Europe/Paris
                      - Europe/Podgorica
                      - Europe/Prague
                      - Europe/Riga
                      - Europe/Rome
                      - Europe/Samara
                      - Europe/San_Marino
                      - Europe/Sarajevo
                      - Europe/Saratov
                      - Europe/Simferopol
                      - Europe/Skopje
                      - Europe/Sofia
                      - Europe/Stockholm
                      - Europe/Tallinn
                      - Europe/Tirane
                      - Europe/Tiraspol
                      - Europe/Ulyanovsk
                      - Europe/Uzhgorod
                      - Europe/Vaduz
                      - Europe/Vatican
                      - Europe/Vienna
                      - Europe/Vilnius
                      - Europe/Volgograd
                      - Europe/Warsaw
                      - Europe/Zagreb
                      - Europe/Zaporozhye
                      - Europe/Zurich
                      - Factory
                      - GB
                      - GB-Eire
                      - GMT
                      - GMT+0
                      - GMT-0
                      - GMT0
                      - Greenwich
                      - HST
                      - Hongkong
                      - Iceland
                      - Indian/Antananarivo
                      - Indian/Chagos
                      - Indian/Christmas
                      - Indian/Cocos
                      - Indian/Comoro
                      - Indian/Kerguelen
                      - Indian/Mahe
                      - Indian/Maldives
                      - Indian/Mauritius
                      - Indian/Mayotte
                      - Indian/Reunion
                      - Iran
                      - Israel
                      - Jamaica
                      - Japan
                      - Kwajalein
                      - Libya
                      - MET
                      - MST
                      - MST7MDT
                      - Mexico/BajaNorte
                      - Mexico/BajaSur
                      - Mexico/General
                      - NZ
                      - NZ-CHAT
                      - Navajo
                      - PRC
                      - PST8PDT
                      - Pacific/Apia
                      - Pacific/Auckland
                      - Pacific/Bougainville
                      - Pacific/Chatham
                      - Pacific/Chuuk
                      - Pacific/Easter
                      - Pacific/Efate
                      - Pacific/Enderbury
                      - Pacific/Fakaofo
                      - Pacific/Fiji
                      - Pacific/Funafuti
                      - Pacific/Galapagos
                      - Pacific/Gambier
                      - Pacific/Guadalcanal
                      - Pacific/Guam
                      - Pacific/Honolulu
                      - Pacific/Johnston
                      - Pacific/Kanton
                      - Pacific/Kiritimati
                      - Pacific/Kosrae
                      - Pacific/Kwajalein
                      - Pacific/Majuro
                      - Pacific/Marquesas
                      - Pacific/Midway
                      - Pacific/Nauru
                      - Pacific/Niue
                      - Pacific/Norfolk
                      - Pacific/Noumea
                      - Pacific/Pago_Pago
                      - Pacific/Palau
                      - Pacific/Pitcairn
                      - Pacific/Pohnpei
                      - Pacific/Ponape
                      - Pacific/Port_Moresby
                      - Pacific/Rarotonga
                      - Pacific/Saipan
                      - Pacific/Samoa
                      - Pacific/Tahiti
                      - Pacific/Tarawa
                      - Pacific/Tongatapu
                      - Pacific/Truk
                      - Pacific/Wake
                      - Pacific/Wallis
                      - Pacific/Yap
                      - Poland
                      - Portugal
                      - ROC
                      - ROK
                      - Singapore
                      - Turkey
                      - UCT
                      - US/Alaska
                      - US/Aleutian
                      - US/Arizona
                      - US/Central
                      - US/East-Indiana
                      - US/Eastern
                      - US/Hawaii
                      - US/Indiana-Starke
                      - US/Michigan
                      - US/Mountain
                      - US/Pacific
                      - US/Samoa
                      - UTC
                      - Universal
                      - W-SU
                      - WET
                      - Zulu
                      description: Used in conjunction with `time_of_day` to determine when the Report Schedule should be run.
                  required:
                  - frequency
                  - report_preset_id
                  - time_of_day
                  - time_zone
        required: false
  /report_schedules/{id}.json:
    get:
      tags:
      - Report Schedules
      summary: Return the data for a single ReportSchedule
      operationId: ReportSchedule#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single ReportSchedule
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the ReportSchedule.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportSchedule_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Report Schedules
      summary: Update a single ReportSchedule
      operationId: ReportSchedule#update
      description: Outlines the parameters and data fields used when updating a single ReportSchedule
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the ReportSchedule.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportSchedule_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Report Schedules
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    day_of_month:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, which day of the month the Report Schedule should run. 32 is used to represent the last day of the month.
                    days_of_week:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: If the frequency is weekly, which days of the week the Report Schedule should run. Values are 0 to 6, representing Sunday to Saturday.
                    effective_from:
                      type: string
                      format: date
                      description: Date the Report Schedule should be enabled. (Expects an ISO-8601 date).
                    every_no_of_months:
                      type: integer
                      format: int32
                      description: If the frequency is monthly, how many months between each run of the Report Schedule.
                    frequency:
                      type: string
                      enum:
                      - daily
                      - weekly
                      - monthly
                      description: How often to run the Report Schedule.
                    report_preset_id:
                      type: integer
                      format: int64
                      description: What Report Preset the Report Schedule should use to generate a report.
                    time_of_day:
                      type: string
                      format: date-time
                      description: What time the Report Schedule should run. Although the entire datetime is sent, only the time information is used.
                    time_zone:
                      type: string
                      enum:
                      - Africa/Abidjan
                      - Africa/Accra
                      - Africa/Addis_Ababa
                      - Africa/Algiers
                      - Africa/Asmara
                      - Africa/Asmera
                      - Africa/Bamako
                      - Africa/Bangui
                      - Africa/Banjul
                      - Africa/Bissau
                      - Africa/Blantyre
                      - Africa/Brazzaville
                      - Africa/Bujumbura
                      - Africa/Cairo
                      - Africa/Casablanca
                      - Africa/Ceuta
                      - Africa/Conakry
                      - Africa/Dakar
                      - Africa/Dar_es_Salaam
                      - Africa/Djibouti
                      - Africa/Douala
                      - Africa/El_Aaiun
                      - Africa/Freetown
                      - Africa/Gaborone
                      - Africa/Harare
                      - Africa/Johannesburg
                      - Africa/Juba
                      - Africa/Kampala
                      - Africa/Khartoum
                      - Africa/Kigali
                      - Africa/Kinshasa
                      - Africa/Lagos
                      - Africa/Libreville
                      - Africa/Lome
                      - Africa/Luanda
                      - Africa/Lubumbashi
                      - Africa/Lusaka
                      - Africa/Malabo
                      - Africa/Maputo
                      - Africa/Maseru
                      - Africa/Mbabane
                      - Africa/Mogadishu
                      - Africa/Monrovia
                      - Africa/Nairobi
                      - Africa/Ndjamena
                      - Africa/Niamey
                      - Africa/Nouakchott
                      - Africa/Ouagadougou
                      - Africa/Porto-Novo
                      - Africa/Sao_Tome
                      - Africa/Timbuktu
                      - Africa/Tripoli
                      - Africa/Tunis
                      - Africa/Windhoek
                      - America/Adak
                      - America/Anchorage
                      - America/Anguilla
                      - America/Antigua
                      - America/Araguaina
                      - America/Argentina/Buenos_Aires
                      - America/Argentina/Catamarca
                      - America/Argentina/ComodRivadavia
                      - America/Argentina/Cordoba
                      - America/Argentina/Jujuy
                      - America/Argentina/La_Rioja
                      - America/Argentina/Mendoza
                      - America/Argentina/Rio_Gallegos
                      - America/Argentina/Salta
                      - America/Argentina/San_Juan
                      - America/Argentina/San_Luis
                      - America/Argentina/Tucuman
                      - America/Argentina/Ushuaia
                      - America/Aruba
                      - America/Asuncion
                      - America/Atikokan
                      - America/Atka
                      - America/Bahia
                      - America/Bahia_Banderas
                      - America/Barbados
                      - America/Belem
                      - America/Belize
                      - America/Blanc-Sablon
                      - America/Boa_Vista
                      - America/Bogota
                      - America/Boise
                      - America/Buenos_Aires
                      - America/Cambridge_Bay
                      - America/Campo_Grande
                      - America/Cancun
                      - America/Caracas
                      - America/Catamarca
                      - America/Cayenne
                      - America/Cayman
                      - America/Chicago
                      - America/Chihuahua
                      - America/Ciudad_Juarez
                      - America/Coral_Harbour
                      - America/Cordoba
                      - America/Costa_Rica
                      - America/Coyhaique
                      - America/Creston
                      - America/Cuiaba
                      - America/Curacao
                      - America/Danmarkshavn
                      - America/Dawson
                      - America/Dawson_Creek
                      - America/Denver
                      - America/Detroit
                      - America/Dominica
                      - America/Edmonton
                      - America/Eirunepe
                      - America/El_Salvador
                      - America/Ensenada
                      - America/Fort_Nelson
                      - America/Fort_Wayne
                      - America/Fortaleza
                      - America/Glace_Bay
                      - America/Godthab
                      - America/Goose_Bay
                      - America/Grand_Turk
                      - America/Grenada
                      - America/Guadeloupe
                      - America/Guatemala
                      - America/Guayaquil
                      - America/Guyana
                      - America/Halifax
                      - America/Havana
                      - America/Hermosillo
                      - America/Indiana/Indianapolis
                      - America/Indiana/Knox
                      - America/Indiana/Marengo
                      - America/Indiana/Petersburg
                      - America/Indiana/Tell_City
                      - America/Indiana/Vevay
                      - America/Indiana/Vincennes
                      - America/Indiana/Winamac
                      - America/Indianapolis
                      - America/Inuvik
                      - America/Iqaluit
                      - America/Jamaica
                      - America/Jujuy
                      - America/Juneau
                      - America/Kentucky/Louisville
                      - America/Kentucky/Monticello
                      - America/Knox_IN
                      - America/Kralendijk
                      - America/La_Paz
                      - America/Lima
                      - America/Los_Angeles
                      - America/Louisville
                      - America/Lower_Princes
                      - America/Maceio
                      - America/Managua
                      - America/Manaus
                      - America/Marigot
                      - America/Martinique
                      - America/Matamoros
                      - America/Mazatlan
                      - America/Mendoza
                      - America/Menominee
                      - America/Merida
                      - America/Metlakatla
                      - America/Mexico_City
                      - America/Miquelon
                      - America/Moncton
                      - America/Monterrey
                      - America/Montevideo
                      - America/Montreal
                      - America/Montserrat
                      - America/Nassau
                      - America/New_York
                      - America/Nipigon
                      - America/Nome
                      - America/Noronha
                      - America/North_Dakota/Beulah
                      - America/North_Dakota/Center
                      - America/North_Dakota/New_Salem
                      - America/Nuuk
                      - America/Ojinaga
                      - America/Panama
                      - America/Pangnirtung
                      - America/Paramaribo
                      - America/Phoenix
                      - America/Port-au-Prince
                      - America/Port_of_Spain
                      - America/Porto_Acre
                      - America/Porto_Velho
                      - America/Puerto_Rico
                      - America/Punta_Arenas
                      - America/Rainy_River
                      - America/Rankin_Inlet
                      - America/Recife
                      - America/Regina
                      - America/Resolute
                      - America/Rio_Branco
                      - America/Rosario
                      - America/Santa_Isabel
                      - America/Santarem
[...]
