openapi: 3.0.0
info:
  title: Clio API Documentation Activities Medical Records Details API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Medical Records Details
  description: 'Medical Records Details allow you to track requests for medical records and medical bills, track treatment dates, follow up on requests, upload medical files, and track liens and outstanding balances that need to be paid out of the settlement all in one place.


    Medical Records Details can be found in the Matters page under the Medical Records sub tab.


    [Support Link](https://help.clio.com/hc/en-us/articles/15815962459931-Medical-Records)

    '
paths:
  /medical_records_details.json:
    get:
      tags:
      - Medical Records Details
      summary: Return the data for all Medical Records Details
      operationId: MedicalRecordsRequest#index
      description: 'Outlines the parameters, optional and required, used when requesting the data for all Medical Records Details

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter MedicalRecordsRequest records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter MedicalRecordsRequest records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: 'A limit on the number of Medical Records Detail records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: treatment_end_date
        in: query
        description: Filters Medical Records data by treatment end date.
        required: false
        schema:
          type: string
          format: date-time
      - name: treatment_start_date
        in: query
        description: Filters Medical Records data by treatment start date.
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_since
        in: query
        description: Filter MedicalRecordsRequest records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicalRecordsRequest_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Medical Records Details
      summary: Creating a Medical Records Detail, Medical Records and Medical Bills
      operationId: MedicalRecordsRequest#create
      description: 'This endpoint allows a creation of a Medical Records Detail, multiple Medical Records and Medical Bills.

        Medical Liens can also be created as a property under Medical Bills.


        Reference the payload to see how the records are being passed in.

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicalRecordsRequest_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Medical Records Details
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    matter_id:
                      type: integer
                      format: int64
                      description: The ID of the matter that the Medical Records Detail belongs to.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                              required:
                              - amount
                              - holder_id
                              - mark_as_lien
                        required:
                        - adjustment
                        - amount
                        - balance
                        - name
                        - mark_balance_type_as
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                        required:
                        - document_id
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
                  required:
                  - bills_status
                  - in_treatment
                  - matter_id
                  - medical_provider_id
                  - records_status
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    matter_id:
                      type: integer
                      format: int64
                      description: The ID of the matter that the Medical Records Detail belongs to.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                              required:
                              - amount
                              - holder_id
                              - mark_as_lien
                        required:
                        - adjustment
                        - amount
                        - balance
                        - name
                        - mark_balance_type_as
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                        required:
                        - document_id
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
                  required:
                  - bills_status
                  - in_treatment
                  - matter_id
                  - medical_provider_id
                  - records_status
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    matter_id:
                      type: integer
                      format: int64
                      description: The ID of the matter that the Medical Records Detail belongs to.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                              required:
                              - amount
                              - holder_id
                              - mark_as_lien
                        required:
                        - adjustment
                        - amount
                        - balance
                        - name
                        - mark_balance_type_as
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                        required:
                        - document_id
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
                  required:
                  - bills_status
                  - in_treatment
                  - matter_id
                  - medical_provider_id
                  - records_status
        required: false
  /medical_records_details/{id}.json:
    get:
      tags:
      - Medical Records Details
      summary: Return the data for a single Medical Records Detail
      operationId: MedicalRecordsRequest#show
      description: 'Outlines the parameters, optional and required, used when requesting the data for a single Medical Records Details

        '
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Medical Records Detail.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicalRecordsRequest_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Medical Records Details
      summary: Updating a Medical Records Detail
      operationId: MedicalRecordsRequest#update
      description: 'If there are records being passed into the Medical Records or Medical Bills parameter they will be treated

        as new records and new Medical Records / Medical Bills will be created.

        '
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Medical Records Detail.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicalRecordsRequest_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Medical Records Details
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    bills_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Bills. (Expects an ISO-8601 date).
                    bills_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Bills. (Expects an ISO-8601 date).
                    bills_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Bills.
                    description:
                      type: string
                      description: Detailed description of the Medical Records Detail.
                    in_treatment:
                      type: boolean
                      description: True or false value to record if the treatment has been completed.
                    medical_bills:
                      type: array
                      items:
                        type: object
                        properties:
                          adjustment:
                            type: number
                            format: double
                            description: Adjustment for Medical Bill.
                          amount:
                            type: number
                            format: double
                            description: Amount for Medical Bill.
                          balance:
                            type: number
                            format: double
                            description: Balance for Medical Bill.
                          bill_date:
                            type: string
                            format: date
                            description: Bill date for Medical Bill. (Expects an ISO-8601 date).
                          bill_received_date:
                            type: string
                            format: date
                            description: Bill received date for Medical Bill. (Expects an ISO-8601 date).
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: Name for Medical Bill.
                          mark_balance_type_as:
                            type: string
                            enum:
                            - lien
                            - outstanding_balance
                            - neither
                            description: Mark balance as lien, outstanding balance, or neither
                          payers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  format: double
                                  description: Lien amount.
                                holder_id:
                                  type: integer
                                  format: int64
                                  description: The unique identifier for a single Damage associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                                mark_as_lien:
                                  type: boolean
                                  description: Mark record as Lien.
                    medical_provider_id:
                      type: integer
                      format: int64
                      description: The unique identifier for a single Medical Provider associated with this Medical Records Detail.
                    medical_records:
                      type: array
                      items:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single MedicalRecord associated with the MedicalRecordsRequest. The keyword `null` is not valid for this field.
                          end_date:
                            type: string
                            format: date-time
                            description: End date for Medical Record.
                          start_date:
                            type: string
                            format: date-time
                            description: Start date for Medical Record.
                    records_follow_up_date:
                      type: string
                      format: date-time
                      description: Follow up date for Medical Records. (Expects an ISO-8601 date).
                    records_request_date:
                      type: string
                      format: date-time
                      description: Requested date for Medical Records. (Expects an ISO-8601 date).
                    records_status:
                      type: string
                      enum:
                      - not_yet_requested
                      - requested
                      - received
                      - incomplete
                      - certified
                      description: Current status for the Medical Records.
                    treatment_end_date:
                      type: string
                      format: date-time
                      description: End date for the treatment. (Expects an ISO-8601 date).
                    treatment_start_date:
                      type: string
                      format: date-time
                      description: Start date for the treatment. (Expects an ISO-8601 date).
        required: false
    delete:
      tags:
      - Medical Records Details
      summary: Destroying a Medical Records Detail
      operationId: MedicalRecordsRequest#destroy
      description: 'When a Medical Records Detail is destroyed, the child records, such as Medical Records, Medical Bills and Liens

        will also be destroyed in the same transaction.

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Medical Records Detail.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    MedicalRecordsRequest_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: MedicalRecordsRequest List Response
          items:
            $ref: '#/components/schemas/MedicalRecordsRequest'
    MedicalRecord_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MedicalRecord*
        document_id:
          type: integer
          format: int64
          description: The id of the document associated with the Medical Record
        etag:
          type: string
          description: ETag for the *MedicalRecord*
        end_date:
          type: string
          format: date-time
          description: End date for *MedicalRecord* (as a ISO-8601 date)
        start_date:
          type: string
          format: date-time
          description: Start date for *MedicalRecord* (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *MedicalRecord* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *MedicalRecord* was last updated (as a ISO-8601 timestamp)
    MedicalRecordsRequest_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MedicalRecordsRequest*
        etag:
          type: string
          description: ETag for the *MedicalRecordsRequest*
        bills_follow_up_date:
          type: string
          format: date-time
          description: Follow up date for Medical Bills (as a ISO-8601 date)
        bills_request_date:
          type: string
          format: date-time
          description: Date for when the Medical Bills were requested (as a ISO-8601 date)
        bills_status:
          type: string
          enum:
          - not_yet_requested
          - requested
          - received
          - incomplete
          - certified
          description: Medical Bills status
        description:
          type: string
          description: Description of the Medical Records Detail
        in_treatment:
          type: boolean
          description: Treatment status for Medical Records Detail
        records_follow_up_date:
          type: string
          format: date-time
          description: Follow up date for Medical Records (as a ISO-8601 date)
        records_request_date:
          type: string
          format: date-time
          description: Date for when the Medical Records were requested (as a ISO-8601 date)
        records_status:
          type: string
          enum:
          - not_yet_requested
          - requested
          - received
          - incomplete
          - certified
          description: Medical Records status
        treatment_end_date:
          type: string
          format: date-time
          description: Treatment end date for Medical Records Detail (as a ISO-8601 date)
        treatment_start_date:
          type: string
          format: date-time
          description: Treatment start date for Medical Records Detail (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *MedicalRecordsRequest* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *MedicalRecordsRequest* was last updated (as a ISO-8601 timestamp)
    MedicalRecordsRequest:
      allOf:
      - $ref: '#/components/schemas/MedicalRecordsRequest_base'
      - type: object
        properties:
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          medical_provider:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          medical_bills:
            type: array
            items:
              $ref: '#/components/schemas/MedicalBill_base'
            description: MedicalBill
          medical_records:
            type: array
            items:
              $ref: '#/components/schemas/MedicalRecord_base'
            description: MedicalRecord
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    MedicalRecordsRequest_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/MedicalRecordsRequest'
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    MedicalBill_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *MedicalBill*
        adjustment:
          type: number
          format: double
          description: Adjustment for Medical Bill
        amount:
          type: number
          format: double
          description: Amount for Medical Bill
        bill_date:
          type: string
          format: date
          description: Bill date for Medical Bill (as a ISO-8601 date)
        bill_received_date:
          type: string
          format: date
          description: Bill received date for Medical Bill (as a ISO-8601 date)
        damage_type:
          type: string
          description: Damage Type
        document_id:
          type: integer
          format: int64
          description: The id of the document associated with the Medical Bill
        etag:
          type: string
          description: ETag for the *MedicalBill*
        name:
          type: string
          description: Name of the Medical Bill
        created_at:
          type: string
          format: date-time
          description: The time the *MedicalBill* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *MedicalBill* was last updated (as a ISO-8601 timestamp)
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
