openapi: 3.2.0
info:
  title: Clio API Documentation Reports API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Reports
  description: ''
paths:
  /reports/{id}/download.json:
    get:
      tags:
      - Reports
      summary: Download the completed Report
      operationId: Report#download
      parameters:
      - name: id
        in: path
        description: The unique identifier for the Report.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '303':
          description: See Other
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /reports.json:
    get:
      tags:
      - Reports
      summary: Return the data for all Reports
      operationId: Report#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Reports
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Filters Report data by category.
        required: false
        schema:
          type: string
      - name: created_before
        in: query
        description: Filters Report data by date. (Expects an ISO-8601 date).
        required: false
        schema:
          type: string
          format: date-time
      - name: created_since
        in: query
        description: Filter Report records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Report records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: kind
        in: query
        description: Filters Report data by kind.
        required: false
        schema:
          type: string
          enum:
          - accounts_receivable
          - accounts_receivable_aging
          - bank_account_activity
          - billing_history
          - billing_rate
          - client_activity
          - client_ledger
          - clio_payments_deposit
          - clio_payments_ledger
          - clio_payments_monthly_statement
          - clio_payments_sales_tax
          - clio_payments_transaction
          - contact_information
          - currency_conversion_gain_loss
          - disbursement_payment
          - fee_allocation
          - general_ledger
          - grant_matters
          - invoice_payments_v2
          - law_society_of_alberta
          - law_society_of_alberta_al
          - law_society_of_alberta_bar
          - law_society_of_alberta_tl
          - law_society_of_alberta_tt
          - matter
          - matter_balance_summary
          - matter_ledger_full
          - matter_productivity_by_user
          - matters_by_responsible_attorney
          - originating_attorney_revenue
          - other_revenue
          - potential_trust_to_office
          - productivity_by_client
          - productivity_by_user
          - revenue
          - task_productivity_by_user
          - task_progress_by_user
          - trust_ledger
          - trust_ledger_nsw
          - trust_listing
          - trust_management
          - work_in_progress
      - name: limit
        in: query
        description: 'A limit on the number of Report records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: output_format
        in: query
        description: Filters Report data by format.
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: Wildcard search for Report name.
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: Filters Report data by source.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Filters Report data by state.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter Report records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Report_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Reports
      summary: Create a new Report
      operationId: Report#create
      description: Outlines the parameters and data fields used when creating a new Report
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Report_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Reports
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Report. The keyword `null` is not valid for this field.
                    end_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    format:
                      type: string
                      enum:
                      - csv
                      - html
                      - json
                      - pdf
                      - xlsx
                      - zip
                      description: What format the Report will be generated in.
                    kind:
                      type: string
                      enum:
                      - accounts_receivable
                      - accounts_receivable_aging
                      - bank_account_activity
                      - billing_history
                      - billing_rate
                      - client_activity
                      - client_ledger
                      - clio_payments_deposit
                      - clio_payments_ledger
                      - clio_payments_monthly_statement
                      - clio_payments_sales_tax
                      - clio_payments_transaction
                      - contact_information
                      - currency_conversion_gain_loss
                      - disbursement_payment
                      - fee_allocation
                      - general_ledger
                      - grant_matters
                      - invoice_payments_v2
                      - law_society_of_alberta
                      - law_society_of_alberta_al
                      - law_society_of_alberta_bar
                      - law_society_of_alberta_tl
                      - law_society_of_alberta_tt
                      - matter
                      - matter_balance_summary
                      - matter_ledger_full
                      - matter_productivity_by_user
                      - matters_by_responsible_attorney
                      - originating_attorney_revenue
                      - other_revenue
                      - potential_trust_to_office
                      - productivity_by_client
                      - productivity_by_user
                      - revenue
                      - task_productivity_by_user
                      - task_progress_by_user
                      - trust_ledger
                      - trust_ledger_nsw
                      - trust_listing
                      - trust_management
                      - work_in_progress
                      description: What kind of Report will be generated.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Report. The keyword `null` is not valid for this field.
                    originating_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the Report. The keyword `null` is not valid for this field.
                    responsible_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    start_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    year:
                      type: string
                      description: Filters Report data by year. Sets start_date and end_date. (Expects a year).
                  required:
                  - format
                  - kind
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Report. The keyword `null` is not valid for this field.
                    end_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    format:
                      type: string
                      enum:
                      - csv
                      - html
                      - json
                      - pdf
                      - xlsx
                      - zip
                      description: What format the Report will be generated in.
                    kind:
                      type: string
                      enum:
                      - accounts_receivable
                      - accounts_receivable_aging
                      - bank_account_activity
                      - billing_history
                      - billing_rate
                      - client_activity
                      - client_ledger
                      - clio_payments_deposit
                      - clio_payments_ledger
                      - clio_payments_monthly_statement
                      - clio_payments_sales_tax
                      - clio_payments_transaction
                      - contact_information
                      - currency_conversion_gain_loss
                      - disbursement_payment
                      - fee_allocation
                      - general_ledger
                      - grant_matters
                      - invoice_payments_v2
                      - law_society_of_alberta
                      - law_society_of_alberta_al
                      - law_society_of_alberta_bar
                      - law_society_of_alberta_tl
                      - law_society_of_alberta_tt
                      - matter
                      - matter_balance_summary
                      - matter_ledger_full
                      - matter_productivity_by_user
                      - matters_by_responsible_attorney
                      - originating_attorney_revenue
                      - other_revenue
                      - potential_trust_to_office
                      - productivity_by_client
                      - productivity_by_user
                      - revenue
                      - task_productivity_by_user
                      - task_progress_by_user
                      - trust_ledger
                      - trust_ledger_nsw
                      - trust_listing
                      - trust_management
                      - work_in_progress
                      description: What kind of Report will be generated.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Report. The keyword `null` is not valid for this field.
                    originating_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the Report. The keyword `null` is not valid for this field.
                    responsible_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    start_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    year:
                      type: string
                      description: Filters Report data by year. Sets start_date and end_date. (Expects a year).
                  required:
                  - format
                  - kind
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Contact associated with the Report. The keyword `null` is not valid for this field.
                    end_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    format:
                      type: string
                      enum:
                      - csv
                      - html
                      - json
                      - pdf
                      - xlsx
                      - zip
                      description: What format the Report will be generated in.
                    kind:
                      type: string
                      enum:
                      - accounts_receivable
                      - accounts_receivable_aging
                      - bank_account_activity
                      - billing_history
                      - billing_rate
                      - client_activity
                      - client_ledger
                      - clio_payments_deposit
                      - clio_payments_ledger
                      - clio_payments_monthly_statement
                      - clio_payments_sales_tax
                      - clio_payments_transaction
                      - contact_information
                      - currency_conversion_gain_loss
                      - disbursement_payment
                      - fee_allocation
                      - general_ledger
                      - grant_matters
                      - invoice_payments_v2
                      - law_society_of_alberta
                      - law_society_of_alberta_al
                      - law_society_of_alberta_bar
                      - law_society_of_alberta_tl
                      - law_society_of_alberta_tt
                      - matter
                      - matter_balance_summary
                      - matter_ledger_full
                      - matter_productivity_by_user
                      - matters_by_responsible_attorney
                      - originating_attorney_revenue
                      - other_revenue
                      - potential_trust_to_office
                      - productivity_by_client
                      - productivity_by_user
                      - revenue
                      - task_productivity_by_user
                      - task_progress_by_user
                      - trust_ledger
                      - trust_ledger_nsw
                      - trust_listing
                      - trust_management
                      - work_in_progress
                      description: What kind of Report will be generated.
                    matter:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single Matter associated with the Report. The keyword `null` is not valid for this field.
                    originating_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    practice_area:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single PracticeArea associated with the Report. The keyword `null` is not valid for this field.
                    responsible_attorney:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    start_date:
                      type: string
                      format: date
                      description: Filters Report data by date. (Expects an ISO-8601 date).
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single User associated with the Report. The keyword `null` is not valid for this field.
                    year:
                      type: string
                      description: Filters Report data by year. Sets start_date and end_date. (Expects a year).
                  required:
                  - format
                  - kind
        required: false
  /reports/{id}.json:
    get:
      tags:
      - Reports
      summary: Return the data for a single Report
      operationId: Report#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Report
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Report.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Report_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
components:
  schemas:
    Report_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Report List Response
          items:
            $ref: '#/components/schemas/Report'
    Report:
      allOf:
      - $ref: '#/components/schemas/Report_base'
      - type: object
        properties: {}
    Report_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Report'
    Report_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Report*
        etag:
          type: string
          description: ETag for the *Report*
        name:
          type: string
          description: A specified name for the report
        state:
          type: string
          enum:
          - not_started
          - queued
          - in_progress
          - failed
          - completed
          - empty
          description: The current state of the report
        kind:
          type: string
          enum:
          - accounts_receivable
          - accounts_receivable_aging
          - bank_account_activity
          - billing_history
          - billing_rate
          - client_activity
          - client_ledger
          - clio_payments_deposit
          - clio_payments_ledger
          - clio_payments_monthly_statement
          - clio_payments_sales_tax
          - clio_payments_transaction
          - contact_information
          - currency_conversion_gain_loss
          - disbursement_payment
          - fee_allocation
          - general_ledger
          - grant_matters
          - invoice_payments_v2
          - law_society_of_alberta
          - law_society_of_alberta_al
          - law_society_of_alberta_bar
          - law_society_of_alberta_tl
          - law_society_of_alberta_tt
          - matter
          - matter_balance_summary
          - matter_ledger_full
          - matter_productivity_by_user
          - matters_by_responsible_attorney
          - originating_attorney_revenue
          - other_revenue
          - potential_trust_to_office
          - productivity_by_client
          - productivity_by_user
          - revenue
          - task_productivity_by_user
          - task_progress_by_user
          - trust_ledger
          - trust_ledger_nsw
          - trust_listing
          - trust_management
          - work_in_progress
          description: The kind of report to generate
        format:
          type: string
          enum:
          - csv
          - html
          - json
          - pdf
          - xlsx
          - zip
          description: The requested format of the report
        progress:
          type: integer
          format: int32
          description: The integer percentage of how complete the report is.
        created_at:
          type: string
          format: date-time
          description: The time the *Report* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Report* was last updated (as a ISO-8601 timestamp)
        category:
          type: string
          enum:
          - billing
          - client
          - compliance
          - financial
          - matter
          - online_payments
          - productivity
          - revenue
          - task
          description: The category of the report
        source:
          type: string
          enum:
          - reports
          - presets
          - scheduled
          description: The source of the report
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
