openapi: 3.2.0
info:
  title: Clio API Documentation Civil Certificated Rates API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Civil Certificated Rates
  description: 'This endpoint provides the Legal Aid civil certificated rates, which are the prescribed reimbursement rates for legal services provided under the Legal Aid Scheme.


    Support Link'
paths:
  /lauk_civil_certificated_rates.json:
    get:
      tags:
      - Civil Certificated Rates
      summary: List Civil Certificated Rates
      operationId: LaukCivilCertificatedRate#index
      description: Outlines the parameters, optional and required, used when requesting the data for all LaukCivilCertificatedRates
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: activity
        in: query
        description: Filter by activity.
        required: false
        schema:
          type: string
      - name: activity_sub_category
        in: query
        description: Filter by activity sub-category.
        required: false
        schema:
          type: string
      - name: attended_several_hearings_for_multiple_clients
        in: query
        description: Filter by whether multiple hearings were attended for multiple clients.
        required: false
        schema:
          type: boolean
      - name: category_of_law
        in: query
        description: Filter by category of law.
        required: false
        schema:
          type: string
      - name: change_of_solicitor
        in: query
        description: Filter by change of solicitor status.
        required: false
        schema:
          type: boolean
      - name: court
        in: query
        description: Filter by court.
        required: false
        schema:
          type: string
      - name: eligible_for_sqm
        in: query
        description: Filter by SQM eligibility.
        required: false
        schema:
          type: boolean
      - name: fee_scheme
        in: query
        description: Fee scheme
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: first_conducting_solicitor
        in: query
        description: Filter by first conducting solicitor status.
        required: false
        schema:
          type: boolean
      - name: key
        in: query
        description: Filter by key.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of LaukCivilCertificatedRate records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: number_of_clients
        in: query
        description: Filter by number of clients.
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: party
        in: query
        description: Filter by party.
        required: false
        schema:
          type: string
      - name: post_transfer_clients_represented
        in: query
        description: Filter by post-transfer clients represented.
        required: false
        schema:
          type: string
      - name: rate_type
        in: query
        description: Filter by rate type.
        required: false
        schema:
          type: string
      - name: region
        in: query
        description: Filter by region.
        required: false
        schema:
          type: string
      - name: session_type
        in: query
        description: Filter by session type.
        required: false
        schema:
          type: string
      - name: user_type
        in: query
        description: Filter by user type.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LaukCivilCertificatedRate_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LaukCivilCertificatedRate:
      allOf:
      - $ref: '#/components/schemas/LaukCivilCertificatedRate_base'
      - type: object
        properties: {}
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    LaukCivilCertificatedRate_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *LaukCivilCertificatedRate*
        activity:
          type: string
          description: Activity of the *LaukCivilCertificatedRate*
        activity_sub_category:
          type: string
          description: Activity sub-category
        activity_type:
          type: string
          description: Activity type
        attended_several_hearings_for_multiple_clients:
          type: boolean
          description: Multiple hearings for multiple clients indicator
        category_of_law:
          type: string
          description: Category of law
        created_at:
          type: string
          format: date-time
          description: The time the *LaukCivilCertificatedRate* was created (as a ISO-8601 timestamp)
        change_of_solicitor:
          type: boolean
          description: Change of solicitor indicator
        court:
          type: string
          description: Court associated
        eligible_for_sqm:
          type: boolean
          description: SQM eligibility (Legal Aid England and Wales)
        exceptional:
          type: number
          format: decimal
          description: Fee applied for high activity count
        exceptional_warning:
          type: string
          description: Warning for exceptional status
        etag:
          type: string
          description: ETag for the *LaukCivilCertificatedRate*
        fee:
          type: number
          format: decimal
          description: Fee amount
        fee_scheme:
          type: string
          description: Fee scheme
        first_conducting_solicitor:
          type: boolean
          description: First conducting solicitor indicator
        key:
          type: string
          description: Unique key
        number_of_clients:
          type: string
          description: Number of clients
        party:
          type: string
          description: Associated party
        post_transfer_clients_represented:
          type: string
          description: Post-transfer clients represented
        rate_type:
          type: string
          description: Rate type
        region:
          type: string
          description: Region
        session_type:
          type: string
          description: Session type
        user_type:
          type: string
          description: User type
        updated_at:
          type: string
          format: date-time
          description: The time the *LaukCivilCertificatedRate* was last updated (as a ISO-8601 timestamp)
    LaukCivilCertificatedRate_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: LaukCivilCertificatedRate List Response
          items:
            $ref: '#/components/schemas/LaukCivilCertificatedRate'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
