openapi: 3.0.0
info:
  title: Clio API Documentation Activities Folders API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: "# Developer Support and Feedback\n* Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio's API Support team at [api@clio.com](mailto:api@clio.com).\n* For business and partnership inquiries, contact our API Partnerships team at [api.partnerships@clio.com](mailto:api.partnerships@clio.com).\n* For best practices and tips from the Clio development community, join the conversation in the [Clio Developer Slack Channel](https://join.slack.com/t/clio-public/shared_invite/zt-36i0eqgo1-7POORPtMJpp2N0~_auL2IQ).\n\nA community-driven [Clio Developers Stack Overflow Group](https://stackoverflow.com/questions/tagged/clio-api) also exists where you can connect and ask questions from other Clio API users.\n# Getting Started\n> **Note:** The API is available in four distinct data regions: Australia (au.app.clio.com), Canada (ca.app.clio.com), EU (eu.app.clio.com) and US (app.clio.com).\n>\n> Likewise, the developer portal is available at region-specific links for the [Australia](https://au.developers.clio.com), [Canada](https://ca.developers.clio.com), [EU](https://eu.developers.clio.com), and [US](https://developers.clio.com) regions.\n>\n> This document assumes the US region is being used (app.clio.com). If you're building in one of the other regions, you should adapt the links and examples as necessary.\n\nTo start building on the Clio API, you’ll need a Clio account – you can review our [Developer Handbook](https://docs.developers.clio.com/) and follow the steps to sign up for an account.\n\nOnce you have an account, you can [create a developer application](https://docs.developers.clio.com/api-docs/applications) from the [Developer Portal](https://developers.clio.com) and start building!\n# Authorization with OAuth 2.0\nSee our [Authorization documentation →](https://docs.developers.clio.com/api-docs/authorization)\n# Permissions\nSee our [Permissions documentation →](https://docs.developers.clio.com/api-docs/permissions)\n# Fields\nSee our [Fields documentation →](https://docs.developers.clio.com/api-docs/fields)\n# Rate Limiting\nSee our [Rate Limits documentation →](https://docs.developers.clio.com/api-docs/rate-limits)\n# Paging\nSee our [Pagination documentation →](https://docs.developers.clio.com/api-docs/paging)\n# ETags\nSee our [ETags documentation →](https://docs.developers.clio.com/api-docs/etags)\n# Minor Versions\nAPI v4 supports multiple minor versions. Versions are of the form '4.X.Y'. To request a specific version, you can use an `X-API-VERSION` header in your request, with the header value set to the API version you're requesting. If this header is omitted, it will be treated as a request for the default API version. If the header is present but invalid, it will return a `410 Gone` response. If the header is present and valid, but it is no longer supported, it will return a `410 Gone` response.\n\nAn `X-API-VERSION` will be included in all successful responses, with the value being set to the API version used.\n\nYou can find our [API Versioning Policy and Guidelines](https://docs.developers.clio.com/api-docs/api-versioning-policy) in our documentation hub.\n\nThe [API Changelog](https://docs.developers.clio.com/api-docs/api-changelog) explains each version's changes in further detail.\n### [4.0.4](https://docs.developers.clio.com/api-docs/api-changelog#404)\n\n  * Update `quantity` field to return values in seconds rather than hours for Activities\n\n### [4.0.5](https://docs.developers.clio.com/api-docs/api-changelog#405)\n\n  * Remove `matter_balances` field from Bills\n* Standardize status/state enum values\n* Add a Document association to completed DocumentAutomations\n* Add rate visibility handling for Activity's price and total\n\n### [4.0.6](https://docs.developers.clio.com/api-docs/api-changelog#406)\n\n  * Remove `document_versions` collection field from Documents\n\n### [4.0.7](https://docs.developers.clio.com/api-docs/api-changelog#407)\n\n  * Change secure link format\n\n### [4.0.8](https://docs.developers.clio.com/api-docs/api-changelog#408)\n\n  * `Activity` hours are redacted in the response based on the activity hours visibility setting for the user\n  * Add `quantity_redacted` field to activities\n\n### [4.0.9](https://docs.developers.clio.com/api-docs/api-changelog#409)\n\n  * Contacts are filtered and redacted in the response based on the new 'Contacts Visibility' user permission setting.\n\n### [4.0.10](https://docs.developers.clio.com/api-docs/api-changelog#4010)\n\n  * Fixed validation of `type` query parameter when querying Notes\n\n### [4.0.12](https://docs.developers.clio.com/api-docs/api-changelog#4012)\n\n  * Restrict fields for CalendarEntry that should only be visible to event owners, editors, and viewers\n\n### [4.0.13](https://docs.developers.clio.com/api-docs/api-changelog#4013)\n\n  **This is the default version**\n\n  * Add association limits to Contacts\n* Returns 422 Unprocessable Entity when association limits are exceeded\n\n\n"
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Folders
  description: 'Files stored in Clio’s Documents section are organized in folders. Folders are automatically generated for new Contacts and Matters. Folders can also be manually created anywhere in the folder structure.


    [Support Link](https://help.clio.com/hc/en-us/articles/9290308200091-Generate-Manage-and-Share-Documents#manage-documents-in-clio-manage-0-4)

    '
paths:
  /folders/list.json:
    get:
      tags:
      - Folders
      summary: Return the data of the contents of a Folder
      operationId: Folder#list
      description: 'Return the data of the contents of a Folder.


        Note: offset pagination is not supported for this endpoint. Use cursor pagination if you''re looking to paginate through the results.

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: contact_id
        in: query
        description: The unique identifier for a single Contact. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Folder records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: document_category_id
        in: query
        description: The unique identifier for a single DocumentCategory. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: external_property_name
        in: query
        description: 'Filter records to only those with the given external property(s) name set.


          e.g. `?external_property_name=Name`

          '
        required: false
        schema:
          type: string
      - name: external_property_value
        in: query
        description: 'Filter records to only those with the given external property(s) value set. Requires external property name as well.


          e.g. `?external_property_name=Name&external_property_value=Value`

          '
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Folder records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: include_deleted
        in: query
        description: Allow trashed Folder record to be included.
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'A limit on the number of Folder records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Folder records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - document_number(asc)
          - document_number(desc)
          - name(asc)
          - name(desc)
          - updated_at(asc)
          - updated_at(desc)
          - created_at(asc)
          - created_at(desc)
          - received_at(asc)
          - received_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: parent_id
        in: query
        description: 'The unique identifier for a single Folder.


          When returning the data of the contents of a Folder, the keyword `null` is not valid for this field. If no Folder is provided, it will default to the account''s root Folder.


          When returning the data for all Folders, use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.

          '
        required: false
        schema:
          type: integer
          format: int64
      - name: query
        in: query
        description: Wildcard search for `name` matching the given string.
        required: false
        schema:
          type: string
      - name: scope
        in: query
        description: Filters Folder record to those being a child of the parent Folder, or a descendant of the parent Folder. Default is `children`.
        required: false
        schema:
          type: string
          enum:
          - descendants
          - children
      - name: show_uncompleted
        in: query
        description: Allow Folder record being uploaded to be included.
        required: false
        schema:
          type: boolean
      - name: updated_since
        in: query
        description: Filter Folder records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Item_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
  /folders.json:
    get:
      tags:
      - Folders
      summary: Return the data for all Folders
      operationId: Folder#index
      description: Outlines the parameters, optional and required, used when requesting the data for all Folders
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: contact_id
        in: query
        description: The unique identifier for a single Contact. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: created_since
        in: query
        description: Filter Folder records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: document_category_id
        in: query
        description: The unique identifier for a single DocumentCategory. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: external_property_name
        in: query
        description: 'Filter records to only those with the given external property(s) name set.


          e.g. `?external_property_name=Name`

          '
        required: false
        schema:
          type: string
      - name: external_property_value
        in: query
        description: 'Filter records to only those with the given external property(s) value set. Requires external property name as well.


          e.g. `?external_property_name=Name&external_property_value=Value`

          '
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter Folder records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: include_deleted
        in: query
        description: Allow trashed Folder record to be included.
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'A limit on the number of Folder records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: matter_id
        in: query
        description: The unique identifier for a single Matter. Use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.
        required: false
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: 'Orders the Folder records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - updated_at(asc)
          - updated_at(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: parent_id
        in: query
        description: 'The unique identifier for a single Folder.


          When returning the data of the contents of a Folder, the keyword `null` is not valid for this field. If no Folder is provided, it will default to the account''s root Folder.


          When returning the data for all Folders, use the keyword `null` to match those without a Folder. The list will be filtered to include only the Folder records with the matching property.

          '
        required: false
        schema:
          type: integer
          format: int64
      - name: query
        in: query
        description: Wildcard search for `name` matching the given string.
        required: false
        schema:
          type: string
      - name: scope
        in: query
        description: Filters Folder record to those being a child of the parent Folder, or a descendant of the parent Folder. Default is `children`.
        required: false
        schema:
          type: string
          enum:
          - descendants
          - children
      - name: updated_since
        in: query
        description: Filter Folder records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Folder_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Folders
      summary: Create a new Folder
      operationId: Folder#create
      description: 'Create a Folder to an existing folder.

        '
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Folder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Folders
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
                  required:
                  - name
                  - parent
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
                  required:
                  - name
                  - parent
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                      required:
                      - id
                      - type
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
                  required:
                  - name
                  - parent
        required: false
  /folders/{id}.json:
    get:
      tags:
      - Folders
      summary: Return the data for a single Folder
      operationId: Folder#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single Folder
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Folder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Folder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Folders
      summary: Update a single Folder
      operationId: Folder#update
      description: 'Update Folder, move Folder to another Folder, and/or restore a trashed Folder.

        '
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Folder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Folder_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Folders
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Folder. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Folder.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Folder. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Folder.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    document_category:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier for a single DocumentCategory associated with the Folder. Use the keyword `null` to specify no association.
                    external_properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: The unique identifier for a single ExternalProperty associated with the Folder. The keyword `null` is not valid for this field.
                          name:
                            type: string
                            description: 'The ExternalProperty name. Note: **there is a limit of 5 external_properties per Folder**'
                          value:
                            type: string
                            description: The ExternalProperty value.
                          _destroy:
                            type: boolean
                            description: The destroy flag. If the flag is set to `true` and the unique identifier of the associated ExternalProperty is present, the ExternalProperty is deleted from the Folder.
                    name:
                      type: string
                      description: Name of the Folder
                    parent:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: The unique identifier of the parent object.
                        type:
                          type: string
                          enum:
                          - Folder
                          - Contact
                          - Matter
                          description: 'Type of parent object:

                            * "Folder" represents a specified folder on Clio by folder id. It if specified when you add / move an item to a folder.

                            * "Contact" represents a contact folder on Clio identified by contact id. It is specified when you add / move an item to a contact folder. A contact folder will be created for the specified contact if none exists already.

                            * "Matter" represents a matter folder on Clio identified by matter id. It is specified when you add / move an item to a matter folder.

                            '
                    restore:
                      type: boolean
                      description: Whether or not a trashed Folder should be restored.
        required: false
    delete:
      tags:
      - Folders
      summary: Delete a single Folder
      operationId: Folder#destroy
      description: "Deleting a Folder using this method will move it to the trash instead of permanently deleting it. Trashed Folders are permanently deleted after 30 days. The following errors may be returned:\n\n- `400 Bad Request`: The Folder cannot be trashed. The `type` of the error will be `DeleteFailed` and the `message` of the error will be one of the following:\n  - `Delete failed: This folder contains more than 100,000 items and cannot be trashed. Please trash some of the items inside it before trying again.`\n  - `Delete failed: This item contains locked items and cannot be deleted.`\n  - `Delete failed: The root folder cannot be trashed`\n- `409 Conflict`: The Folder (or one of its descendants) is currently being modified by another request, and cannot be trashed.\n"
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the Folder.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Group_base:
      type: object
      properties:
        client_connect_user:
          type: boolean
          description: Whether or not the Group is a UserGroup for a Clio Connect User
        etag:
          type: string
          description: ETag for the *Group*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Group*
        name:
          type: string
          description: The name of the *Group*
        type:
          type: string
          enum:
          - UserGroup
          - AdhocGroup
          - AccountGroup
          - TeamGroup
          description: The type of the *Group*
        updated_at:
          type: string
          format: date-time
          description: The time the *Group* was last updated (as a ISO-8601 timestamp)
    Folder:
      allOf:
      - $ref: '#/components/schemas/Folder_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    ClioCreator_base:
      type: object
      properties:
        account_owner:
          type: boolean
          description: Whether the *ClioCreator* is the owner of the account
        clio_connect:
          type: boolean
          description: Whether the *ClioCreator* is a Clio Connect user
        court_rules_default_attendee:
          type: boolean
          description: Whether the *ClioCreator* is a default attendee for court rules events
        default_calendar_id:
          type: integer
          format: int64
          description: Default calendar id for *ClioCreator*.
        email:
          type: string
          description: The email of the *ClioCreator*
        enabled:
          type: boolean
          description: Whether the *ClioCreator* is allowed to log in
        etag:
          type: string
          description: ETag for the *ClioCreator*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ClioCreator*
        type:
          type: string
          enum:
          - ManageUser
          - ClientUser
          description: The type of the *ClioCreator*
        initials:
          type: string
          description: The initials of the *ClioCreator*
        first_name:
          type: string
          description: The first name of the *ClioCreator*
        last_name:
          type: string
          description: The last name of the *ClioCreator*
        name:
          type: string
          description: The full name of the *ClioCreator*
        phone_number:
          type: string
          description: The primary phone number for the *ClioCreator*.
        rate:
          type: number
          format: float
          description: Default user activity rate for *ClioCreator*.
        subscription_type:
          type: string
          enum:
          - Attorney
          - NonAttorney
          description: The subscription type of the *ClioCreator*
        time_zone:
          type: string
          description: The selected time zone of the *ClioCreator*
        roles:
          type: array
          items:
            type: string
          description: An array of roles assigned to this *ClioCreator*
        created_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ClioCreator* was last updated (as a ISO-8601 timestamp)
    LinkedFolder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Folder*
        etag:
          type: string
          description: ETag for the *Folder*
        created_at:
          type: string
          format: date-time
          description: The time the *Folder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Folder* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Folder* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Folder
          description: The type of the *Folder*
        locked:
          type: boolean
          description: Whether or not the Folder is locked. Locked Folder cannot be modified
        name:
          type: string
          description: The name of the *Folder*
        root:
          type: boolean
          description: Whether or not the Folder is the root folder. There is only one root folder per account
    Item_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Item*
        etag:
          type: string
          description: ETag for the *Item*
        created_at:
          type: string
          format: date-time
          description: The time the *Item* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Item* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Item* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Document
          - Folder
          description: The type of the *Item*
        locked:
          type: boolean
          description: Whether or not the Item is locked. Locked Item cannot be modified
        name:
          type: string
          description: The name of the Item
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    Folder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Folder*
        etag:
          type: string
          description: ETag for the *Folder*
        created_at:
          type: string
          format: date-time
          description: The time the *Folder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Folder* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Folder* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Folder
          description: The type of the *Folder*
        locked:
          type: boolean
          description: Whether or not the Folder is locked. Locked Folder cannot be modified
        name:
          type: string
          description: The name of the Folder
        root:
          type: boolean
          description: Whether or not the Folder is the root folder. There is only one root folder per account
    Folder_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Folder'
    ExternalProperty_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ExternalProperty*
        etag:
          type: string
          description: ETag for the *ExternalProperty*
        name:
          type: string
          description: The name of the *ExternalProperty*
        value:
          type: string
          description: The value of the *ExternalProperty*
        created_at:
          type: string
          format: date-time
          description: The time the *ExternalProperty* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ExternalProperty* was last updated (as a ISO-8601 timestamp)
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    Matter_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Matter*
        etag:
          type: string
          description: ETag for the *Matter*
        number:
          type: integer
          format: int32
          description: The number given to the *Matter* within an account
        display_number:
          type: string
          description: The reference and label of the *Matter*. Depending on the account's manual_matter_numbering setting, this is either read only (generated) or customizable.
        custom_number:
          type: string
          description: User defined custom number of the *Matter*
        currency:
          type: object
          description: Currency of the matter
        description:
          type: string
          description: The detailed description of the *Matter*
        status:
          type: string
          enum:
          - Pending
          - Open
          - Closed
          description: The current status of the *Matter*
        location:
          type: string
          description: The location of the *Matter*
        client_reference:
          type: string
          description: Client Reference string for external uses
        client_id:
          type: integer
          format: int64
          description: Client ID
        billable:
          type: boolean
          description: Whether this matter is billable
        maildrop_address:
          type: string
          description: A unique Maildrop email address for the matter
        billing_method:
          type: string
          enum:
          - flat
          - contingency
          - hourly
          description: Billing method of this matter
        open_date:
          type: string
          format: date
          description: The date the matter was set to open (as a ISO-8601 date)
        close_date:
          type: string
          format: date
          description: The date the matter was set to closed (as a ISO-8601 date)
        pending_date:
          type: string
          format: date
          description: The date the matter was set to pending (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Matter* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Matter* was last updated (as a ISO-8601 timestamp)
        shared:
          type: boolean
          description: Whether the matter is currently shared with Clio Connect
        has_tasks:
          type: boolean
          description: Whether or not the matter has any tasks.
        last_activity_date:
          type: string
          format: date
          description: The greatest date out of all of the activities on the matter (as a ISO-8601 date)
        matter_stage_updated_at:
          type: string
          format: date-time
          description: The date the matter stage was last updated (as a ISO-8601 date)
    Folder_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Folder List Response
          items:
            $ref: '#/components/schemas/Folder'
    DocumentVersion_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentVersion*
        document_id:
          type: integer
          format: int64
          description: The ID of the parent document.
        etag:
          type: string
          description: ETag for the *DocumentVersion*
        uuid:
          type: string
          description: UUID associated with the DocumentVersion. UUID is required to mark a document fully uploaded.
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was last updated (as a ISO-8601 timestamp)
        filename:
          type: string
          description: The uploaded file name of the DocumentVersion.
        size:
          type: integer
          format: int32
          description: The size of the DocumentVersion in bytes.
        version_number:
          type: integer
          format: int32
          description: The ordered number of when this DocumentVersion was uploaded.
        content_type:
          type: string
          description: A standard MIME type describing the format of the object data.
        received_at:
          type: string
          format: date-time
          description: The time the DocumentVersion was received (as an ISO-8601 timestamp)
        put_url:
          type: string
          description: A signed URL for uploading the file in a single operation. It expires in 10 minutes. If the document is fully uploaded, the field is empty.
        fully_uploaded:
          type: boolean
          description: True if the DocumentVersion is uploaded. False if the DocumentVersion is being uploaded.
    Item_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Item List Response
          items:
            $ref: '#/components/schemas/Item'
    Item:
      allOf:
      - $ref: '#/components/schemas/Item_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    DocumentCategory_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentCategory*
        etag:
          type: string
          description: ETag for the *DocumentCategory*
        name:
          type: string
          description: The name of the *DocumentCategory*
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was last updated (as a ISO-8601 timestamp)
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
