openapi: 3.2.0
info:
  title: Clio API Documentation Tax Rate Configurations API
  contact:
    name: Clio API Support
    email: api@clio.com
  description: '# Developer Support and Feedback

    * Clio takes the availability and stability of our API seriously; please report any **degradations** or **breakages** to Clio''s API Support team at api@clio.com.'
  version: v4
  x-logo:
    url: https://www.clio.com/wp-content/uploads/2015/05/Container-5-Logo.png
servers:
- url: https://app.clio.com/api/v4
  description: US region Production Server
- url: https://eu.app.clio.com/api/v4
  description: Europe region Production Server
- url: https://ca.app.clio.com/api/v4
  description: Canada region Production Server
- url: https://au.app.clio.com/api/v4
  description: Australia region Production Server
tags:
- name: Tax Rate Configurations
  description: ''
paths:
  /tax_rate_configurations.json:
    get:
      tags:
      - Tax Rate Configurations
      summary: Return the data for all TaxRateConfigurations
      operationId: TaxRateConfiguration#index
      description: Outlines the parameters, optional and required, used when requesting the data for all TaxRateConfigurations
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: created_since
        in: query
        description: Filter TaxRateConfiguration records to those having the `created_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Filter TaxRateConfiguration records to those having the specified unique identifiers.
        required: false
        schema:
          type: integer
          format: int64
      - name: include_system
        in: query
        description: When true (default), system tax rates ("Do not apply tax", "Tax exempt") are included in the response. Pass include_system=false to exclude them.
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'A limit on the number of TaxRateConfiguration records to be returned. Limit can range between 1 and 200. Default: `200`.'
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        description: 'Orders the TaxRateConfiguration records by the given field. Default: `id(asc)`.'
        required: false
        schema:
          type: string
          enum:
          - id(asc)
          - id(desc)
          - name(asc)
          - name(desc)
          - rate(asc)
          - rate(desc)
      - name: page_token
        in: query
        description: A token specifying which page to return.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Filter TaxRateConfiguration records to those having the `updated_at` field after a specific time. (Expects an ISO-8601 timestamp).
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaxRateConfiguration_List'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Tax Rate Configurations
      summary: Create a new TaxRateConfiguration
      operationId: TaxRateConfiguration#create
      description: Outlines the parameters and data fields used when creating a new TaxRateConfiguration
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaxRateConfiguration_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Tax Rate Configurations
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
                  required:
                  - name
                  - rate
                  - country
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
                  required:
                  - name
                  - rate
                  - country
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
                  required:
                  - name
                  - rate
                  - country
        required: false
  /tax_rate_configurations/{id}.json:
    get:
      tags:
      - Tax Rate Configurations
      summary: Return the data for a single TaxRateConfiguration
      operationId: TaxRateConfiguration#show
      description: Outlines the parameters, optional and required, used when requesting the data for a single TaxRateConfiguration
      parameters:
      - name: IF-MODIFIED-SINCE
        in: header
        description: The server will send the requested resource with a 200 status, but only if it has been modified after the given date. (Expects an RFC 2822 timestamp).
        required: false
        schema:
          type: string
          format: date
      - name: IF-NONE-MATCH
        in: header
        description: The server will send the requested resource with a 200 status, but only if the existing resource's [ETag](#section/ETags) doesn't match any of the values listed.
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaxRateConfiguration.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaxRateConfiguration_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '304':
          description: Not Modified
    patch:
      tags:
      - Tax Rate Configurations
      summary: Update a single TaxRateConfiguration
      operationId: TaxRateConfiguration#update
      description: Outlines the parameters and data fields used when updating a single TaxRateConfiguration
      parameters:
      - name: IF-MATCH
        in: header
        description: The server will update the requested resource and send back a 200 status, but only if value in the header matches the existing resource's [ETag](#section/ETags).
        required: false
        schema:
          type: string
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned. See response samples for what fields are available. For more information see the [fields section](#section/Fields).
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaxRateConfiguration.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TaxRateConfiguration_Show'
        '400':
          description: Bad Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        description: Request Body for Tax Rate Configurations
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
          multipart/form-data:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  properties:
                    country:
                      type: string
                      description: The country this *TaxRateConfiguration* applies to.
                    name:
                      type: string
                      description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT).
                    rate:
                      type: number
                      format: decimal
                      description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%).
                    region:
                      type: string
                      description: The region (state/province) this *TaxRateConfiguration* applies to, if any.
        required: false
    delete:
      tags:
      - Tax Rate Configurations
      summary: Delete a single TaxRateConfiguration
      operationId: TaxRateConfiguration#destroy
      description: A TaxRateConfiguration can not be deleted if it is a system tax rate, has already been deleted, or is in use — set as an invoice default, used on one or more expenses, used on one or more expense categories, or used in one or more unpaid invoices.
      parameters:
      - name: X-API-VERSION
        in: header
        description: 'The [API minor version](#section/Minor-Versions). Default: latest version.'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier for the TaxRateConfiguration.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TaxRateConfiguration_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *TaxRateConfiguration*
        etag:
          type: string
          description: ETag for the *TaxRateConfiguration*
        name:
          type: string
          description: The human-readable name of the *TaxRateConfiguration* (e.g. HST, GST, VAT)
        rate:
          type: number
          format: decimal
          description: The tax rate as a decimal between -1 and 1 (e.g. `0.13` for 13%)
        rate_as_percentage:
          type: number
          format: decimal
          description: The tax rate expressed as a percentage number (e.g. `13` for 13%)
        formatted_rate_as_percentage:
          type: string
          description: The tax rate formatted for display as a percentage string (e.g. `13%`)
        country:
          type: string
          description: The country this *TaxRateConfiguration* applies to
        region:
          type: string
          description: The region (state/province) this *TaxRateConfiguration* applies to, if any
        is_system:
          type: boolean
          description: Whether this *TaxRateConfiguration* is a system-managed entry (e.g. `Do not apply tax`, `Tax exempt`). System entries cannot be modified or deleted.
        active:
          type: boolean
          description: Whether this *TaxRateConfiguration* is active (not soft-deleted)
        created_at:
          type: string
          format: date-time
          description: The time the *TaxRateConfiguration* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *TaxRateConfiguration* was last updated (as a ISO-8601 timestamp)
    TaxRateConfiguration_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/TaxRateConfiguration'
    TaxRateConfiguration_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: TaxRateConfiguration List Response
          items:
            $ref: '#/components/schemas/TaxRateConfiguration'
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    TaxRateConfiguration:
      allOf:
      - $ref: '#/components/schemas/TaxRateConfiguration_base'
      - type: object
        properties: {}
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
x-tagGroups:
- name: Api
  tags:
  - Custom Actions
  - Webhooks
- name: Activities
  tags:
  - Activities
  - Activity Descriptions
  - Activity Rates
  - Expense Categories
  - Timers
  - Utbms Codes
  - Utbms Sets
- name: Accounting
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Billing
  tags:
  - Bills
  - Billable Clients
  - Billable Matters
  - Bill Themes
  - Interest Charges
  - Line Items
  - Outstanding Client Balances
- name: Calendars
  tags:
  - Calendars
  - Calendar Entries
  - Calendar Entry Event Types
  - Calendar Visibilities
  - Reminders
- name: Clio Payments
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
  - Conversations
  - Conversation Messages
- name: Contacts
  tags:
  - Contacts
  - Email Addresses
  - Phone Numbers
  - Notes
  - Log Entries
- name: Court Rules
  tags:
  - Jurisdictions To Triggers
  - Jurisdictions
  - Matter Dockets
  - Service Types
- name: Custom Fields
  tags:
  - Custom Fields
  - Custom Field Sets
- name: Documents
  tags:
  - Documents
  - Document Versions
  - Folders
  - Document Archives
  - Document Automations
  - Document Categories
  - Document Templates
  - Comments
- name: In-app Notifications
  tags:
  - My Events
  - Event Metrics
- name: Matters
  tags:
  - Matters
  - Relationships
  - Clients
  - Related Contacts
  - Matter Contacts
  - Notes
  - Practice Areas
  - Log Entries
  - Matter Stages
  - Medical Records Details
  - Medical Records
  - Medical Bills
  - Damages
- name: Payments
  tags:
  - Allocations
  - Credit Memos
- name: Reporting
  tags:
  - Reports
  - Report Presets
  - Report Schedules
- name: Settings
  tags:
  - Text Snippets
  - Billing Settings
  - Currencies
  - Tax Rate Configurations
- name: Tasks
  tags:
  - Tasks
  - Task Templates
  - Task Template Lists
  - Task Types
- name: Trust
  tags:
  - Trust Line Items
  - Trust Requests
- name: Users
  tags:
  - Users
  - Groups
- name: Legal Aid US
  tags:
  - Grants
  - Grant Funding Sources
- name: Legal Aid England & Wales
  tags:
  - Civil Controlled Rates
  - Civil Certificated Rates
  - Criminal Controlled Rates
  - Expense Categories
